{#
Patternlab links:
http://develop.styleguide.eanadev.org/?p=templates-HIM-video-list
http://develop.styleguide.eanadev.org/?p=templates-HIM-video-judge
#}
{% extends '_base_page.twig' %}

{% block bodyclass %}page_entry_list{% endblock %}

{% block main %}

    {% if taxonomytype is defined %}
        {% if taxonomy.options[slug] is defined %}
            {% set title = __('Overview for') ~ ' ' ~ taxonomy.options[slug] %}
        {% else %}
            {% set title = __('Overview for') ~ ' ' ~ slug %}
        {% endif %}
        {% set records = records|order(app.config.get('general/listing_sort')) %}
    {% endif %}

    {% if search is defined %}
        {% set title = __('Search results for <b> %search% </b>.', { '%search%': search|escape })  %}
    {% endif %}

    {% if taxonomytype is not defined and search is not defined and record is not defined %}
        {% set title = __('Overview of Entries') %}
        {% set hide_winners = 1 %}
    {% endif %}
<!-- Start content -->
<div class="l-content">

    <div class="page_header">
        {% include 'items/_item-breadcrumb.twig' %}
    </div>

    {% if record is defined %}
        <!-- We have a record -->
        {#{{ dump(record) }}#}
        {% set records = record.related() %}
        <div class="textcontent">
            <div class="prose">
                <h1 class="title">{{ record.title }}</h1>
                <p class="intro">{{ record.intro }}</p>
            </div>
        </div>
    {% elseif records is not defined %}
        <!-- We have nothing -->
        {% set records = [] %}
    {% endif %}
    {#{{ dump(himentries|default('')) }}#}

    {% set spotlight = [] %}
    {% for entry in records if 'Eyecatcher' in entry.taxonomy.ranks|default([]) %}
        {% set spotlight = spotlight|merge([entry]) %}
    {% endfor %}
    {% if spotlight is not empty and hide_winners is not defined %}
        <div class="video-winner section">
            <h2>Winner of {{ record.title|default('unknown') }}</h2>
            {% for item in spotlight %}
                {% include('items/_item-intro-video-spotlight.twig') with { item: item } %}
            {% endfor %}
        </div>
    {% endif %}

    {% set winners = [] %}
    {% for entry in records if 'Winner' in entry.taxonomy.ranks|default([]) %}
        {% set winners = winners|merge([entry]) %}
    {% endfor %}
    {% if winners is not empty and hide_winners is not defined  %}
        <div class="video-list video-winners section">
            <h2>All Category Winners</h2>
            <ul class="cf">
                {% for item in winners %}
                    <li class="video-list-item">
                        {% include('items/_item-intro-video.twig') with { item: item } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% set shortlist = [] %}
    {% for entry in records if 'Shortlist' in entry.taxonomy.ranks|default([]) %}
        {% set shortlist = shortlist|merge([entry]) %}
    {% endfor %}
    {% if shortlist is not empty and hide_winners is not defined  %}
        <div class="video-list video-shortlist section">
            <h2>Shortlist</h2>
            <ul class="cf">
                {% for item in shortlist %}
                    <li class="video-list-item">
                        {% include('items/_item-intro-video.twig') with { item: item } %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% set otherentries = [] %}
    {% for entry in records if 'Nominee' in entry.taxonomy.ranks|default([]) or entry.taxonomy.ranks|default([]) is empty %}
        {% set otherentries = otherentries|merge([entry]) %}
    {% endfor %}
    {% if otherentries is not empty %}
        <div class="video-list section">
            <h2>All Submissions</h2>
            <ul class="cf">
                {% for item in otherentries %}
                    <li class="video-list-item">
                        {% include('items/_item-intro-video.twig') with { item: item } %}
                    </li>
                {% else %}
                    <li class="video-list-item">
                        <p>No entries found.</p>
                    </li>
                {% endfor %}
            </ul>
            {{ pager() }}
        </div>
    {% endif %}

    {% if record is defined %}
        <div class="textcontent">
            <div class="prose">
                <div class="prose">{{ record.body }}</div>
            </div>
        </div>
    {% endif %}

</div>

<div class="l-sidebar">
    {% include 'items/_item-tags-large.twig' with {items:null} %}

    {% if record is defined %}
        {% set contacts = record.related('persons') %}
        {% if contacts is defined %}
            {% include 'items/_item-help.twig' with { records: contacts } %}
        {% endif %}
    {% else %}
        <!-- no contact for sidebar found -->
    {% endif %}

</div>


<!-- End Content -->

{% endblock %}
