{#
Patternlab links:
n/a
#}
{% extends '_base_page.twig' %}

{% block bodyclass %} page_user_profile {% endblock %}

{% block main %}
<!-- Start content -->
<div class="l-content">

    <div class="page_header">

        {% include 'items/_item-breadcrumb.twig' %}

    </div>

    <div class="maincontent">
        <h1>{{ __('Edit my profile') }}</h1>

        <div class="textcontent">
            <div class="prose">
                {{ form_start(form_profile) }}

                <fieldset id="personal-details" class="field-container">
                    <legend><h3>Personal details</h3></legend>

                    <div class="field-container">
                    {{ form_errors(form_profile.displayname) }}
                    {{ form_label(form_profile.displayname) }}
                    {{ form_widget(form_profile.displayname, {'attr': {'placeholder': 'Name'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.email) }}
                    {{ form_label(form_profile.email) }}
                    {{ form_widget(form_profile.email, {'attr': {'placeholder': 'Email address'}}) }}
                    </div>

                    <div class="field-container">
                    {% do form_profile.password.setRendered %}
                    {#
                                {{ form_errors(form_profile.password) }}

                                <div class="input-wrapper-icon icon-password">
                                    {{ form_widget(form_profile.password.first, {'attr': {'class': 'icon-bg icon-password', 'placeholder': 'Password'}}) }}
                                </div>
                                <div class="input-wrapper-icon icon-password">
                                    {{ form_widget(form_profile.password.second, {'attr': {'class': 'icon-bg icon-password', 'placeholder': 'Confirm Password'}}) }}
                                </div>
                    #}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.first_name) }}
                    {{ form_label(form_profile.first_name) }}
                    {{ form_widget(form_profile.first_name, {'attr': {'placeholder': 'First name'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.last_name) }}
                    {{ form_label(form_profile.last_name) }}
                    {{ form_widget(form_profile.last_name, {'attr': {'placeholder': 'Last name'}}) }}
                    </div>

                    <div class="field-container">
                    {% do form_profile.biography.setRendered %}
                    {#
                    {{ form_errors(form_profile.biography) }}
                    <div class="input-wrapper-icon">
                        {{ form_widget(form_profile.biography, {'attr': {'class': 'icon-bg icon-biography', 'placeholder': 'Biography'}}) }}
                    </div>
                    #}
                    </div>
                </fieldset>

                <fieldset id="organisation" class="field-container">
                    <legend><h3>Organisation</h3></legend>
                    
                    <div class="field-container">
                    {{ form_errors(form_profile.organisation) }}
                    {{ form_label(form_profile.organisation) }}
                    {{ form_widget(form_profile.organisation, {'attr': {'placeholder': 'Organisation name'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.organisation_url) }}
                    {{ form_label(form_profile.organisation_url) }}
                    {{ form_widget(form_profile.organisation_url, {'attr': {'placeholder': 'Organisation Website'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.profession) }}
                    {{ form_label(form_profile.profession) }}
                    {{ form_widget(form_profile.profession, {'attr': {'placeholder': 'Profession'}}) }}
                    </div>

                </fieldset>

                {% do form_profile.website.setRendered %}
                
                {% do form_profile.twitter_handle.setRendered %}
               
                {#
                <fieldset id="online-presence" class="field-container">
                    <legend><h3>Online presence</h3></legend>

                    {{ form_errors(form_profile.website) }}
                    {{ form_label(form_profile.website) }}
                    {{ form_widget(form_profile.website, {'attr': {'placeholder': 'Website'}}) }}

                    {{ form_errors(form_profile.twitter_handle) }}
                    {{ form_label(form_profile.twitter_handle) }}
                    {{ form_widget(form_profile.twitter_handle, {'attr': {'placeholder': 'Twitter Address'}}) }}
                </fieldset>
                #}

                <fieldset id="address-information" class="field-container">
                    <legend><h3>Address information</h3></legend>
                    
                    <div class="field-container">
                    {{ form_errors(form_profile.address_street) }}
                    {{ form_label(form_profile.address_street) }}
                    {{ form_widget(form_profile.address_street, {'attr': {'placeholder': 'Street Address'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.address_street_meta) }}
                    {{ form_label(form_profile.address_street_meta) }}
                    {{ form_widget(form_profile.address_street_meta, {'attr': {'placeholder': 'Address other'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.address_city) }}
                    {{ form_label(form_profile.address_city) }}
                    {{ form_widget(form_profile.address_city, {'attr': {'placeholder': 'City'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.address_state) }}
                    {{ form_label(form_profile.address_state) }}
                    {{ form_widget(form_profile.address_state, {'attr': {'placeholder': 'State or Province'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.address_country) }}
                    {{ form_label(form_profile.address_country) }}
                    {{ form_widget(form_profile.address_country, {'attr': {'placeholder': 'Country'}}) }}
                    </div>

                    <div class="field-container">
                    {{ form_errors(form_profile.phone_number) }}
                    {{ form_label(form_profile.phone_number) }}
                    {{ form_widget(form_profile.phone_number, {'attr': {'placeholder': 'Phone Number'}}) }}
                    </div>

                </fieldset>

                {{ form_widget(form_profile.submit, {'label': 'Save »'}) }}

                {{ form_end(form_profile) }}
            </div>
        </div>
    </div>
</div>
{# END l-content #}

<div class="l-sidebar">

    {% set associated_providers = member_providers() %}
    {% if providers|length > 1 %}
        <div class="account-item">
            {{ form_start(form_associate) }}
            <ul class="provider-association-list">
                {% for provider in providers|keys %}
                    <li class="members-oauth-provider {{ provider }}">
                        {% if provider != 'local' %}
                            {% if provider == 'google' %}
                                {% set providerclass = 'googleplus' %}
                            {% else %}
                                {% set providerclass = provider %}
                            {% endif %}
                            {% if (provider not in associated_providers) %}
                                {#{{ form_row(form_associate[provider]) }}#}
                                <button type="submit" name="associate[{{ provider }}]" data-connected="false" id="associate_{{ provider }}"
                                        class="not-connected" title="{{ providers[provider].labelAssociate }}">
                                    <svg class="icon icon-{{ providerclass }}">
                                        <use xlink:href="#icon-{{ providerclass }}"></use>
                                    </svg>
                                    {{ providers[provider].labelAssociate }}
                                </button>
                            {% else %}
                                <span class="connected" data-connected="true" title="You are connected to {{ provider|title }}">
                                    <svg class="icon icon-{{ providerclass }}">
                                        <use xlink:href="#icon-{{ providerclass }}"></use>
                                    </svg>
                                    You are connected to {{ provider|title }}
                                </span>
                            {% endif %}
                            {% do form_associate[provider].setRendered %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {{ form_end(form_associate) }}
        </div>
    {% endif %}

    {%  include 'items/_item-profile-mini.twig' with { currentuser: currentuser, member: member|default(), member_meta: member_meta|default() } %}

</div>
{# end sidebar #}

<!-- End Content -->
{% endblock %}
