{#
Patternlab links:
n/a
#}
{% extends '_base_page.twig' %}

{% block main %}

<!-- Start content -->
<div class="l-content">

    <div class="page_header">

        {% include 'items/_item-breadcrumb.twig' %}

    </div>

    <div class="maincontent">

        <div class="textcontent">

            <div class="prose">

                <h1 class="title">{{ record.title }}</h1>

                <p class="intro">
                    {{ record.intro }}
                </p>

                {% include 'items/_item-image-large.twig' with { image: record.image|default() } %}

                <div class="prose">{{ record.body }}</div>

                {{ boltforms('contact') }}

            </div>

        </div>

        <!-- End Main -->

    </div> {# end maincontent #}

</div>

<div class="l-sidebar js-getstickywidth">

    {% if record is defined %}
        {% set contacts = record.related('persons') %}
        {% if contacts is defined %}
            {% include 'items/_item-help.twig' with { records: contacts } %}
        {% endif %}
    {% else %}
        <!-- no contact for sidebar found -->
    {% endif %}

    {#{{ menu('subnav-records', 'items/_menu_secondary.twig') }}#}

</div>

<!-- End Content -->

{% endblock %}
