{#
Patternlab links:
n/a
#}
{% extends '_base_page.twig' %}

{% if is_member() %}
    {% set member = member() %}
    {% set member_meta = member_meta() %}
    {# use the current user from the members extension #}
    {% set currentuser = { 'id': member.guid|default(1), 'name': member.displayname|default('Rick'), 'email': member.email|default('rick@browsercheck.nl') } %}
    {# use the current entry from the url get #}
    {% set currententryid = request('id') %}
    {% setcontent himentry = 'himentries' where { 'userid': currentuser.id, 'id': currententryid, status: '!' } %}
{% endif %}

{% block bodyclass %} page_user_profile page_entry_submit {% endblock %}

{% block main %}
{% if is_member() and himentry is defined and himentry is not empty %}
<!-- Start content -->
<div class="l-content">
        <div class="page_header">

            {% include 'items/_item-breadcrumb.twig' %}

        </div>

        <div id="entry-detail" class="entry-detail">

                <div class="section">

                    <h2>{{ himentry.title }}</h2>
                    {#{{ dump(app) }}#}
                    {#{{ dump(app.request) }}#}
                    {#{{ dump(currentuser) }}#}
                    {#{{ dump(himentry) }}#}
                </div>

                {{ boltforms('heritageedit', defaults={
                    'id': currententryid,
                    'userid': currentuser.id,
                    'name': currentuser.name,
                    'email': currentuser.email,
                    'title': himentry.title,
                    'status': himentry.status,
                    'credits': himentry.credits,
                    'summary': himentry.summary,
                    'description': himentry.description,
                    'projecturl': himentry.projecturl,
                    'clienttags': himentry.clienttags,
                    'upload_images': himentry.upload_images,
                    'videolink': himentry.videolink,
                    'fullentry': himentry
                }) }}

        </div>

</div>
{# END l-content #}

<div class="l-sidebar">
    <div class="section account-detail-edit-this cf">
        <div class="account-item">
            <a href="/page/preview-a-heritage-in-motion-entry?id={{ currententryid }}" class="btn pill">Preview this »</a>
        </div>
    </div>

    {%  include 'items/_item-profile-mini.twig' with { currentuser: currentuser, member: member|default(), member_meta: member_meta|default() } %}
</div>
{# end sidebar #}

<!-- End Content -->
{% else %}
    <div class="l-content">
        <div class="page_header">
            {% include 'items/_item-breadcrumb.twig' %}
        </div>

        <div id="entry-detail" class="entry-detail">
            <p>You need to <a href="/authentication/login">sign in</a> for this.</p>
        </div>
    </div>
    <div class="l-sidebar">
    </div>
{% endif %}
{% endblock %}
