{#
Patternlab links:
http://develop.styleguide.eanadev.org/?p=templates-HIM-static-page
http://develop.styleguide.eanadev.org/?p=templates-HIM-person-detail
#}
{% extends '_base_page.twig' %}

{% block main %}

{% set events = record.related('events') %}
{# {% set publications = record.related('publications') %} Not used on HIM #}
{% set blogposts = record.related('blogposts') %}


<!-- Start content -->
<div class="l-content">

    <div class="page_header">

        {% include 'items/_item-breadcrumb.twig' %}

    </div>

    <div id="maincontent" class="maincontent">

        <h1 class="title">Heritage in Motion Staff</h1>


        <div class="contact-detail cf">

            <div class="l-contact-photo">
                {% if record.image %}
                    <img src="{{ record.image|image( 300, 400, "c") }}" alt="{{ record.image|title }}" />
                {% else %}
                    <img src="{{ paths.theme }}/images/fpo_avatar.png" alt="{{ record.image|title }}" />
                {% endif %}
            </div>

            <div class="l-contact">

                <div class="contact-methods cf">

                    <h2 class="fn">{{ record.first_name }} {{ record.last_name }}</h2>

                    <div class="jobdetails">
                        <div class="job-title">{{ record.job_title }}</div>
                        <div class="item-sendemail">
                            <a class="email" href="{{ record.email }}">
                                <svg class="icon icon-sendemail"><use xlink:href="#icon-sendemail"></use></svg> 
                                {{ record.email }}
                            </a>
                        </div>
                    </div>

                    <div class="contact-internal">
                        {% if record.phone is not empty %}
                        <div class="item-phone-work">
                            <svg class="icon icon-phone-work">
                                <use xlink:href="#icon-phone-work"></use>
                            </svg>
                            <span class="tel">{{ record.phone }}</span>
                        </div>
                        {% endif %}

                        {% if record.mobile is not empty %}
                        <div class="item-phone-mobile">
                            <svg class="icon icon-phone-mobile">
                                <use xlink:href="#icon-phone-mobile"></use>
                            </svg>
                            <span class="tel">{{ record.mobile }}</span>
                        </div> 
                        {% endif %}

                    </div>

                    <ul class="contact-external">
                        
                        {% if record.twitter is not empty %}
                            {% set twittername = record.twitter|split('/')|last %}
                            <li>
                                <a href="{{ record.twitter }}">
                                    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                                    @{{ twittername }}
                                </a>
                            </li>
                        {% endif %}

                        {% if record.skype is not empty %}
                            <li>
                                <a href="{{ record.skype }}">
                                    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                                    {{ record.skype }}
                                </a>
                            </li>
                        {% endif %}

                        {% if record.linkedin is not empty %}
                            <li>
                                <a href="{{ record.linkedin }}">
                                    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                                    {{ record.linkedin }}
                                </a>
                            </li>
                        {% endif %}

                    </ul>

                </div>

                <div class="contact-additional">
                    {{ record.introduction }}

                    {# note" Below fields not used on HIM , added for future use #}
                    {% if (record.other_links_1 or record.other_links_2 or record.other_links_3 ) %}
                    <ul class="nav">
                        {% if record.other_links_1 %}
                        <li><a href="{{ record.other_links_1 }}">{{ record.other_links_1 }}</a></li>
                        {% endif %}
                        {% if record.other_links_2 %}
                        <li><a href="{{ record.other_links_2 }}">{{ record.other_links_2 }}</a></li>
                        {% endif %}
                        {% if record.other_links_3 %}
                        <li><a href="{{ record.other_links_3 }}">{{ record.other_links_3 }}</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}

                </div>

            </div>
        </div>

            {% if events %}
            <div class="cf">
                <h2>Speaking at</h2>
                <div class="results">
                    <ul class="results-list">
                        {% for event in events %}
                            <li class="list-item cf">
                            {% include 'items/_item-intro-event.twig' with { item: event } %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    
            </div>
            {% endif %}

            {% if publications %}
            <div class="cf">
                <h2>Publications</h2>
                <ul class="results-list">
                    {% for publication in publications %}
                        {% include 'items/_item-list.twig' with {record: publication} %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if blogposts %}
            <div class="cf">
                <h2>Blog posts</h2>
                <ul class="results-list">
                    {% for blogpost in blogposts %}
                    <li class="list-item cf">
                        {% include 'items/_item-intro-blogpost.twig' with { item: blogpost } %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}



            </div>
        </div>

<div class="l-sidebar js-getstickywidth">

    {% if record is defined %}
        {% set contacts = record.related('persons') %}
        {% if contacts is defined %}
            {% include 'items/_item-help.twig' with { records: contacts } %}
        {% endif %}
    {% else %}
        <!-- no contact for sidebar found -->
    {% endif %}

    

</div>

<!-- End Content -->

{% endblock %}
