{#
Patternlab links:
n/a
#}
{% extends '_base_page.twig' %}

{% if is_member() %}
    {% set member = member() %}
    {% set member_meta = member_meta() %}
    {# use the current user from the members extension #}
    {% set currentuser = { 'id': member.guid|default(1), 'name': member.displayname|default('Rick'), 'email': member.email|default('rick@browsercheck.nl') } %}
    {# use the current entry from the url get #}
    {% set currententryid = request('id') %}
    {% setcontent himentry = 'himentries' where { 'userid': currentuser.id, 'id': currententryid, status: '!' } %}
    {% setcontent currentedition = 'himeditions' where { 'submission_start': '<now', 'submission_deadline': '>now', 'submission_closed': '!1' } returnsingle %}
{% endif %}

{% block bodyclass %} page_user_profile page_entry_submit {% endblock %}

{% block main %}
{% if is_member() and himentry is defined and himentry is not empty %}
<!-- Start content -->
<div class="l-content">
        <div class="page_header">

            {% include 'items/_item-breadcrumb.twig' %}

        </div>

    <div class="maincontent">

        <div class="textcontent">

            <div class="prose">

                <h1 class="title">{{ record.title }}</h1>
                {#{{ dump(app) }}#}
                {#{{ dump(app.request) }}#}
                {#{{ dump(currentuser) }}#}
                {#{{ dump(himentry) }}#}
                <p class="intro">
                {{ record.intro }}
                </p>

            </div>
        </div>

        {# use the current entry from the url get #}
        {% set currententryid = request('id') %}
        {% set viewlink = '/page/preview-a-heritage-in-motion-entry?id='~himentry.id %}
        <div class="section">
            <ul class="cf">
                <li class="submission-list-item list-item cf">
                    <h3><span class="inabox">{{ currentedition.title }}</span></h3>
                    {#{{ dump(himentry) }}#}
                    <div class="cf">

                        <div class="item-supplementary">
                            <div class="item-image">

                                <a href="{{ viewlink }}">
                                    {% if himentry.upload_images is not empty %}
                                        {% set first = himentry.upload_images|first %}
                                        <img src="{{ image(first.filename, 640, 360) }}" alt="{{ first.title }} - thumbnail" />
                                    {% else %}
                                        {% set videodata = getvideodata( himentry.videolink ) %}
                                        {#{{ dump(videodata) }}#}
                                        {% if videodata.type == 'youtube' %}
                                            <img src="https://img.youtube.com/vi/{{ videodata.video_id }}/mqdefault.jpg" alt="{{ record.title }} - thumbnail" />
                                        {% else %}
                                            <span class="no-image">No image for {{ videodata.type }}</span>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </div>
                        </div>

                        <div class="item-details">
                            <h4>{{ himentry.title }}</h4>
                            <div class="summary">
                                {{ himentry.summary|default(himentry.description) }}
                            </div>

                            {# % if himentry.clienttags is defined and himentry.clienttags is not empty %}
                                <div class="item-meta-secondary">
                                    {% set himentrytags = himentry.clienttags|split(',') %}
                                    {% include 'items/_item-tags.twig' with {tags: himentrytags} %}
                                </div>
                            {% endif % #}
                        </div>
                    </div>


                    <div class="submission-meta cf">

                        {% set payment = payment(himentry.transaction_id)|default('') %}
                        {% if payment.status|default('') != 'paid' %}
                            {{ cart(
                            gateway = 'mollie',
                            amount = currentedition.values.submission_cost|number_format(2),
                            currency = 'EUR',
                            description = 'HiM entry payment: ' ~ himentry.id,
                            data = { 'contenttype': 'himentries', 'id': himentry.id },
                            method = 'GET'
                            ) }}
                        {% else %}
                            <span class="submission-status btn pill approved">
                                <svg class="icon icon-check">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                                </svg>
                                Paid
                            </span>
                        {% endif %}

                        <div class="submission-actions">
                            <ul class="button-bar button-bar-small">
                                {% if himentry.status != 'published' %}
                                    <li>
                                        <a href="/page/edit-a-heritage-in-motion-entry?id={{ himentry.id }}"
                                           class="button-bar__button">
                                            <svg class="icon icon-edit">
                                                <use xlink:href="#icon-edit"></use>
                                            </svg>
                                            Edit
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        {% if record.body is not empty %}
        <div class="textcontent">
            <div class="prose">
                <div class="prose">{{ record.body }}</div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{# END l-content #}

<div class="l-sidebar">
    {%  include 'items/_item-profile-mini.twig' with { currentuser: currentuser, member: member|default(), member_meta: member_meta|default() } %}
</div>
{# end sidebar #}

<!-- End Content -->
{% else %}
    <div class="l-content">
        <div class="page_header">
            {% include 'items/_item-breadcrumb.twig' %}
        </div>

        <div id="entry-detail" class="entry-detail">
            <p>You need to <a href="/authentication/login">sign in</a> for this.</p>
        </div>
    </div>
    <div class="l-sidebar">
    </div>
{% endif %}
{% endblock %}
