{#
Patternlab links:
http://develop.styleguide.eanadev.org/?p=templates-HIM-Blog-Detail
#}
{% extends '_base_page.twig' %}

{% block bodyclass %} page_entry_detail {% endblock %}

{% block main %}

{% setcontent authors = 'persons' where { id: record.author|join(' || ') } %}


<!-- Start content -->
<div class="l-content">

    <div class="page_header">

        {% include 'items/_item-breadcrumb.twig' %}

    </div>

    <div class="maincontent">

        <div class="textcontent">

            <div class="articleheader">

                <h1 class="title">{{ record.title }}</h1>

                <div class="item-meta-primary">
                    
                    {% setcontent authors = 'persons' where { id: record.author|join(' || ') } %}
                    {% include 'items/_item-author.twig' with { record: authors } %}

                    {% include 'items/_item-readtime.twig' with { record: record } %}

                </div>

                <div class="item-meta-secondary">

                    {% include 'items/_item-date.twig' with { record: record } %}

                    {% include 'items/_item-tags.twig' with { record: record } %}

                    {% include 'items/_item-comments-link.twig' with { record: record } %}

                </div>


            </div>

            <div class="prose">

                <p class="intro">
                    {{ record.intro }}
                </p>

                {% include 'items/_item-image-large.twig' with { image: record.image|default() } %}

                <div class="prose">{{ record.body }}</div>

                {% if record.videolink %}
                    <a class="embedly-card" href="{{ record.videolink }}">{{ record.title }}</a>
                    
                {% endif %}

            </div>

        </div>

        {% if record.relation is defined %}
            {% include 'items/_item-related.twig' with { record: record, short: true, title: "You might also like" } %}
        {% endif %}

<!-- End Main -->

    </div> {# end maincontent #}

</div>

<div class="l-sidebar js-getstickywidth">

    {% if record.author is not empty %}
        {% include 'items/_item-help.twig' with { records: authors, title: 'About the author' } %}
    {% endif %}


</div>

<!-- End Content -->

{% endblock %}

