{% extends '_base_page.twig' %}

{% block main %}

    {% if response.isSuccessful() %}
        <div class="alert alert-success">Congratulations, your request was successful!</div>
    {% elseif response.isRedirect() %}
        <div class="alert alert-info">Your request requires {{ response.redirectMethod }}
            redirect to an off-site payment page.</div>

        {% if response.redirectMethod == "GET" %}
            <p><a href="{{ response.redirectUrl }}" class="btn btn-success">Redirect Now</a></p>
        {% elseif response.redirectMethod == "POST" %}
            <form method="POST" action="{{ response.redirectUrl }}">
                <p>
                {% for key, value in response.redirectData %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <button class="button">Redirect Now</button>
                </p>
            </form>
        {% endif %}
    {% else %}
        <div class="alert alert-error">Sorry, your request failed.</div>
    {% endif %}

{% endblock main %}
