{% extends 'partials/_master.twig' %}

{% block main %}
    <h1>Frontpage listing</h1>
    {% for ct in app.config.get('contenttypes')  %}

        {% setcontent records = ct.slug ~ "/random/5" %}

        <h5>{{ ct.name }}</h5>
        <ul>
            {% for record in records %}
                <li><a href="{{ record.link }}">{{ record.title|default(record.slug) }}</a> {% include 'partials/_subsite_indicator.twig' with { 'record': record } %}</li>
            {% else %}
                <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
            {% endfor %}
        </ul>
        <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>

    {% endfor %}

{% endblock main %}
