<div class="social-login lc">
{% if providers|length > 1 %}
    <h4>Log in using:</h4>

    {{ form_start(form_login_oauth) }}

    {% for provider in providers|keys %}
        {% if provider != 'local' %}
            {% if provider == 'google' %}
                {% set providerclass = 'googleplus' %}
            {% else %}
                {% set providerclass = provider %}
            {% endif %}
            {% do form_login_oauth[provider].setRendered %}
            <button type="submit" id="login_oauth_{{ provider }}" name="login_oauth[{{ provider }}]" class="icon-social members-oauth-provider {{ provider }}">
                <svg class="icon icon-{{ providerclass }}">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ providerclass }}"></use>
                </svg>
            </button>
        {% endif %}
    {% endfor %}

    {{ form_end(form_login_oauth) }}
{% else %}
    <h4>There are no other login providers configured.</h4>
{% endif %}
</div>
