{#
used in: 
- listing.twig:
- record.twig
- record_blogpost.twig
- record_page.twig


Variables:
- short         : no images
- title         : title above the items
- count         : amount of items

#}

{% if record.relation is defined and record.relation is not empty %}

{% set related = record.related()|shuffle %}

    {% set short = short|default('false') %}
    
    <div class="related-items">
        <h4>{{ title|default('Related') }}</h4>
        <ul class="l-relatedlinks">
            
            {% set count = 0 %}

            {# show 3 related items that are not persons #}
            {% for item in related if item.contenttype.slug != 'persons' and count < 3 %}
                <li class="related-item">
                    <div class="link-block-text link-block block">
                        <a href="{{ item.link() }}" class="b-inner">
                            
                            {% if item.teaser_image and short == false %}
                                <div class="b-thumb">
                                    <img src="{{ thumbnail(item.teaser_image, 400, 300) }}" title="{{ item.teaser_image|title }}">
                                </div>
                            {% endif %}

                            <div class="b-text">
                                <h2 class="item-title">{{ item.title }}</h2>
                                {{ item.teaser.excerpt(100)|default(item.excerpt(100)) }}
                            </div>
                        </a>
                    </div>
                </li>
                
                {% set count = count+1 %}

            {% endfor %}

        </ul>
    </div>
{% endif %}
