{{ form_start(form_register) }}

<h2>Register now</h2>

{{ form_errors(form_register.displayname) }}
<div class="input-wrapper-icon icon-user">
    {{ form_widget(form_register.displayname, {'attr': {'placeholder': 'Name'}}) }}
</div>

{{ form_errors(form_register.email) }}
<div class="input-wrapper-icon icon-user">
    {{ form_widget(form_register.email, {'attr': {'placeholder': 'Email address'}}) }}
</div>

{% if transitional %}
    {% do form_register.password.setRendered %}
{% else %}
    {{ form_errors(form_register.password) }}
    <div class="input-wrapper-icon icon-password">
        {{ form_widget(form_register.password.first, {'attr': {'placeholder': 'Password'}}) }}
    </div>
    <div class="input-wrapper-icon icon-password">
        {{ form_widget(form_register.password.second, {'attr': {'placeholder': 'Confirm Password'}}) }}
    </div>
{% endif %}

{{ form_widget(form_register.submit, {'label': 'Register »', 'attr': {'class': 'btn btn-light pill'}}) }}

{{ form_end(form_register) }}
