
{{ form_start(form_login_password) }}
<p>See, edit or complete your submission</p>
<h2>Log in here</h2>

{{ form_errors(form_login_password.email) }}
{% include "items/_item-login-feedback.twig" %}

<div class="input-wrapper-icon icon-user">
    {{ form_widget(form_login_password.email, {'attr': {'placeholder': 'Email address'}}) }}
</div>
{{ form_errors(form_login_password.password) }}

<div class="input-wrapper-icon icon-password">
    {{ form_widget(form_login_password.password, {'attr': {'placeholder': 'Password'}}) }}
</div>

{# Do not render the provider buttons from Members #}
{% for provider in providers|keys %}
    {% if provider != 'local' %}
        {% do form_login_password[provider].setRendered %}
    {% endif %}
{% endfor %}

<div class="form-controls cf">

    <div class="l-keepmeloggedin">
        <input type="checkbox" id="keepmeloggedin" checked class="left">
        <label for="keepmeloggedin">Keep me logged in</label>
    </div>

    <div class="l-submitcol">
        {{ form_widget(form_login_password.submit, {'label': 'Log In »', 'attr': {'class': 'btn btn-light pill'}}) }}
    </div>
</div>

<a href="/authentication/reset" class="form-forgotpass">Forgot your password?</a>

{{ form_end(form_login_password) }}
