{# FIXME - insert dynamic breadcrumbs #}


<ul class="breadcrumbs">
    <li><a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a></li>

    {% if paths.current in ['/membership/profile/edit', '/membership/profile'] %}
        <li><span class="lastitem">Profile</span></li>
    {% else %}
        {% set slugs = paths.current|split('/') %}
        {% for slug in slugs %}
            {% if not (slug is empty or loop.last) %}
                {% if slug == 'page' %}
                    <!-- no slug today -->
                {% elseif slug == 'about' %}
                    <li><a href="/about">About us</a></li>
                {% elseif slug == 'person' %}
                    <li><a href="/about">About us</a></li>
                    <li><a href="/about/people">People</a></li>
                {% elseif slug == 'event' %}
                    <li><a href="/about">About us</a></li>
                    <li><a href="/about/events">Events</a></li>
                {% elseif slug == 'pressrelease' %}
                    <li><a href="/about">About us</a></li>
                    <li><a href="/about/press">Press</a></li>
                {% elseif slug == 'blogpost' %}
                    {#<li><a href="/about">About us</a></li>#}
                    {#<li><a href="/about/news">News</a></li>#}
                    <li><a href="/news">News</a></li>
                {% elseif slug == 'himedition' %}
                    <li><a href="/gallery">Gallery</a></li>
                {% elseif slug == 'himentry' %}
                    <li><a href="/gallery">Gallery</a></li>
                    {# fetch parent edition for entry and show a link here #}
                    {% if record.relation.himeditions is defined %}
                        {#{{ dump(record.relation) }}#}
                        {% setcontent currentedition = 'himedition/' ~ record.relation.himeditions|first returnsingle %}
                        {#{{  dump(currentedition) }}#}
                        <li><a href="{{ currentedition.link }}">{{ currentedition.title }}</a></li>
                    {% endif %}
                {% elseif slug == 'categories' %}
                    {# TODO: this could link to /himentries #}
                    {#<li><a href="/himentries">All Entries</a></li>#}
                    {# TODO: this could also link to /gallery #}
                    <li><a href="/gallery">Gallery</a></li>
                {% else %}
                    <li><a href="{{ slug }}">{{ slug|capitalize }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <li><span class="lastitem">{{ record.title|default(title|default('Current Page Name')) }}</span></li>
    {% endif %}
</ul>
