{#
  used in:
    - record_blogpost
    - listing_blog
#}
{% if record is not empty %}
<span class="author-name">By:
    {% if record|length > 1 %}
        {% for author in record %}
            <a href="#">{{ author.first_name}} {{ author.last_name}}</a>
            {{- not loop.last ? ',' }}
        {% endfor %}
    {% elseif record.first_name is defined %}
        <a href="#">{{ record.first_name }} {{ record.last_name }}</a>
    {% endif %}
</span>
{% endif %}


