{% set author = member(record.userid) %}
{#{{ dump(author) }}#}
{% set authorprofile = author._fields %}
{#{{ dump(authorprofile) }}#}

<h2 class="submitter-name">{{ record.name|default(author.displayname) }}</h2>

<div class="submitter-bio">
    {{ authorprofile.biography|default('This user has not entered a bio yet.') }}
</div>

<div class="submitter-meta">
    {# TODO: why do we show personal info #}
    {% if record.email is defined and record.email is not empty %}
        <div class="item-sendemail">
            <a class="email" href="mailto:email@europeana.eu">
                <svg class="icon icon-sendemail"><use xlink:href="#icon-sendemail"></use></svg>
                {{ record.email }}
            </a>
        </div>
    {% endif %}

    {% if authorprofile.website is defined and authorprofile.website is not empty %}
        <div class="item-website">
            <a class="website" href="{{ authorprofile.website }}">
                <svg class="icon icon-linkout"><use xlink:href="#icon-linkout"></use></svg>
                {{ authorprofile.website }}
            </a>
        </div>
    {% endif %}

    {% if authorprofile.twitter_handle is defined and authorprofile.twitter_handle is not empty %}
        <div class="item-twitter">
            <a class="twitter" href="{{ authorprofile.twitter_handle }}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                {{ authorprofile.twitter_handle }}
            </a>
        </div>
    {% endif %}

    {# TODO: why do we show personal info #}
    {% if authorprofile.phone_number is defined and authorprofile.phone_number is not empty %}
        <div class="item-phone-work">
            <svg class="icon icon-phone-work">
                <use xlink:href="#icon-phone-work"></use>
            </svg>
            <span class="tel">{{ authorprofile.phone_number }}</span>
        </div>
    {% endif %}
</div>
