{#
  Copied from pro
#}
{% if record.start_event %}

    {% set event = record %}

    <div class="event-date">

        <div class="date-days">
            <span class="date-start">{{ event.start_event|localdate("%e") }}</span>
            {# show only on various days  #}
            {% if event.start_event|date('d') != event.end_event|date('d') %}
                <span class="date-end">— {{ event.end_event|localdate("%e") }}</span>
            {% endif %}
        </div>

        <div class="date-month">
            {{ event.start_event|localdate("%B") }}
            {# show only on various months #}
            {% if event.start_event|date('M') != event.end_event|date('M') %}
                / {{ event.end_event|localdate("%B") }}
            {% endif %}
        </div>

        <div class="date-year">
            {{ event.start_event|localdate("%Y") }}
            {# show only on various years #}
            {% if event.start_event|date('Y') != event.end_event|date('Y') %}
                / {{ event.end_event|localdate("%Y") }}
            {% endif %}
        </div>

        <div class="time">
            <svg class="icon icon-clock">
                <use xlink:href="#icon-clock"></use>
            </svg>
            <span class="time-start">{{ event.start_event|localdate("%H:%M") }}</span>
            <span class="time-end">— {{ event.end_event|localdate("%H:%M") }}</span>
        </div>

    </div>
{% endif %}
