{% if records|length == 1 and records.first_name is defined %}
    {% set records = [ records ] %}
{% endif %}
{% if records %}
<div class="help-contact">
    <h4>{{ title|default('Questions?') }}</h4>

    {% for person in records %}
        <div>
            <a href="{{ person.link() }}">
            {% if person.image is defined %}
                <img src="{{ person.image|image(300,400,"c") }}" alt="{{ person.image|title|default(person.first_name ~' '~ person.last_name) }}" />
            {% else %}
                <img src="{{ paths.theme }}/images/fpo_avatar.png" alt="{{ person.first_name }} {{ person.last_name }}" /> {# FIX ME - add placeholder image #}
            {% endif %}
            </a>

            <h5>Contact:</h5>
            <div class="vcard">
                <div class="fn">{{ person.first_name }} {{ person.last_name }}</div>

                {% if person.telephone_number != "" %}
                    <div class="tel">{{ person.telephone_number }}</div>
                {% endif %}

                {% if person.email != "" %}
                    <a class="email" href="mailto:{{ person.email }}">{{ person.email }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
