{# the containing <ul> for this menu is in _base.twig because this menu template is reused #}
{% set slugs = paths.currenturl %}
{% for item in menu %}
<li class="{{item.class|default('')}}">
    {% if ( item.path|slice(1, item.path|length) in slugs) %}
        <a class="is-current" href="{{ item.link|default('#') }}">{{ item.label|default('[unlabeled link]') }}</a>
    {% else %}
        <a href="{{ item.link|default('#') }}">{{ item.label|default('[unlabeled link]')  }}</a>
    {% endif %}

    {% if item.submenu is defined %}
        <ul class="menu-sublevel caret">
            {% for subitem in item.submenu %}
                {% if subitem.label is defined and subitem.label == 'archive' %}
                    {% setcontent archives = 'himeditions' where { 'edition_menu' : 1 } limit 5 orderby '-submission_deadline' %}
                    {% for archive in archives %}
                        <li>
                            <a href="{{ archive.link|default('') }}"
                               tabindex="1">{{ archive.title|default('[unlabeled link]') }}</a>
                        </li>
                        {% if loop.first %}
                            <li class="menu-divider">
                                <a href="#" tabindex="1">[unlabeled link]</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="{{subitem.class|default('')}}">
                        <a href="{{ subitem.link|default('') }}"
                          tabindex="1">{{ subitem.label|default('[unlabeled link]') }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endfor %}
