{#=== INIT ===========================================================================================================#}

{% set currentcontent = context.content.get(contentkey)|default('') %}

{#=== OPTIONS ========================================================================================================#}

{% set attributes = {
    text: {
        name:            name ~ '_current',
        label:           field.label,
        class:           'current-value',
        data_errortext:  field.error|default(''),
        placeholder:     field.placeholder|default(''),
        required:        field.required|default(false),
        style:           field.height|default('') ? 'height: ' ~ field.height ~ ';' : '',
    },
    before: {
        name:           name ~ '_before',
        class:          'before-value hide',
    },
    templates: {
        'label':     'Templates',
        'name':      key ~ '[templates]',
        'id':        key ~ '[templates]',
        'all':       false,
        'clear':     false,
        'required':  true,
        'multiple':  false,
        'values':    field.options.templates|default({ 'titles': 'Title links', 'teasers': 'Teasers', 'details': 'Full details' }),
        'default':   'teasers',
    },
    ordering: {
        'label':     'Ordering',
        'name':      key ~ '[ordering]',
        'id':        key ~ '[ordering]',
        'all':       false,
        'clear':     false,
        'required':  true,
        'multiple':  false,
        'values':    field.options.ordering|default({ 'random': 'random', 'latest': 'latest', 'specified': 'specified' }),
        'default':   'latest',
    },
    sources: {
        'label':     'Sources',
        'name':      key ~ '[sources]',
        'id':        key ~ '[sources]',
        'all':       false,
        'clear':     false,
        'required':  true,
        'multiple':  false,
        'values':    field.options.sources|default({ 'pages': 'Pages', 'entries': "Entries" }),
        'default':   'pages',
    }
} %}



{#=== FIELDSET =======================================================================================================#}
<fieldset class="form-group bolt-field-text viewblocks" name="{{ name }}" id="{{ name }}">
    <legend class="sr-only">{{ labelkey }}</legend>
    <label class="main col-xs-12">{{ labelkey }}: {{ field.info|default('') }}</label>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-sm-12">
                {% include '@bolt/editcontent/fields/_select.twig' with {
                    field: attributes.templates,
                    labelkey: attributes.templates.label,
                    key: attributes.templates.name,
                    name: attributes.templates.name
                } %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-sm-12">
                {% include '@bolt/editcontent/fields/_select.twig' with {
                    field: attributes.ordering,
                    labelkey: attributes.ordering.label,
                    key: attributes.ordering.name,
                    name: attributes.ordering.name
                } %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-sm-12">
                {% include '@bolt/editcontent/fields/_select.twig' with {
                    field: attributes.sources,
                    labelkey: attributes.sources.label,
                    key: attributes.sources.name,
                    name: attributes.sources.name
                } %}
            </div>
        </div>
    </div>
    <div class="form-group visiblevalues">
        <div class="col-xs-12">
            <div class="col-sm-12">
                <span{{ macro.attr(attributes.text) }}>{{ currentcontent|json_encode }}</span>
                <span{{ macro.attr(attributes.before) }}>{{ currentcontent|json_encode }}</span>
            </div>
        </div>
    </div>
</fieldset>


