{#=== INIT ===========================================================================================================#}

{% set currentcontent = context.content.get(contentkey)|default('') %}

{#=== OPTIONS ========================================================================================================#}
{% set datablocks = {
    templates: {
        'label':     'Templates',
        'name':      key ~ '[templates]',
        'all':       false,
        'clear':     false,
        'required':  true,
        'multiple':  false,
        'values':    field.options.templates|default({ 'titles': 'Title links', 'teasers': 'Teasers', 'details': 'Full details' }),
        'default':   'teasers',
    },
    ordering: {
        'label':     'Ordering',
        'name':      key ~ '[ordering]',
        'all':       false,
        'clear':     false,
        'required':  true,
        'multiple':  false,
        'values':    field.options.ordering|default({ 'random': 'random', 'latest': 'latest', 'specified': 'specified' }),
        'default':   'latest',
    },
    sources: {
        'label':     'Sources',
        'name':      key ~ '[sources]',
        'all':       false,
        'clear':     false,
        'required':  true,
        'multiple':  false,
        'values':    field.options.sources|default({ 'pages': 'Pages', 'entries': "Entries" }),
        'default':   'pages',
    }

} %}
{% set attributes = {
    text: {
        name:            key,
        id:              key,
        label:           field.label,
        class:           'current-value viewblocks-field',
        data_errortext:  field.error|default(''),
        placeholder:     field.placeholder|default(''),
        required:        field.required|default(false),
        style:           field.height|default('') ? 'height: ' ~ field.height ~ ';' : '',
        data_source:     key ~ '_source',
    },
    source: {
        name:            key ~ '_source',
        id:              key ~ '_source',
        class:           'col-sm-12 data-value',
        data_templates:  datablocks.templates|json_encode,
        data_ordering:   datablocks.ordering|json_encode,
        data_sources:    datablocks.sources|json_encode,
    }
} %}


{#=== FIELDSET =======================================================================================================#}
<fieldset class="form-group bolt-field-text viewblocks" name="{{ name }}" id="{{ name }}">
    <legend class="sr-only">{{ labelkey }}</legend>
    <label class="main col-xs-12">{{ labelkey }}: {{ field.info|default('') }}</label>
    <div class="form-group">
        <div class="col-xs-12">
            <div{{ macro.attr(attributes.source) }}>
                <textarea{{ macro.attr(attributes.text) }}>{{ currentcontent|default('') }}</textarea>
            </div>
        </div>
    </div>
</fieldset>


