{% spaceless %}
{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'subtitle':  subtitle of the module
    'body':      body of the module
#}
{% set override_css_id = module.override_css_id %}
{% set override_css_class = module.override_css_class %}
{% set template = module.templates %}
{% endspaceless %}
<section {% if override_css_id %}id="{{ override_css_id }}"{% endif %} class="module{%- if override_css_class %} {{ override_css_class }}{% endif -%}">
    <div class="inner-wrap">

    {% if title is not empty %}
        <h2>{{ title }}</h2>
    {% endif %}

    {% if subtitle is defined and subtitle is not empty %}
        <h3>{{ subtitle }}</h3>
    {% endif %}

    {% if body is not empty %}
        <article class="column">
            <div class="body"> {# can be multiple bodies #}
            {{ body|raw }}
            </div>
        </article>
    {% endif %}

    </div>
</section>
