{# Call to action line - form #}
{% spaceless %}
{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'subtitle':  subtitle of the module
    'body':      body of the module
    'records':   array of (selected) records that belong to the module
    'allow_pager': boolean to check is the pager is available
#}
{% set override_css_id = module.get('override_css_id') %}
{% set override_css_class = module.get('override_css_class') %}
{% endspaceless %}

<section {% if override_css_id %}id="{{ override_css_id }}"{% endif %} class="module group section-calltoactionform {%- if override_css_class %} {{ override_css_class }}{% endif -%}">

{% if records is iterable and records is not empty %}

    {% for record in records %}
        {% if record.id is defined %}
            {% set templateslugfile =  'views/_calltoactionform_' ~ record.contenttype.slug ~ '_' ~ record.slug ~ '.twig' %}
            {% set templatefile =  'views/_calltoactionform_' ~ record.contenttype.slug ~ '.twig' %}
            {% set defaulttemplatefile =  'views/_calltoactionform.twig' %}
            <!-- loading templatefile for record:  '{{ templateslugfile }}' or '{{ templatefile }}' or '{{ defaulttemplatefile }}' or 'views/_fallback.twig' -->
            {% include [templateslugfile, templatefile, defaulttemplatefile, 'views/_fallback.twig'] with { item: record, template: template } %}
        {% else %}
            <!-- selected record is unpublished or otherwise unavailable -->
        {% endif %}

    {% endfor %}

{% endif %}

</section>
