{% spaceless %}
{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'subtitle':  subtitle of the module
    'body':      body of the module
    'records':   array of (selected) records that belong to the module
    'allow_pager': boolean to check is the pager is available
#}
{% set override_css_id = module.override_css_id|default('') %}
{% set override_css_class = module.override_css_class|default('') %}
{% set template = module.templates|default('') %}
{% set modulemorelink = module.modulemorelink|default('') %}
{% set modulemorelabel = module.modulemorelabel|default('') %}
{% set modulemoretext = module.modulemoretext|default('') %}
{% endspaceless %}
<section {% if override_css_id %}id="{{ override_css_id }}"{% endif %} class="module group eventregister-section{%- if override_css_class %} {{ override_css_class }}{% endif -%}">
    <div class="inner-wrap">

    {% if title is not empty %}
        <h2>{{ title }}</h2>
    {% endif %}

    {% if subtitle|default('') is not empty %}
        <p>{{ subtitle }}</p>
    {% endif %}

    {% if body is not empty %}
        {{ body|raw }}
    {% endif %}


    {% if records is iterable and records is not empty %}

        <div>
        {% for record in records %}
            {% if record.id is defined %}
                {% set templateslugfile =  'views/_' ~ template ~ '_' ~ record.contenttype.slug ~ '_' ~ record.slug ~ '.twig' %}
                {% set templatefile =  'views/_' ~ template ~ '_' ~ record.contenttype.slug ~ '.twig' %}
                {% set defaulttemplatefile =  'views/_' ~ template ~ '.twig' %}
                <!-- loading templatefile for record:  '{{ templateslugfile }}' or '{{ templatefile }}' or '{{ defaulttemplatefile }}' or 'views/_fallback.twig' -->
                {% include [templateslugfile, templatefile, defaulttemplatefile, 'views/_fallback.twig'] with { item: record, template: template } %}
            {% else %}
                <!-- selected record is unpublished or otherwise unavailable -->
            {% endif %}
        {% endfor %}
        </div>

        {% set pagername = records|first.contenttype.slug|default('') %}
        {% if pagername is not empty and allow_pager == true %}
            {{ pager( (pagername) ) }}
        {% endif %}
    {% else %}
        {% if record is not empty and record.editlink() %}
            <p class="warning">No published records were found, please <a href="{{ record.editlink() }}#modules">change the module settings</a>.</p>
        {% else %}
            <!-- no records were found for this module -->
        {% endif %}
    {% endif %}

    </div>
</section>
