{% spaceless %}
{% set override_css_id = module.get('override_css_id') %}
{% set override_css_class = module.get('override_css_class') %}
{% set template = module.get('templates') %}
{% set singlefile = module.get('singlefile') %}

<section class="download-module">
    <ul>
        {% if singlefile is not empty %}
            <li>
                {% set fileinfo = imageinfo(singlefile) %}
                <a href="/files/{{ singlefile }}" download="{{ title|default(fileinfo.filename) }}">
                    <svg class="icon icon-download">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    {{ title|default(fileinfo.filename) }}
                    <div class="meta">
                        <span class="filesize">{{ fileinfo.getSizeFormatted() }}</span>
                        <span class="date-added">Added {{ fileinfo.carbon|localedatetime("%d/%m/%Y") }}</span>
                    </div>
                </a>
            </li>
        {% endif %}
    </ul>
</section>
{% endspaceless %}
