{% spaceless %}
    {#
    Available variables
        'module':    the full module object
        'title':     title of the module
        'subtitle':  subtitle of the module
        'body':      body of the module
        'records':   array of (selected) records that belong to the module
        'allow_pager': boolean to check is the pager is available
    #}
{% endspaceless %}
<div class="inner-wrap">
    <div class="highlight-bar">

    {% if title is not empty %}
        <h2>{{ title }}</h2>
    {% endif %}

    {% if records is iterable and records is not empty %}
        <ul class="group">
        {% for item in records %}
            <li>
                <a href="{{ item.link() }}">
                {% if item.teaser_image is defined and item.teaser_image is not empty %}
                    <img src="{{ item.teaser_image|thumbnail(90,78,'c')}}" alt=""/>
                {% elseif item.image is defined and item.image is not empty %}
                    <img src="{{ item.image|thumbnail(90,78,'c')}}" alt=""/>
                {% else %}
                    <img src="{{ 'web_assets/default.png'|thumbnail(90,78,'c')}}" alt=""/>
                {% endif %}
                    <span class="up-to-medium-screens">{{ item.title | excerpt(22) }}</span>
                    <span class="medium-screens-up">{{ item.title }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if record is defined and record.highlightlink is defined and record.highlightlink is not empty %}
        <a class="readmore" href="{{ record.highlightlink }}">More</a>
    {% endif %}
    </div>
</div>
