{% spaceless %}
{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'subtitle':  subtitle of the module
    'body':      body of the module
#}
{% set override_css_id = module.override_css_id %}
{% set override_css_class = module.override_css_class %}
{% set template = module.templates %}
{% set image = module.image %}
{% endspaceless %}
<section {% if override_css_id %}id="{{ override_css_id }}"{% endif %} class="section-image module{%- if override_css_class %} {{ override_css_class }}{% endif -%}">
    <div class="inner-wrap">
        <div class="column">

        {% if title is not empty %}
            <h2>{{ title }}</h2>
        {% endif %}

        {% if subtitle is defined and subtitle is not empty %}
            <p>{{ subtitle }}</p>
        {% endif %}

        {% if image is not empty %}
            <figure>
                <div class="img-container">
                    <img class="main-img" src="{{ image.file|thumbnail(1240, 600, 'c') }}" alt="{{ image.title|default('')  }}" />

                    {% include 'partials/_image_attribution.twig' with { parentitem: 'module' } %}

                </div>
                {% if image.title|default('') is not empty %}
                    <figcaption>
                        {{ image.title }}
                    </figcaption>
                {% endif %}

            </figure>
        {% endif %}
        </div>
    </div>
</section>
