{% spaceless %}
{#
Available variables
    'module':    the full module object
    'title':     title of the module
    'subtitle':  subtitle of the module
    'body':      body of the module
    'records':   array of (selected) records that belong to the module
    'allow_pager': boolean to check is the pager is available
#}
{% set override_css_id = module.override_css_id|default("") %}
{% set override_css_class = module.override_css_class|default("") %}
{% set template = module.templates|default("") %}
{% endspaceless %}
<section {% if override_css_id %}id="{{ override_css_id }}"{% endif %} class="module group {%- if override_css_class %} {{ override_css_class }}{% endif -%}">
    <div class="inner-wrap">

        {% if title is not empty %}
            <h2>{{ title }}</h2>
        {% endif %}

        {% if subtitle|default('') is not empty %}
            <h3>{{ subtitle }}</h3>
        {% endif %}

        {% if body is not empty %}
            {{ body|raw }}
        {% endif %}



        {% if records is iterable and records is not empty %}

            <ul class="teaser-list {%- if override_css_listclass|default('') %} {{ override_css_listclass }}{% endif -%}">
            {% for record in records %}
                {% if record.id is defined %}
                    <li class="{%- if override_css_itemclass|default('') %} {{ override_css_itemclass }}{% endif -%}">
                    {% set templatefile =  'views/_teaser_' ~ record.contenttype.slug ~ '.twig' %}
                    {% set defaulttemplatefile =  'views/_teaser.twig' %}
                    <!-- loading templatefile for record: '{{ templatefile }}' or '{{ defaulttemplatefile }}' or 'views/_fallback.twig' -->
                    {% include [templatefile, defaulttemplatefile, 'views/_fallback.twig'] with { item: record, template: template } %}
                    </li>
                {% else %}
                    <!-- selected record is unpublished or otherwise unavailable -->
                {% endif %}
            {% endfor %}
            </ul>

            {% set pagername = records|first.contenttype.slug|default('') %}
            {% if pagername is not empty and allow_pager == true %}
                {{ pager( (pagername) ) }}
            {% endif %}
        {% else %}
            {% if record is not empty %}

                <article class="column">
                    <div class="body">
                        {% setcontent statusmessage = 'statusmessages/empty-listing' %}

                        {% if statusmessage is not empty %}
                            <h2 class="gamma">{{ statusmessage.contenttitle }}</h2>
                            {{ statusmessage.contenttext }}
                        {% endif %}
                    </div>
                </article>
            {% else %}
                <!-- no records found -->
            {% endif %}
        {% endif %}

    </div>
</section>
