<a class="banner {{ layoutclass }}" href="{{ record.htmllink|default(record.link)|default('#') }}">
    {% if record.image is not empty %}
    <div class="colored-image"
        {% if layoutclass == 'third' %}
            style="background-image: url({{ image(record.image, 600, 400)|default('notfound') }})"
        {% elseif layoutclass == 'half' %}
            style="background-image: url({{ image(record.image, 1000, 400)|default('notfound') }})"
        {% else %}
            style="background-image: url({{ image(record.image, 1800, 400)|default('notfound') }})"
        {% endif %}
    >
    </div>
    {% else %}
        <div class="colored-image"
             style="background-image: url({{ image('/web_assets/default.png', 600, 400) }})"></div>
    {% endif %}

    <div class="ripple {{ record.ripplelocation | default('no-ripple') }} {{ record.ripplecolor | default('white') }} {{ record.rippleweight | default('full') }}">
        <svg class="icon icon-ripple_thin_pro">
            <use xlink:href="#icon-ripple_thin_pro"></use>
        </svg>
    </div>

    <div class="header-group">
        <h3 class="widget">{{ record.title }}</h3>
        {% if record.teaser %}
            {{ record.teaser }}
        {% elseif record.intro %}
            {{ record.intro }}
        {% elseif record.body %}
            {{ record.body }}
        {% else %}
            {# for banners we do not want an excerpt unless really necessary #}
            <p>{{ record.excerpt(300, false, search|default('')) }}</p>
        {% endif %}
    </div>
</a>
