<a class="banner {{ layoutclass }}" href="{{ record.htmllink|default(record.link)|default('#') }}">
    <div class="colored-image"
        {% if record.image is defined and record.image is not empty %}
            {% if layoutclass == 'third' %}
                style="background-image: url({{ image(record.image, 600, 400)|default('notfound') }})"
            {% elseif layoutclass == 'half' %}
                style="background-image: url({{ image(record.image, 1000, 400)|default('notfound') }})"
            {% else %}
                style="background-image: url({{ image(record.image, 1800, 400)|default('notfound') }})"
            {% endif %}
        {% else %}
             style="background-image: url({{ image('/web_assets/default.png', 600, 400) }})"
        {% endif %}
    ></div>

    <div class="ripple {{ record.ripplelocation | default('no-ripple') }} {{ record.ripplecolor | default('white') }} {{ record.rippleweight | default('full') }}">
        <svg class="icon icon-ripple_thin_pro">
            <use xlink:href="#icon-ripple_thin_pro"></use>
        </svg>
    </div>


    {% if (record.imagelicense is defined and record.imagelicense is not empty)
       or (record.values.image.title is defined and record.values.image.title is not empty) %}

    <div class="license-attribution">
        <button class="image-info"><span>?</span></button>
        <article>
            {% if (record.values.image.title is defined and record.values.image.title is not empty) %}
                <p>{{ record.values.image.title }}</p>
            {% endif %}

            {% if (record.imagelicense is defined and record.imagelicense is not empty) %}
                {% set labels = record.contenttype.fields.imagelicense.values %}
                <span class="image-license">{{ labels[record.imagelicense] }}</span>
            {% endif %}
        </article>
    </div>
    {% endif %}

    <div class="header-group">
        <h3 class="widget">{{ record.title }}</h3>
        {% if record.teaser %}
            {{ record.teaser }}
        {% elseif record.intro %}
            {{ record.intro }}
        {% elseif record.body %}
            {{ record.body }}
        {% else %}
            {# for banners we do not want an excerpt unless really necessary #}
            <p>{{ record.excerpt(300, false, search|default('')) }}</p>
        {% endif %}
    </div>
</a>
