<div class="calltoaction colored-image {{ layoutclass }} {% if record.enable_filter %} image-filter{% endif %}"
    {% if record.image is defined and record.image is not empty %}
        {% if layoutclass == "half" %}
            style="background-image: url({{ image(record.image, 800, 400)|default('notfound') }})"
        {% else %}
            style="background-image: url({{ image(record.image, 1600, 350)|default('notfound') }})"
        {% endif %}
    {% else %}
        style="background-image: url({{ image('/web_assets/default.png', 800, 400) }})"
    {% endif %}
>

    <div class="header-group">
        <h3 class="widget">{{ record.title }}</h3>
        {% if record.teaser %}
            {{ record.teaser }}
        {% elseif record.intro %}
            {{ record.intro }}
        {% elseif record.body %}
            {{ record.body }}
        {% else %}
            {# for breakers we do not want an excerpt unless really necessary #}
            <p>{{ record.excerpt(300, false, search|default('')) }}</p>
        {% endif %}
        <hr>
        <a class="button" href="{{ record.htmllink|default(record.link)|default('#') }}">
            {{ record.buttontext|default('Learn more') }}
        </a>
    </div>

    {% if record.contenttype.slug in ['resources'] %}
        {% include 'partials/_image_attribution.twig' with { parentitem: 'banner' } %}
    {% elseif record.contenttype.slug in ['pages','posts', 'events', 'projects', 'jobs','data','blogevents' ] %}
        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}
    {% else %}
        {% include 'partials/_image_attribution.twig' %}
    {% endif %}
</div>
