<a class="banner" href="{{ record.link }}"> {# FIXME: Overlay met halve cirkels er nog in? #}
    <div class="colored-image" style="background-image: url({{ image(record.image, 1600, 400)|default('https://unsplash.it/1600/400') }})"></div>
    <div class="header-group">
        <h3 class="widget">{{ record.title }}</h3>
        {% if record.teaser %}
            {{ record.teaser }}
        {% elseif record.intro %}
            {{ record.intro }}
        {% else %}
            <p>{{ record.excerpt(300, false, search|default('')) }}</p>
        {% endif %}
    </div>
</a>
