{# {% block bodyclass 'contentpage' %} #}

    <section>
        <div class="inner-wrap">

            <article class="column main-column">

                <div class="group personal">
                    <img class="personal-img" src="{{ record.image|default('notfound')|thumbnail(450, 450, 'c') }}" alt="Portrait of {{ record.first_name }} {{ record.last_name }}" />


                    <div class="personal-details">

                        <h2 class="alpha">
                            {% include 'partials/_main-network-participation.twig' %}
                        </h2>

                        <h1 class="beta">{{ record.first_name }} {{ record.last_name }}</h1>

                        <div class="personal-network">
                            {% for item in record.network_participation %}
                            <span>{{ item }}</span>
                            {% endfor %}
                        </div>

                        <div class="personal-function">
                            <span>{{ record.job_title }}</span>
                            <span>{{ record.company }}</span>
                            <span>{{ record.country }}</span>
                            <span>{{ record.sector }}</span>
                        </div>

                        <p class="personal-contact">
                            {% if record.email is not empty %}
                            <a class="email" href="mailto:{{ record.email }}">
                                <svg class="icon icon-sendemail">
                                    <use xlink:href="#icon-sendemail"></use></svg>{{ record.email }}
                            </a>
                            {% endif %}

                            {% if record.phone is not empty %}
                            <a class="phone" href="{{ record.phone }}">
                                <svg class="icon icon-phone-work">
                                    <use xlink:href="#icon-phone-work"></use></svg>{{ record.phone }}
                            </a>
                            {% endif %}

                            {# - we only have 1 phone field
                            <a class="phone" href="07012345678">
                                <svg class="icon icon-phone-mobile">
                                    <use xlink:href="#icon-phone-mobile"></use>
                                </svg>07012345678
                            </a> #}

                        </p>

                        <div class="socials">
                            {% if record.twitter is not empty %}
                            <a class="tw" href="{{ record.twitter }}">
                                <svg class="icon icon-twitter">
                                    <use xlink:href="#icon-twitter"></use>
                                </svg><span class="sr-only">Twitter</span></a>
                            {% endif %}

                            {% if record.skype is not empty %}
                            <a class="sk" href="skype:{{ record.skype }}?userinfo">
                                <svg class="icon icon-skype">
                                    <use xlink:href="#icon-skype"></use>
                                </svg><span class="sr-only">Skype</span></a>
                            {% endif %}

                            {% if record.linkedin is not empty %}
                            <a class="li" href="{{ record.linkedin }}">
                                <svg class="icon icon-linkedin">
                                    <use xlink:href="#icon-linkedin"></use>
                                </svg><span class="sr-only">LinkedIn</span></a>
                            {% endif %}
                        </div>

                    </div>
                </div>{# /group #}

                <div class="body">
                    {{ record.introduction }}

                    <ul class="link-list">
                        <li><a href="{{ record.company_url }}">{{ record.company_url }}</a></li>
                    </ul>
                </div>

            </article>

            <section class="teaser-list-section">
                <div class="main-column">

                {% set relatedevents = record.related('events') %}

                {% if relatedevents|length > 0 %}
                    <h2>Speaking at</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedevents } %}
                {% endif %}

                {% set relatedposts = record.related('posts') %}

                {% if relatedposts|length > 0 %}
                    <h2>Blogposts</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedposts } %}
                {% endif %}

                {% set relatedpages = record.related('pages') %}
                {% if relatedpages|length > 0 %}
                    <h2>Pages</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedpages } %}
                {% endif %}

                {% set relateddata = record.related('data') %}
                {% if relateddata|length > 0 %}
                    <h2>Datasets</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relateddata } %}
                {% endif %}

                {% set relatedprojects = record.related('projects') %}
                {% if relatedprojects|length > 0 %}
                    <h2>Projects</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedprojects } %}
                {% endif %}


            </div> {# /column #}
        </section>




       </div>
    </section>
