{# {% block bodyclass 'contentpage' %} #}
{# uses microformat classes http://microformats.org/wiki/microformats2#h-card #}
    <section>
        <div class="inner-wrap">

            <article class="column main-column">
                <div class="group card organisation h-card">
                    <div class="img-container offwhite-logo">

                        {% if record.values.image is defined and record.values.image is not empty and record.values.image.file|default() != "" %}
                            <img class="card-img organisation-img u-photo" src="{{ record.image|default('notfound')|thumbnail(450, 450, 'c') }}" alt="Logo of {{ record.name }}" />
                        {% else %}
                            <img class="card-img organisation-img u-photo" src="{{ 'web_assets/default.png'|thumbnail(450, 450, 'c')}}" alt="Logo of {{ record.name }}" />
                        {% endif %}

                    </div>

                    <div class="card-details organisation-details">

                        {% if record.org_role is not empty %}
                            <h2 class="alpha">
                                {% for role in record.org_role %}
                                {{ role }}{% if loop.last == false %} / {% endif %}
                                {% endfor %}
                            </h2>
                        {% endif %}

                        <h1 class="beta p-name">
                            {{ record.name }}
                        </h1>

                        <div class="card-network organisation-network">
                            {% if record.name_alt1 is not empty %}
                                <span>{{ record.name_alt1 }}</span>
                            {% endif %}
                            {% if record.name_alt2 is not empty %}
                                <span>{{ record.name_alt2 }}</span>
                            {% endif %}
                            {% if record.acronym is not empty %}
                                <span>{{ record.acronym }}</span>
                            {% endif %}
                        </div>

                        {% if record.geographical_reach is not empty
                            or record.content_themes is not empty
                            or record.working_languages is not empty
                            or record.content_languages is not empty
                        %}
                            <div class="card-aggregator">
                                {# new fields for 20181017 #}
                                {% if record.geographical_reach is not empty %}
                                    <div class="aggregator-item">
                                        <b class="aggregator-label">Geographical reach:</b>
                                        <span class="aggregator-field">{{ record.geographical_reach }}</span>
                                    </div>
                                {% endif %}
                                {% if record.content_themes is not empty %}
                                    <div class="aggregator-item">
                                        <b class="aggregator-label">Themes:</b>
                                        <span class="aggregator-field">{{ record.content_themes }}</span>
                                    </div>
                                {% endif %}
                                {% if record.working_languages is not empty %}
                                    <div class="aggregator-item">
                                        <b class="aggregator-label">Working language(s):</b>
                                        <span class="aggregator-field">{{ record.working_languages }}</span>
                                    </div>
                                {% endif %}
                                {% if record.content_languages is not empty %}
                                    <div class="aggregator-item">
                                        <b class="aggregator-label">Content language:</b>
                                        <span class="aggregator-field">{{ record.content_languages }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if record.scope is not empty %}
                            <p>
                                <svg class="icon icon-crosshair">
                                    <use xlink:href="#icon-crosshair"></use>
                                </svg>
                                {{ record.scope }}
                            </p>
                        {% endif %}

                        {% if record.domain is not empty %}
                            <p>
                                <svg class="icon icon-piechart">
                                    <use xlink:href="#icon-piechart"></use>
                                </svg>
                                {{ record.domain }}
                            </p>
                        {% endif %}

                        {% if record.website is not empty %}
                            <a class="u-url" href="{{ record.website }}">
                                <svg class="icon icon-link">
                                    <use xlink:href="#icon-link"></use>
                                </svg>{{ record.website }}
                            </a>
                        {% endif %}

                        <p class="card-contact organisation-contact">
                            {% if (record.street is not empty)
                                or (record.po_box is not empty)
                                or (record.city is not empty)
                                or (record.zipcode is not empty)
                                or (record.country is not empty)
                            %}
                                {# Only show location icon if any location info #}
                                <svg class="icon icon-location">
                                    <use xlink:href="#icon-location"></use>
                                </svg>
                            {% endif %}

                            {% if record.street is not empty %}
                                <span class="p-street-address">{{ record.street }}</span>
                            {% endif %}
                            {% if record.po_box is not empty %}
                                <span class="p-post-office-box">{{ record.po_box }}</span>
                            {% endif %}
                            {% if record.city is not empty %}
                                <span class="p-locality">{{ record.city }}</span>
                            {% endif %}
                            {% if record.zipcode is not empty %}
                                <span class="p-postal-code">{{ record.zipcode }}</span>
                            {% endif %}
                            {% if record.country is not empty %}
                                <span class="p-country-name">{{ record.country }}</span>
                            {% endif %}
                        </p>


                        {% if record.email is not empty %}
                        <p class="card-contact personal-contact">
                            <a class="email u-email" href="mailto:{{ record.email }}">
                                <svg class="icon icon-sendemail">
                                    <use xlink:href="#icon-sendemail"></use></svg>{{ record.email }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>{# /group #}

                <div class="body">
                    {{ record.description }}
                </div>
            </article>
       </div>
    </section>

    <aside>
        <div class="inner-wrap">

            {# AUTHOR BIG #}
            {% include 'modules/_teaser_contact.twig' with { record : record } %}

        </div>
    </aside>
