
    <section>
        <div class="inner-wrap">

            <article class="column main-column">

               {% include 'partials/_side-info.twig' %}

                <div class="header-group">

                    {% if record.contact_record %}
                        {% setcontent author = 'persons' where { id : record.contact_record } returnsingle %}
                        {% include 'views/_mini_persons.twig' with { item: author } %}
                    {% endif %}

                    <h1>{{ record.title }}</h1>

                    <div class="introduction">
                        {{ record.intro }}
                    </div>
                </div>

                {% if record.image is defined and record.image is not empty %}
                <figure>
                    <img class="main-img" src="{{ record.image|thumbnail(1240, 600, 'c') }}" alt="ALT" />

                    {% if record.values.image.title is defined %}
                        <figcaption>
                            {{ record.values.image.title }}
                        </figcaption>
                    {% endif %}

                </figure>
                {% endif %}

                {% if record.body is not empty %}
                    <div class="body"> {# can be multiple bodies #}
                        {{ record.body }}
                    </div>
                {% endif %}

                {% for module in record.modules %}
                    {{ include('partials/_default_module.twig', { 'module': module }) }}
                {% endfor %}

                {% if record.pagefooter is defined %}
                    <div class="body pagefooter">
                        {{ record.pagefooter }}
                    </div>
                {% endif %}

            </article>

        </div>
    </section>

    <aside>
        <div class="inner-wrap">

         {# AUTHOR BIG #}
         {% if record.author is not empty %}

            {% for aut in record.author %}
            {% setcontent author = 'persons' where { id : aut } returnsingle %}

            {% include 'views/_teaser_author.twig' with { item : author } %}

            {% endfor %}
        {% endif %}


        {# RELATED CONTENT #}

        {% include 'modules/_related_posts.twig' with { record : record, title : 'Related' } %}

    </aside>




{# OUDE _DETAILS.TWIG#}

{#
<article class="snippet-details record-{{ record.contenttype.slug  }}">
    <h1>{{ record.title }}</h1>

    {{ record.teaser }}

    {% if record.image %}
    <a href="{{ image(record.image) }}">
        <img src="{{ image(record.image, 740, 560)|default('https://unsplash.it/740/560') }}" />
    </a>
    {% endif %}

    {{ record.body }}

    {# If there are repeaters, we should output them.
    {% for module in record.modules %}
        {{ include('partials/_default_module.twig', { 'module': module }) }}
    {% endfor %}

    <!-- load other fields if any are available -->
    {{ fields(common = false, extended = true, repeaters = false) }}

    <!-- show a footer -->
    {{ include('partials/_record_footer.twig', { 'record': record, 'extended': true }) }}

</article>

#}
