
    <section>
        <div class="inner-wrap">
            <article class="column main-column">

               {% include 'partials/_side-info.twig' %}

                <div class="header-group">

                    {% if record.contact_name is not empty %}
                        {% include 'views/_mini_externalcontact.twig' %}
                    {% elseif record.contact_record %}
                        {% setcontent author = 'persons' where { id : record.contact_record } returnsingle %}
                        {% include 'views/_mini_persons.twig' with { item: author } %}
                    {% endif %}

                    <h1>{{ record.position }}</h1>

                    <div class="introduction">
                        <p>
                        {% if record.salary_eur is not empty %}
                           {{ record.salary_eur }}<br />
                        {% endif %}

                        {% if record.scale_eur is not empty %}
                            Scale: {{ record.scale_eur }}<br />
                        {% endif %}

                        {% if record.position_type is not empty %}
                            Position type: {{ record.position_type }}<br />
                        {% endif %}

                         {% if record.teampage is not empty %}
                            Team:
                            {% set teamids = record.teampage|json_decode() %}

                                {% for teamid in teamids %}
                                    {% setcontent teampage = "pages" where { 'id': teamid } %}
                                        <a href="{{ teampage.link() }}">{{ teampage.title }} </a>
                                {% endfor %}


                        {% endif %}
                        </p>
                    </div>
                </div>

                {% if record.image is defined and record.image is not empty %}
                <figure>
                    <img class="main-img" src="{{ record.image|thumbnail(1240, 600, 'c') }}" alt="ALT" />

                    {% if record.values.image.title is defined %}
                        <figcaption>
                            {{ record.values.image.title }}
                        </figcaption>
                    {% endif %}

                </figure>
                {% endif %}

                {% if record.body is not empty %}
                    <div class="body"> {# can be multiple bodies #}
                        {{ record.body }}
                    </div>
                {% endif %}

                {% if record.imagegallery is not empty %}
                    {% include 'views/_imagegallery.twig' %}
                {% endif %}

            </article>

        </div>
    </section>

    {% for module in record.modules %}
        {{ include('partials/_default_module.twig', { 'module': module }) }}
    {% endfor %}

