{# {% block bodyclass 'contentpage' %} #}

    <section>
        <div class="inner-wrap">

            <article class="column main-column">

                <div class="group personal">
                    <img class="personal-img" src="https://unsplash.it/450/450" alt="{{ record.first_name }} {{ record.last_name }}" />


                    <div class="personal-details">

                        <h2 class="alpha">Network Association Member</h2>
                        <h1 class="beta">{{ record.first_name }} {{ record.last_name }}</h1>

                        <div class="personal-network">
                            <span>Network Association Member</span>
                            <span>Members Council Member</span>
                            <span>Network Association Member</span>
                        </div>

                        <div class="personal-function">
                            <span>Network Association Member</span>
                            <span>Network Association Member</span>
                            <span>Network Association Member</span>
                            <span>Network Association Member</span>
                        </div>

                        <p class="personal-contact">
                            <a class="email" href="mailto:lacy.way@yahoo.com">
                                <svg class="icon icon-sendemail">
                                    <use xlink:href="#icon-sendemail"></use>
                                </svg>lacy.way@yahoo.com
                            </a>

                            <a class="phone" href="07012345678">
                                <svg class="icon icon-phone-work">
                                    <use xlink:href="#icon-phone-work"></use>
                                </svg>07012345678
                            </a>

                            <a class="phone" href="07012345678">
                                <svg class="icon icon-phone-mobile">
                                    <use xlink:href="#icon-phone-mobile"></use>
                                </svg>07012345678
                            </a>

                        </p>

                        <div class="socials">
                            <a class="tw" href="">
                                <svg class="icon icon-twitter">
                                    <use xlink:href="#icon-twitter"></use>
                                </svg>
                                <span class="sr-only">Twitter</span>
                            </a>

                            <a class="sk" href="">
                                <svg class="icon icon-skype">
                                    <use xlink:href="#icon-skype"></use>
                                </svg>
                                <span class="sr-only">Skype</span>
                            </a>

                            <a class="li" href="">
                                <svg class="icon icon-linkedin">
                                    <use xlink:href="#icon-linkedin"></use>
                                </svg>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </div>

                    </div>
                </div>{# /group #}

                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quare ad ea primum, si videtur; Negare non possum. Duo Reges: constructio interrete. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane.
                </blockquote>

                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quare ad ea primum, si videtur; Negare non possum. Duo Reges: constructio interrete. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane.
                    </p>

                    <ul class="link-list">
                        <li><a href="">Link to website</a></li>
                        <li><a class="" href="http://www.example.com">Link to another website</a></li>
                    </ul>
                </div>

            </article>

            <section class="teaser-list-section">
                <div class="main-column">

                <h2>Speaking at</h2>

                <ul class="teaser-list">

                    {# EVENT TEASER #}
                    <li class="group">
                        <article class="teaser teaser-event group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                    <span class="event-days">19 — 21</span>
                                    <span class="event-month">october 2017<br /></span>
                                    <span class="event-time">
                                        <svg class="icon icon-clock">
                                            <use xlink:href="#icon-clock"></use>
                                        </svg>
                                        09:00 — 18:00
                                    </span>
                                    <span class="event-location">
                                        <svg class="icon icon-location">
                                            <use xlink:href="#icon-location"></use>
                                        </svg>
                                        Riga, Latvia
                                    </span>
                                </div>
                            </div>

                            <h3 class="beta">European Network Association AGM 2016</h3>

                            <div class="label">Platform</div>
                            <a class="tag" href="#">Management</a>
                            <a class="tag" href="#">AGM</a>
                            <a class="tag" href="#">Network</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">
                                <a class="add-calendar" href="#">
                                    <svg class="icon icon-calendar">
                                        <use xlink:href="#icon-calendar"></use>
                                    </svg>
                                    Add to calendar
                                </a>

                                <a class="button-link">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>

                    <li>
                        <article class="teaser teaser-page group">
                            <div class="img-container">
                                <img src="https://unsplash.it/600/400" alt="alt"/>

                                <div class="info-block">
                                    <span class="info-type">Page</span>
                                    <span class="info-date">Created: 5 december 2015</span>
                                    <span class="info-author">
                                        By: <a href="#">Matthias McGuiness</a>
                                    </span>
                                </div>
                            </div>

                            <h2>European Network Association AGM 2016</h2>

                            <div class="label">Networking</div>
                            <a class="tag" href="#">Policies</a>
                            <a class="tag" href="#">European Parliament</a>


                            <p>The Europeana Network Association Annual General Meeting (AGM) is an annual key event for Europeana and its network. It provides the opportunity for ...</p>
                            <div class="actions-footer">
                                <span class="read-time">10 minutes to read</span>
                                <a class="readmore">
                                    Call to action
                                </a>

                            </div>

                        </article>
                    </li>
                </ul>

            </div> {# /column #}
        </section>




       </div>
    </section>







{# <article class="snippet-details record-{{ record.contenttype.slug  }}">
    <h1>{{ record.title }}</h1>

    {{ record.teaser }}

    {% if record.image %}
    <a href="{{ image(record.image) }}">
        <img src="{{ image(record.image, 740, 560)|default('https://unsplash.it/740/560') }}" />
    </a>
    {% endif %}

    {{ record.body }}

    If there are repeaters, we should output them.
    {% for module in record.modules %}
        {{ include('partials/_default_module.twig', { 'module': module }) }}
    {% endfor %}

    <!-- load other fields if any are available -->
    {{ fields(common = false, extended = true, repeaters = false) }}

    <!-- show a footer -->
    {{ include('partials/_record_footer.twig', { 'record': record, 'extended': true }) }}

</article>
 #}