{# {% block bodyclass 'contentpage' %} #}

    <section>
        <div class="inner-wrap">

            <article class="column main-column">


                {% include 'partials/_side-info.twig' %}

                <div class="header-group">

                    {% if record.contact_record %}
                        {% setcontent author = 'persons' where { id : record.contact_record } returnsingle %}
                        {% include 'views/_mini_persons.twig' with { item: author } %}
                    {% endif %}

                    <h1>{{ record.title }}</h1>

                    <div class="introduction">
                        {{ record.intro }}
                    </div>

                    <address>
                        {{record.geolocation.formatted_address | replace({',': '<br/>'})|raw }}
                    </address>

                </div>

                {% include 'partials/_event-figure.twig' %}

                <div class="body">
                    {{ record.body }}
                </div>

                {% if record.button_link is not empty %}
                <div class="primary-call-to-action">
                    {% if record.button_intro is not empty %}
                        <p>{{ record.button_intro }}</p>
                    {% endif %}
                    <a class="button" href="{{ record.button_link }}">{{ record.button_text }}</a>
                </div>
                {% endif %}

            </article>


            {% set speakers = record.related('persons') %}
            {% if speakers|length > 0 %}
            <section class="info-list-section main-column">
                <h2>Speakers for this event</h2>
                {% include 'partials/_list-speaker-list.twig' with { items : speakers , speaker : true } %}
            </section>
            {% endif %}


       </div>
    </section>
