{# {% block bodyclass 'contentpage' %} #}
{# uses microformat classes http://microformats.org/wiki/microformats2#h-card #}
    <section>
        <div class="inner-wrap">

            <article class="column main-column">

                <div class="group card personal h-card">
                    <div class="img-container">
                        {% if record.values.image is defined and record.values.image is not empty and record.values.image.file|default() != "" %}
                            <img class="card-img personal-img u-photo" src="{{ record.values.image|default('notfound')|thumbnail(450, 450, 'c') }}" alt="Portrait of {{ record.first_name }} {{ record.last_name }}" />
                        {% else %}
                            <img class="card-img personal-img u-photo" src="{{ 'web_assets/default.png'|thumbnail(450, 450, 'c')}}" alt="Portrait of {{ record.first_name }} {{ record.last_name }}"/>
                        {% endif %}
                    </div>

                    <div class="card-details personal-details">

                        <h2 class="alpha">
                            {% include 'partials/_main-network-participation.twig' %}
                        </h2>

                        <h1 class="beta p-name">{{ record.first_name }} {{ record.last_name }}</h1>

                        <div class="card-network personal-network">
                            {% if record.boardposition is not empty %}
                                <span>{{ record.boardposition }}</span>
                            {% endif %}
                            {% for item in record.network_participation %}
                                <span>{{ item }}</span>
                            {% endfor %}

                            {% if record.membership_council_term is not empty %}
                                <span class="mc-term">
                                    <svg class="icon icon-calendar-mc">
                                        <use xlink:href="#icon-calendar-mc"></use></svg>
                                    MC Term: {{ record.membership_council_term }}
                                </span>
                            {% endif %}
                        </div>


                        <div class="card-function personal-function">
                            <span class="p-job-title">{{ record.job_title }}</span>
                            <span class="p-org">{{ record.company }}</span>
                            <span class="p-country-name">{{ record.country }}</span>
                            {# <span>{{ record.sector }}</span> #}
                            {% if record.domain is not empty %}
                            <span>{{ record.domain }}</span>
                            {% endif %}
                        </div>

                        <p class="card-contact personal-contact">
                            {% if record.email is not empty %}
                            <a class="email u-email" href="mailto:{{ record.email }}">
                                <svg class="icon icon-sendemail">
                                    <use xlink:href="#icon-sendemail"></use></svg>{{ record.email }}
                            </a>
                            {% endif %}

                            {% if record.phone is not empty %}
                            <a class="phone p-tel" href="{{ record.phone }}">
                                <svg class="icon icon-phone-work">
                                    <use xlink:href="#icon-phone-work"></use></svg>{{ record.phone }}
                            </a>
                            {% endif %}

                        </p>

                        <div class="socials">
                            {% if record.twitter is not empty %}
                            <a class="tw" href="{{ record.twitter }}">
                                <svg class="icon icon-twitter">
                                    <use xlink:href="#icon-twitter"></use>
                                </svg><span class="sr-only">Twitter</span></a>
                            {% endif %}

                            {% if record.skype is not empty %}
                            <a class="sk" href="skype:{{ record.skype }}?userinfo">
                                <svg class="icon icon-skype">
                                    <use xlink:href="#icon-skype"></use>
                                </svg><span class="sr-only">Skype</span></a>
                            {% endif %}

                            {% if record.linkedin is not empty %}
                            <a class="li" href="{{ record.linkedin }}">
                                <svg class="icon icon-linkedin">
                                    <use xlink:href="#icon-linkedin"></use>
                                </svg><span class="sr-only">LinkedIn</span></a>
                            {% endif %}
                        </div>

                    </div>
                </div>{# /group #}

                 {% if 'MC Election Candidate' in record.network_participation %}
                    <blockquote>
                        {{ record.candidacy_intro }}
                    </blockquote>
                {% endif %}

                <div class="body">
                    {{ record.introduction }}

                    <ul class="link-list">
                        <li><a class="u-url" href="{{ record.company_url }}">{{ record.company_url }}</a></li>
                    </ul>
                </div>



            </article>

            <section class="teaser-list-section">
                <div class="main-column">

                {# {% set relatedevents = record.related('events') %} #}
                {% setcontent relatedevents = 'events' where { 'contact_record' : '%"' ~ record.id ~ '"%' } %}
                {% if relatedevents|length > 0 %}
                    <h2>Speaking at</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedevents } %}
                {% endif %}

                {# {% set relatedposts = record.related('posts') %} #}
                {% setcontent relatedposts = 'posts' where { 'author' : '%"' ~ record.id ~ '"%' } %}
                {% if relatedposts|length > 0 %}
                    <h2>Blogposts</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedposts } %}
                {% endif %}

                {# {% set relatedpages = record.related('pages') %} #}
                {% setcontent relatedpages = 'pages' where { 'contact_record' : '%"' ~ record.id ~ '"%' } %}
                {% if relatedpages|length > 0 %}
                    <h2>Pages</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedpages } %}
                {% endif %}

                {# {% set relateddata = record.related('data') %} #}
                {% setcontent relateddata = 'data' where { 'contact_record' : '%"' ~ record.id ~ '"%' } %}
                {% if relateddata|length > 0 %}
                    <h2>Datasets</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relateddata } %}
                {% endif %}

                {# {% set relatedprojects = record.related('projects') %} #}
                {% setcontent relatedprojects = 'projects' where { 'contact_record' : '%"' ~ record.id ~ '"%' } %}
                {% if relatedprojects|length > 0 %}
                    <h2>Projects</h2>
                    {% include 'partials/_list-teaser-list.twig' with { items : relatedprojects } %}
                {% endif %}

                </div>{# /column #}
            </section>

       </div>
    </section>
