    <section>
        <div class="inner-wrap">

            <article class="column main-column">

                {% include 'partials/_side-info.twig' %}
                {% include 'partials/_community-info.twig' %}

                {% include 'partials/_posts-header-group.twig' %}

                {% if record.values.image is defined and record.values.image is not empty %}
                    {# getting values.image to prevent fallback -> https://github.com/bolt/bolt/issues/6798 #}

                    {% if record.values.image.file|default is not empty %}
                        {% set contacts = 0 %}
                        {# Checking for more than 1 contact #}
                        {% if record.author is defined and record.author is not empty %}
                            {% set contacts = record.author %}
                            {% if contacts is not iterable %}
                                {# fix iterable ids if the content is json in a textfield #}
                                {% set contacts = record.author|json_decode() %}
                            {% endif %}
                        {% endif %}

                        <figure {% if contacts|length > 1 %}class="non-wide"{% endif %}>
                            <div class="main-img-container">
                                <img class="main-img" src="{{ record.values.image|thumbnail(1240, 600, 'c') }}" alt="{{ record.values.image.alt|default('main image') }}" />

                                {% include 'partials/_image_attribution.twig' with { parentitem: 'mainimage' } %}
                            </div>

                            {% if record.values.image.title is defined %}
                                <figcaption>
                                    {{ record.values.image.title }}
                                </figcaption>
                            {% endif %}
                        </figure>
                    {% elseif record.values.image.oembed|default is not empty %}
                        {{ record.values.image.oembed|raw }}
                    {% endif %}
                {% endif %}

                {% if record.body is not empty %}
                    <div class="body"> {# can be multiple bodies #}
                        {{ record.body }}
                    </div>
                {% endif %}

            </article>

        </div>
    </section>

    {% for module in record.modules if (global.request.get('_route') != "preview") %}
        {{ include('partials/_default_module.twig', { 'module': module }) }}
    {% endfor %}

    {% if record.attachments is defined and record.attachments is not empty %}
        {{ include('partials/_download-content.twig') }}
    {% endif %}

    {% if record.pagefooter is defined and record.pagefooter is not empty %}
    <section>
        <div class="inner-wrap">
            <article class="column main-column">
                <div class="body pagefooter">
                    {{ record.pagefooter }}
                </div>
            </article>
        </div>
    </section>
    {% endif %}

    {% if record.button_link is defined and record.button_link is not empty %}
        {% include 'partials/_record_cta.twig' %}
    {% endif %}

    <aside>
        <div class="inner-wrap">

            {% include 'partials/_addthis-widget.twig' %}

            {# CONTACT BIG #}
            {% include 'modules/_teaser_contact.twig' with { record : record } %}

            {# RELATED CONTENT #}
            {% include 'modules/_related_posts.twig' with { record : record, title : 'Related' } %}

        </div>
    </aside>

{# This script below allows analytics based on the posttype. #}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        ga('send', 'pageview',
            'posttype',
            '{{ record.posttype }}'
        );
    });
</script>
