
    <section>
        <div class="inner-wrap">
            <article class="column main-column">

                {% include 'partials/_side-info.twig' %}

                <div class="header-group">

                    {% if record.contact_name is not empty %}
                        {% include 'views/_mini_externalcontact.twig' %}
                    {% elseif record.contact_record %}
                        {% setcontent author = 'persons' where { id : record.contact_record } returnsingle %}
                        {% include 'views/_mini_persons.twig' with { item: author } %}
                    {% endif %}

                    <h1>{{ record.title }}</h1>

                    <div class="introduction">
                        {{ record.intro }}
                    </div>
                </div>

                {% if record.image is defined and record.image is not empty %}
                <figure>
                    <img class="main-img" src="{{ record.image|thumbnail(1240, 600, 'c') }}" alt="ALT" />

                    {% if record.values.image.title is defined %}
                        <figcaption>
                            {{ record.values.image.title }}
                        </figcaption>
                    {% endif %}

                </figure>
                {% endif %}

                {% if record.body is not empty %}
                    <div class="body"> {# can be multiple bodies #}
                        {{ record.body }}
                    </div>
                {% endif %}

                {% if record.imagegallery is not empty %}
                    {% include 'views/_imagegallery.twig' %}
                {% endif %}

                {% for module in record.modules %}
                    {{ include('partials/_default_module.twig', { 'module': module }) }}
                {% endfor %}

                {% if record.pagefooter is defined %}
                    <div class="body pagefooter">
                        {{ record.pagefooter }}
                    </div>
                {% endif %}

            </article>

        </div>
    </section>

    <aside>
        <div class="inner-wrap">

        {# AUTHOR BIG #}
        {% if record.contact_name is not empty %}
        {# external contact #}
        {% include 'views/_teaser_externalcontact.twig' %}

        {% elseif record.contact_record is not empty %}
        {# internal support #}

        {% setcontent author = 'persons' where { id : record.contact_record } returnsingle %}
        {% include 'views/_teaser_author.twig' with { item : author } %}

        {% endif %}


        {# RELATED CONTENT #}

        {% include 'modules/_related_posts.twig' with { record : record, title : 'Related' } %}

    </aside>
