<div class="eventregister">
    <div class="dates">
        {# <div class="info-block">
            {% include 'partials/_event-datetime.twig' %}
        </div> #}

        {% include 'partials/_event_datetime-calendarsheet.twig' %}

    </div>

    <div class="location">
        <div class="map">

        {# HERE BE MAP #}
            {% if record.geolocation is not empty %}
            <img width="345" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?key={{ app.config.get('general/google_api_key') -}}&center={{ record.geolocation.latitude - 0.01}},{{ record.geolocation.longitude }}&zoom=11&scale=2&size=345x105&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of {{ record.geolocation.address }}">

            {% else %}
                <img width="345" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?key={{ app.config.get('general/google_api_key') -}}&center=München&zoom=4&scale=2&size=345x105&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of Europa">
            {% endif %}

            <div class="overlay"></div>

            <div class="marker">
                <svg class="icon icon-location">
                    <use xlink:href="#icon-location"></use>
                </svg>
            </div>

            <div class="tooltip">
                 <p class="location-name">{{ record.location_name }}</p>
                 <p class="location-address">{{ record.geolocation.address }}</p>
            </div>

        </div>



    </div>

    <div class="register">
        <a class="button">
            Register today
        </a>

        <div class="socials">
            <a href="https://twitter.com/EuropeanaEU" class="tw">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"> </use>
                </svg> <span class="sr-only">twitter</span>
            </a>
            <a href="https://www.facebook.com/Europeana" class="fb">
                    <svg class="icon icon-facebook">
                    <use xlink:href="#icon-facebook"> </use>
                </svg> <span class="sr-only">facebook</span>
            </a>
            <a href="https://www.linkedin.com/groups/Europeana-134927/about" class="li">
                    <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"> </use>
                </svg> <span class="sr-only">Linked In</span>
            </a>
        </div>

    </div>

</div>

    {# {{ dump(record) }} #}
