{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="column half teaser-twocol teaser-{{ item.contenttype.slug  }} group">
    <div class="img-container">
        <a href="{{ item.link }}">
        {% if item.teaser_image is defined and item.teaser_image is not empty %}
            <img src="{{ item.teaser_image|thumbnail(600,600,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image is defined and item.values.image is not empty %}
            <img src="{{ item.values.image|thumbnail(600,600,'c')}}" alt="{{ item.title }}"/>
        {% else %}
            <img src="{{ 'web_assets/default.png'|thumbnail(600,600,'c')}}" alt="{{ item.title }}"/>
        {% endif %}
        </a>

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}
    </div>

    <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
    <p class="meta">Created: <span class="date">{{ item.datepublish|localedatetime("%e %B  %Y") }}</span></p>

   
    {% if item.teaser is defined and item.teaser is not empty %}
        {{ item.teaser }}
    {% elseif item.intro is defined and item.intro is not empty %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(100, false, search|default('')) }}</p>
    {% endif %}

    {% include 'partials/_tags.twig' %}

</article>

