{% if item is not defined %}
    {% set item = record %}
{% endif %}

<div class="column fifth thumblink-fourcol thumblink-organisations">
    <a href="{{ item.link() }}">
        <div class="img-container offwhite-logo round">
            {% if item.values.image is defined and item.values.image.file|default is not empty %}
                <img class="round" src="{{ item.values.image|thumbnail(250,250,'c')}}" alt="logo for {{ item.name }}"/>
            {% elseif item.values.image.oembed|default is not empty %}
                <div class="img-container round is-overflow-hidden">
                    {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 250, height: 250} %}
                </div>
            {% else %}
                <img class="round" src="{{ 'web_assets/default.png'|thumbnail(250,250,'c')}}" alt="logo for {{ item.name }}"/>
            {% endif %}
        </div>
    </a>

    <h3>{{ item.name }}</h3>

    {% if item.country %}
    <p class="country">
        {{ item.country }}
    </p>
    {% endif %}

    <a href="{{ item.link() }}" class="button-link">
        Learn more
    </a>

</div>
