{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="column third teaser-threecol teaser-{{ record.contenttype.slug }}">
    {% if item.teaser_image is defined and item.teaser_image is not empty %}
        <img src="{{ item.teaser_image|thumbnail(768,435,'c')}}" alt="{{ item.title }}"/>
    {% elseif item.image is defined and item.image is not empty %}
        <img src="{{ item.image|thumbnail(768,435,'c')}}" alt="{{ item.title }}"/>
    {% else %}
        <img src="{{ 'web_assets/default.png'|thumbnail(768,435,'c')}}" alt="{{ item.title }}"/>
    {% endif %}

    <h3>{{ item.title }}</h3>

    {% if item.teaser is defined and item.teaser is not empty %}
        {{ item.teaser }}
    {% elseif item.intro is defined and item.intro is not empty %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(130, false, search|default('')) }}</p>
    {% endif %}

    {% if item.htmllink is defined and item.htmllink != '' %}
        <a class="button-link" href="{{ item.htmllink }}">
            {{ item.buttontext|default('See more') }}
        </a>
    {% else %}
        <a class="button-link" href="{{ item.link() }}">
            {{ item.buttontext|default('See more') }}
        </a>
    {% endif %}
</article>
