{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="column half teaser-twocol teaser-{{ item.contenttype.slug  }} group">
    <div class="rounded-card">
    <div class="img-container">
        <a href="{{ item.link }}">
        {% if item.teaser_image is defined and item.teaser_image.file|default is not empty %}
            <img src="{{ item.teaser_image|thumbnail(600,600,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.teaser_image.oembed|default is not empty %}
            <div class="img-container is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.teaser_image.oembed, width: 600, height: 600 } %}
            </div>
        {% elseif item.values.image is defined and item.values.image.file|default is not empty %}
            <img src="{{ item.values.image|thumbnail(600,600,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image.oembed|default is not empty %}
            <div class="img-container is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 600, height: 600 } %}
            </div>
        {% else %}
            <img src="{{ 'web_assets/default.png'|thumbnail(600,600,'c')}}" alt="{{ item.title }}"/>
        {% endif %}
        </a>

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}
    </div>
    <div class="txt-container">
        <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
        {% if item.shoulddatepublish|default() %}
        <p class="meta">Created: <span class="date">{{ item.datepublish|localedatetime("%e %B  %Y") }}</span></p>
        {% endif %}

    
        {% if item.teaser is defined and item.teaser is not empty %}
            {{ item.teaser }}
        {% elseif item.intro is defined and item.intro is not empty %}
            {{ item.intro }}
        {% else %}
            <p>{{ item.excerpt(100, false, search|default('')) }}</p>
        {% endif %}

        {% include 'partials/_tags.twig' %}
        </div>
    </div>
</article>

