{% if item is not defined %}
    {% set item = record %}
{% endif %}

{% if itemlink is not defined %}
    {% set itemlink = item.link() %}
{% endif %}

<div class="listingthumbnail column fifth thumblink-fourcol thumblink-{{ item.contenttype.slug }}">
    {% if item.teaser_image is defined and item.teaser_image is not empty and item.teaser_image is not iterable %}
        <img class="round" src="{{ item.teaser_image|thumbnail(250,250,'c')}}" alt="{{ item.title }}"/>
    {% elseif item.teaser_image is defined and item.teaser_image.oembed is not empty %}
        <div class="img-container round is-overflow-hidden is-fixed-center">
            {% include 'partials/_oembed_resize.twig' with { oembed: item.teaser_image.oembed, width: 250, height: 250} %}
        </div>
    {% elseif item.image is defined and item.image|default is not empty and item.image is not iterable %}
        <img class="round" src="{{ item.values.image|thumbnail(250,250,'c')}}" alt="{{ item.title }}"/>
    {% elseif item.values.image.oembed|default is not empty %}
        <div class="img-container round is-overflow-hidden is-fixed-center">
            {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 250, height: 250} %}
        </div>
    {% else %}
        <img class="round" src="{{ 'web_assets/default.png'|thumbnail(250,250,'c')}}" alt="{{ item.title }}"/>
    {% endif %}

    <h3>{{ item.title }}</h3>
    <a href="{{ itemlink }}" class="button-link">
        Learn more
    </a>
</div>
