{% if item is not defined %}
    {% set item = record %}
{% endif %}

<div class="column fifth thumblink-fourcol thumblink-persons">
    <a href="{{ item.link() }}">
    {% if item.values.image is defined and item.values.image is not empty and item.values.image.file|default() != "" %}
        <img class="round" src="{{ item.values.image|thumbnail(250,250,'c')}}" alt="{{ item.first_name }} {{ item.last_name }}"/>
    {% elseif item.values.image.oembed|default is not empty %}
        <div class="img-container round is-overflow-hidden">
            {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 250, height: 250} %}
        </div>
    {% else %}
        <img class="round" src="{% include 'partials/_person_initials.twig' with { 'size': 250 } %}" alt="{{ item.first_name }} {{ item.last_name }}"/>
    {% endif %}
    </a>

    {# name #}
    <h3>{{ item.first_name }} {{ item.last_name }}</h3>

    {# job title #}
    {% if item.job_title %}
    <p class="function">
        {{ item.job_title }}
    </p>
    {% endif %}

    {# organisation #}
    {% if item.company %}
    <p class="company">
        {{ item.company }}
    </p>
    {% endif %}


    {# governing board role #}
    {% if item.gb_role is not empty %}
    <p class="roles" title="Governing Board Role: {{ item.gb_role }}">
        {{ item.gb_role }}
    </p>
    {% endif %}

    {# network association member role - europeana foundation team #}
    {% if item.na_role is not empty %}
    <p class="roles network" title="Network Association role / Europeana Foundation team: {{ item.na_role }}">
        <svg class="icon icon-users">
            <use xlink:href="#icon-users"></use></svg>
        {{ item.na_role }}
    </p>
    {% endif %}

    {# en - community role #}
    {% if item.na_community_role is not empty %}
    <p class="roles" title="Network Association Community role: {{ item.na_community_role }}">
        {{ item.na_community_role }}
    </p>
    {% endif %}

</div>
