{% if item is not defined %}
    {% set item = record %}
{% endif %}

{# {{ dump(item) }} #}


<tr>
    <td><a href="{{ item.link() }}">{{ item.first_name }} {{ item.last_name }}</a></td>

    <td><span class="table-label">Company:</span> {{ item.company|default('Unknown') }}</td>

    <td><span class="table-label">Country:</span> {{ item.country|default('Unknown') }}</td>

    <td><span class="table-label">Sector:</span> {{ item.sector|default('Other') }}</td>

</tr>
