{% if item is not defined %}
    {% set item = record %}
{% endif %}

<div class="column fourth thumblink-fourcol thumblink-{{ record.contenttype.slug }}">
    {% if item.teaser_image is defined and item.teaser_image is not empty %}
        <img class="round" src="{{ item.teaser_image|thumbnail(250,250,'c')}}" alt="{{ item.title }}"/>
    {% elseif item.image is defined and item.image is not empty %}
        <img class="round" src="{{ item.image|thumbnail(250,250,'c')}}" alt="{{ item.title }}"/>
    {% else %}
        <img class="round" src="{{ 'web_assets/default.png'|thumbnail(250,250,'c')}}" alt="{{ item.title }}"/>
    {% endif %}

    <h3>{{ item.title }}</h3>
    <a href="{{ item.link() }}" class="button-link">
        Learn more
    </a>
</div>
