<article class="column third teaser-threecol related-item">
    <div class="img-container">
        <a href="{{ item.link() }}">
            <img src="{{ item.teaser_image|default('notfound')|thumbnail(768, 550, 'c') }}" alt=""/>
        </a>

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}

        <div class="info-block">
            <span class="info-type">{{ item.contenttype.singular_name }}</span>
            {# <span class="info-date">Updated: {{ item.datechanged|localedatetime("%e %B  %Y") }}</span> #}
        </div>
    </div>

    <h3><a href="{{ item.link() }}">{{ item.title }}</a></h3>

    {% if item.teaser %}
        {{ item.teaser|raw }}
    {% elseif item.intro %}
       <p>{{ item.intro|excerpt(170) }}</p>
    {% else %}
        <p>{{ item.body|excerpt(170) }}</p>
    {% endif %}

</article>