<article class="column third teaser-threecol related-item related-events">
    <div class="img-container">
        <a href="{{ item.link() }}" aria-label="{{ item.title|default }}">
            <img src="{{ item.teaser_image|default('notfound')|thumbnail(768, 550, 'c') }}" alt=""/>
        </a>

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}

        <div class="info-block">
            {% include 'partials/_event-datetime.twig' %}

            {% if item.location_name is not empty %}
                <span class="event-location">
                <svg class="icon icon-location">
                    <use xlink:href="#icon-location"></use>
                </svg>
                {{ item.location_name }}
            </span>
            {% endif %}
        </div>
    </div>

    <h3><a href="{{ item.link() }}">{{ item.title }}</a></h3>

    {% if item.teaser %}
        {{ item.teaser|raw }}
    {% elseif item.intro %}
       <p>{{ item.intro|excerpt(170) }}</p>
    {% else %}
        <p>{{ item.body|excerpt(170) }}</p>
    {% endif %}

</article>
