<article class="column third teaser-threecol">
    <a href="{{ item.link() }}">
        <img src="{{ item.teaser_image|default('notfound')|thumbnail(768, 435, 'c') }}" alt=""/>
    </a>
    <h3><a href="{{ item.link() }}">{{ item.title }}</a></h3>

    {% if item.teaser %}
        {{ item.teaser }}
    {% elseif item.introduction %}
       {{ item.intro|excerpt(150) }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

</article>