<style>
    /* load semibold and light for this page only */
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
</style>



{# <svg class="icon icon-folder">
        <use xlink:href="#icon-folder"></use>
    </svg>
#}

{% spaceless %}
<svg display="none">

    <symbol id="icon-biz-people" viewBox="0 0 94 97"><path d="M46 3.303c-4.244 0-7.696 3.453-7.696 7.697s3.452 7.696 7.696 7.696c4.243 0 7.696-3.452 7.696-7.696S50.243 3.303 46 3.303M46 22c-6.066 0-11-4.935-11-11 0-6.066 4.934-11 11-11 6.065 0 11 4.934 11 11 0 6.065-4.935 11-11 11m-24 5.303c-4.244 0-7.697 3.453-7.697 7.697 0 4.243 3.453 7.696 7.697 7.696s7.696-3.453 7.696-7.696c0-4.244-3.452-7.697-7.696-7.697M22 46c-6.066 0-11-4.935-11-11 0-6.066 4.934-11 11-11s11 4.934 11 11c0 6.065-4.934 11-11 11zm18.008 49c-.213-9.508-.57-31.864-.57-34.578 0-3.64-4.678-7.53-17.807-7.53-13.13 0-17.808 3.89-17.808 7.53 0 1.095.114 29.256 0 33.264l-3.821-.112C.115 89.603 0 61.479 0 60.422 0 57.742 1.56 49 21.631 49c7.551 0 13.255 1.223 16.95 3.635 4.073 2.657 4.68 6.02 4.68 7.787 0 2.675.357 24.998.57 34.49L40.007 95zM70 27.303c-4.244 0-7.696 3.453-7.696 7.697 0 4.243 3.452 7.696 7.696 7.696s7.696-3.453 7.696-7.696c0-4.244-3.452-7.697-7.696-7.697M70 46c-6.065 0-11-4.935-11-11 0-6.066 4.935-11 11-11s11 4.934 11 11c0 6.065-4.935 11-11 11zM50.427 95.03l-3.945-.168c.42-9.397 1.124-31.552 1.124-34.176 0-2.653 1.61-11.311 22.338-11.311 7.799 0 13.689 1.211 17.506 3.6 4.205 2.631 4.833 5.96 4.833 7.711 0 .796 1.122 33.69 1.185 35.364l-3.946.141c-.06-1.606-1.187-34.598-1.187-35.505 0-3.605-4.831-7.458-18.39-7.458-13.56 0-18.39 3.853-18.39 7.458 0 2.697-.707 18.916-1.128 28.344v6z"/></symbol>

    <symbol id="icon-biz-transcribe" viewBox="0 0 72 85"><path d="M51.733 45.59c.558-1.578.983-3.032 1.272-4.362.108.432.304 1.114.589 2.043.284.93.507 1.61.668 2.042l2.207 6.453h-6.863l2.127-6.177zm-5.559 16.097l2.304-6.582h9.007l2.352 6.582h4.092l-8.813-23.798h-4.189l-8.813 23.798h4.06zm-9.036-35.921c-.461.032-.896.049-1.303.049-1.652 0-2.924-.017-3.814-.05l4.14-6.172c.322-.476 1.163-1.622 2.524-3.44-.515 2.02-1.03 5.225-1.547 9.613zm1.676 6.176l.727-6.711 1.258-9.37c.14-.995.372-2.156.695-3.486-.463.411-.947.687-1.452.827-.323.097-1.12.2-2.388.308-1.46.108-2.481.233-3.061.373-1.128.26-2.068.635-2.82 1.127-.752.491-1.33 1.102-1.732 1.832a4.617 4.617 0 0 0-.604 2.261c0 .551.11.964.33 1.24.22.276.513.413.879.413a.896.896 0 0 0 .66-.275.872.872 0 0 0 .274-.632c0-.184-.076-.475-.226-.876-.14-.356-.21-.632-.21-.826 0-.595.226-1.178.676-1.751.451-.573 1.127-1.005 2.028-1.297.655-.216 2.307-.443 4.956-.681-1.943 2.205-4.481 5.728-7.615 10.57-2.77 4.28-4.863 7.09-6.28 8.43-.87.82-1.664 1.232-2.384 1.232-.215 0-.644-.076-1.289-.228a3.133 3.133 0 0 0-.612-.08.846.846 0 0 0-.645.275.98.98 0 0 0-.258.697c0 .368.148.667.444.9.295.232.743.348 1.345.348 1.15 0 2.36-.538 3.633-1.613 1.273-1.075 3.277-3.71 6.012-7.902 2.638-.065 4.584-.092 5.838-.082-.182 1.61-.354 2.746-.515 3.405-.226.93-.505 1.815-.838 2.659.934-.141 1.627-.211 2.079-.211.268 0 .907.054 1.917.162.59.065 1.096.097 1.515.097.29 0 .628-.016 1.015-.048l.16-.925c-.493.098-.95.146-1.369.146-.633 0-1.348-.102-2.143-.308zM65.97 11.21v52.03h-2.8c-.478 0-.955-.013-1.427-.026-3.265-.096-8.722-.25-9.104 6.911l-.004.058.003 5.704H21.32l44.649-64.708.001.031zm-9.087 62.942l-.002-3.854c.155-2.744.82-2.929 4.741-2.814.511.014 1.03.029 1.547.029h.568l-6.854 6.64zM17.02 73.38V20.165c0-4.543 0-9.834-2.3-13.561 8.098-.038 24.443-.017 46.751.061.75.003 1.457.194 2.08.525L17.214 74.345a2.497 2.497 0 0 1-.193-.966zM72 2.436L68.513 0l-2.536 3.675a8.643 8.643 0 0 0-4.49-1.281c-7.083-.025-20.675-.069-32.126-.078-6.206-.006-11.082 0-14.495.016-1.876.01-3.399.021-4.454.037-.545.01-.97.019-1.257.03a4.465 4.465 0 0 0-.465.043C3.328 2.494 0 5.878 0 11.305c0 4.89 3.954 8.868 8.814 8.868v-4.271c-2.519 0-4.568-2.063-4.568-4.597 0-3.881 2.314-4.528 4.221-4.59 3.676 1.395 4.308 5.339 4.308 13.45V73.38c0 1.815.717 3.463 1.876 4.68l-3.108 4.505L15.031 85l3.406-4.937c.351.057.709.095 1.075.095h37.282l.005.005.005-.005h.081v-.078L69.86 67.512h.357V11.209A8.782 8.782 0 0 0 69.01 6.77L72 2.436z"/></symbol>

    <symbol id="icon-biz-ingestion" viewBox="0 0 102 96"><path d="M33.287 31.393c0 2.895 6.812 6.932 17.906 6.932 11.093 0 17.905-4.037 17.905-6.932v-2.496c-4.026 2.706-10.426 4.394-17.905 4.394-7.48 0-13.88-1.688-17.906-4.394v2.496zm0-9.549c0 2.894 6.812 6.932 17.906 6.932 11.093 0 17.905-4.038 17.905-6.932v-2.496c-4.026 2.706-10.426 4.393-17.905 4.393-7.48 0-13.88-1.687-17.906-4.393v2.496zm0-9.55c0 2.895 6.812 6.932 17.906 6.932 11.093 0 17.905-4.037 17.905-6.931 0-2.895-6.812-6.932-17.905-6.932-11.094 0-17.906 4.037-17.906 6.932zm35.811 28.289v-2.137c-4.026 2.706-10.426 4.394-17.905 4.394-7.48 0-13.88-1.687-17.906-4.393v2.136c0 2.894 6.812 6.931 17.906 6.931 11.093 0 17.905-4.037 17.905-6.931zm-40.326 0V12.295c0-6.526 9.639-11.447 22.42-11.447 12.782 0 22.421 4.921 22.421 11.447v28.288c0 6.525-9.639 11.446-22.42 11.446-12.782 0-22.421-4.92-22.421-11.446zm64.165 34.6a3.88 3.88 0 0 0-3.877-3.877H76.79a3.88 3.88 0 0 0-3.877 3.877v12.271a3.88 3.88 0 0 0 3.877 3.876H89.06a3.88 3.88 0 0 0 3.877-3.876v-12.27zm4.515 0v12.271c0 4.627-3.765 8.391-8.392 8.391H76.79c-4.627 0-8.392-3.764-8.392-8.39V75.182c0-4.627 3.765-8.392 8.392-8.392H89.06c4.627 0 8.392 3.765 8.392 8.392zm-36.44 6.135c0-5.52-4.492-10.012-10.012-10.012-5.521 0-10.012 4.492-10.012 10.012 0 5.52 4.491 10.012 10.012 10.012 5.52 0 10.012-4.491 10.012-10.012zm4.515 0c0 8.01-6.517 14.527-14.527 14.527-8.01 0-14.528-6.516-14.528-14.527 0-8.01 6.518-14.527 14.528-14.527 8.01 0 14.527 6.517 14.527 14.527zm-34.216 9.007a2.055 2.055 0 0 0-.169-.363l-9.97-17.267a1.998 1.998 0 0 0-.23-.328c-.064.074-.144.18-.229.328l-9.97 17.267c-.084.149-.137.27-.168.363.096.02.228.035.398.035h19.94c.17 0 .302-.016.398-.035zm3.741-2.62c.987 1.709 1.082 3.506.26 4.93-.822 1.424-2.426 2.24-4.4 2.24H10.974c-1.973 0-3.577-.816-4.399-2.24-.822-1.424-.727-3.221.26-4.93l9.97-17.267c.986-1.71 2.495-2.69 4.139-2.69 1.644 0 3.153.98 4.14 2.69l9.97 17.267zM102 67.598h-4.515a3.881 3.881 0 0 0-3.877-3.876H58.934c-1.27 0-3.536-.46-5.39-1.093-.54-.184-1.577-.539-2.55-1.135-.974.596-2.01.95-2.55 1.135-1.854.633-4.121 1.093-5.39 1.093H8.39a3.88 3.88 0 0 0-3.876 3.876H0c0-4.627 3.764-8.391 8.391-8.391h34.662c1.323 0 4.59-.9 5.676-1.612v-1.707h4.515l.011 1.706c1.083.71 4.355 1.613 5.68 1.613h34.673c4.627 0 8.392 3.764 8.392 8.391z"/></symbol>

    <symbol id="icon-biz-communities" viewBox="0 0 112 73"><path d="M54.203 62.15c-.255 1.285-.573 2.885-.611 4.988v.022c-.224.042-.721.082-1.723-.06-.547-.08-2.232-.913-3.156-2.515-.708-1.227-.763-2.547-.165-4.034 1.152-2.865 2.165-3.65 3.281-3.65.553 0 1.13.192 1.763.42l.018.015.069.016.092.033-.156-.045c.16.141.553.578.81 1.628.216.88.072 1.696-.222 3.181zm-9.639-3.2c-.973 2.421-.832 4.475-.33 6.057-.76-.07-1.575-.296-2.07-.828-.985-1.057-.72-3.584.724-6.931 1.815-4.206 3.302-5.35 3.894-5.364.296-.007.992.364 1.85 1.606-1.479.877-2.895 2.54-4.068 5.46zm-5.618-3.404c-.869 2.012-1.349 3.728-1.546 5.193-.363.104-.994.126-2.009-.296-.2-.084-.808-.337-1.154-1.448-.58-1.864.007-4.632.92-6.048.278-.432.535-.851.782-1.256 1.376-2.246 2.066-3.374 4.456-3.852.478-.096.657.033.753.103.493.355.869 1.291 1.06 2.072-1.148 1.306-2.231 3.142-3.262 5.532zm-6.669-6.097c-.23.378-.47.77-.73 1.172-.548.85-1.024 1.944-1.355 3.15-.722-.295-1.524-.756-2.12-1.47-.041-.192-.008-.891.618-2.11.977-1.902 2.521-3.385 3.16-3.68.321.12.87.683 1.388 1.427a38.65 38.65 0 0 0-.961 1.51zm79.215-7.872l-1.899-3.85-16.305 8.039L80.506 33.37l-.341-.154c-11.758-5.31-15.359-13.401-15.39-13.473l-.146-.348-2.144-2.323-6.067 1.492-.268.156c-3.173 1.853-7.082 4.001-7.931 4.284-1.01.182-4.038-.203-4.636-1.164-.242-.39-.035-1.485 1.344-3.292C50.74 10.93 59.88 7.273 62.969 8.618c4.398 1.915 18.65 9.614 18.794 9.692l.905.49 23.287-9.817-1.667-3.956-21.39 9.016c-3.268-1.757-14.263-7.64-18.215-9.362-3.088-1.344-7.724-.398-12.345 2.072-6.09.007-16.311 3.505-19.454 4.636L11.942 0 9.89 3.772l22.659 12.322.919-.347c2.194-.826 6.886-2.423 11.379-3.525a32.65 32.65 0 0 0-3.333 3.72c-3.121 4.09-2.518 6.793-1.463 8.34 2.203 3.23 7.836 3.283 9.322 2.858 1.477-.421 6.361-3.21 8.672-4.555l2.98-.732c.962 1.959 5.39 9.75 17.027 15.12l12.832 12.442c.15 1.134.016 1.979-.402 2.517-.498.64-1.55 1.056-3.057 1.223l-13.821-11.98-2.813 3.245L84.13 55.98c-1.239 2.56-2.86 3.124-4.413 3.142L66.951 47.786l-2.85 3.21 12.317 10.939c-.83 2.208-2.268 3.064-4.69 2.831l-9.887-9.887-3.035 3.036 9.355 9.356c-.24.372-.508.629-.802.757-.622.27-1.664.11-2.94-.448l-6.158-3.802c.05-.273.103-.537.153-.793.326-1.643.634-3.194.182-5.039-.836-3.415-2.882-4.404-3.284-4.567l-.079-.03a12.51 12.51 0 0 0-2.036-.567c-2.27-4.33-4.768-5.217-6.509-5.19a4.872 4.872 0 0 0-.725.076c-.428-1.112-1.131-2.354-2.282-3.193-1.178-.86-2.605-1.151-4.127-.846-1.318.263-2.374.69-3.251 1.226-1.058-1.338-2.59-2.66-4.52-2.66-1.668 0-3.421 1.338-4.833 2.98C20.21 40.744 11.744 34.9 6.448 30.617l-4.196-2.605L0 31.67l3.857 2.375c4.689 3.78 12.344 9.211 20.753 14.731-1.537 3.374-.607 5.326.098 6.194 1.523 1.873 3.566 2.769 5.038 3.194.057.72.18 1.43.391 2.108.617 1.98 1.863 3.41 3.603 4.135 1.172.489 2.223.686 3.148.686.3 0 .587-.022.86-.06a6.092 6.092 0 0 0 1.926 2.68c1.455 1.167 3.422 1.607 5.14 1.607.77 0 1.487-.09 2.09-.242 1.415 1.29 3.067 2.088 4.358 2.273.564.08 1.179.146 1.804.146 1.198 0 2.432-.24 3.414-1.076a3.91 3.91 0 0 0 1.22-1.942l4.587 2.831.243.13c1.49.674 2.868 1.011 4.123 1.01.866 0 1.674-.16 2.417-.483 1.252-.544 2.258-1.508 3.002-2.876 4.032.122 6.942-1.851 8.387-5.714 2.745-.234 5.813-1.626 7.751-5.99 2.57-.343 4.471-1.288 5.66-2.818 1.021-1.311 1.462-2.978 1.335-4.96l16.287-8.03z"/></symbol>

    <symbol id="icon-biz-future" viewBox="0 0 96 96"><path d="M81.827 4.205v.004-.004zm-6.95.118l.005.005-.005-.005zm-4.432.625l-.01.004c.003 0 .007-.003.01-.004zm-6.158 3.8a.007.007 0 0 0-.004.003l.004-.004zm27.222 4.137c-.002.001-.003.002-.004.005l.004-.005zm-.215 1.763l.004.005-.004-.005zm.689 3.805l.001.008-.001-.008zm-.267.776l-.005.005a.02.02 0 0 0 .005-.005zm.04.203l.004.004-.004-.004zm-32.287.349l-.001.006.001-.006zm32.645.325l.001.007v-.007zm-31.75 4.845l.003.004-.003-.004zm30.145 1.866l-.003.007.003-.007zm-25.345 4.565c0 .004 0 .009.002.01l-.002-.01zm3.832 3.09l.01.005c-.003-.002-.006-.004-.01-.004zm14.523.68l.001.007-.001-.007zm-13.643-.36l1.164.425 2.223-2.643c.56-.668 1.486-1.165 2.357-1.262l1.241-.142c.98-.119 2.073.27 2.768.968l2.469 2.48 1.275-.577-.33-2.51c-.115-.902.174-1.938.739-2.646l1.19-1.494c.588-.736 1.576-1.242 2.518-1.292l3.343-.169.41-1.123-2.326-1.897c-.705-.577-1.208-1.536-1.28-2.446l-.131-1.651c-.075-.926.29-1.966.928-2.647l2.322-2.477-.583-1.036-3.361.187c-.935.039-1.969-.341-2.632-1l-1.164-1.155c-.618-.614-1.035-1.57-1.064-2.438l-.094-3.064-1.209-.44-2.035 2.412c-.594.702-1.567 1.187-2.482 1.237l-1.813.102c-.944.056-1.989-.353-2.651-1.032l-2.115-2.16-1.36.539.225 3.503a3.508 3.508 0 0 1-1.08 2.696l-.887.821a3.96 3.96 0 0 1-2.347.989l-3.446.174-.433 1.186 2.573 2.183c.782.664 1.24 1.794 1.142 2.812l-.145 1.542a4.007 4.007 0 0 1-1.061 2.282l-1.861 1.895.587 1.121 3.299-.243c.892-.083 1.924.28 2.6.88l1.108.99c.664.597 1.127 1.554 1.18 2.439l.23 3.682zm12.927.535l.01.011c-.002-.004-.006-.006-.01-.011zm-6.098.13l-.004.006.004-.007zM72 35.565l.01.004-.01-.004zm4.144.201l-.018.003c.007 0 .012 0 .018-.003zm-5.764.24c-.001.001-.004.001-.005.004l.005-.005zm1.104 3.955c-.345 0-.69-.059-1.02-.18l-3-1.092c-1.107-.399-1.938-1.508-2.013-2.69l-.262-4.239-.51-.455-3.819.282c-1.173.116-2.393-.582-2.943-1.632l-1.53-2.924a3.006 3.006 0 0 1 .514-3.47l2.448-2.49.062-.667-2.872-2.437a3.07 3.07 0 0 1-.882-3.336l1.107-3.033c.41-1.121 1.527-1.946 2.72-2.007l4.117-.208.302-.28-.26-4.066a3.02 3.02 0 0 1 1.882-2.966L68.782.78c1.108-.442 2.473-.155 3.314.702l2.452 2.504.908-.05 2.421-2.87a3.068 3.068 0 0 1 3.343-.89l3.096 1.126c1.143.416 1.964 1.553 2 2.767l.114 3.68.59.586 3.762-.21c1.163-.056 2.32.572 2.889 1.583l1.54 2.746c.623 1.1.444 2.573-.426 3.498l-2.766 2.952.063.793 2.82 2.3a3.047 3.047 0 0 1 .923 3.354l-1.098 3.005c-.406 1.118-1.524 1.943-2.718 2.006l-3.818.193-.64.802.422 3.214c.168 1.261-.556 2.562-1.722 3.092l-3.229 1.461a3.072 3.072 0 0 1-3.4-.633l-2.792-2.804-.355.042-2.659 3.163a3.06 3.06 0 0 1-2.333 1.07zM51.932 21.466l-.004.005.004-.005zm-41.303.576l.003.005c-.002 0-.002-.003-.003-.005zm-1.191 8.039v.005-.005zm-.69 18.404c.001 0 .003 0 .004.003l-.004-.003zm4.426 11.344c0 .002-.002.002-.002.002l.002-.002zm36.287.151l.005.003c-.003 0-.004-.003-.005-.003zm-8.336 1.05l.004.002-.004-.002zm-11.367 5.23h3.693l2.165-5.946c.358-.98 1.222-1.95 2.153-2.417l1.775-.887c1.044-.517 2.448-.535 3.493-.04l5.789 2.712 2.894-2.83-2.28-4.376c-.498-.955-.604-2.285-.26-3.308l.956-2.847c.353-1.054 1.281-2.055 2.309-2.488l5.627-2.379v-3.647l-5.323-1.851c-1.018-.353-2.007-1.253-2.459-2.237L49.2 31.34c-.458-.998-.476-2.352-.043-3.364l2.464-5.783-2.741-2.352-5.603 2.403c-1.02.435-2.377.416-3.383-.048l-2.344-1.081c-.95-.437-1.847-1.381-2.234-2.35l-2.113-5.274H29.41l-2.012 5.502c-.372 1.02-1.296 1.997-2.298 2.425l-2.628 1.124c-1.028.44-2.397.412-3.402-.07l-5.072-2.427-3.053 2.713 2.595 5.914c.461 1.046.42 2.437-.105 3.46l-.87 1.692c-.452.885-1.375 1.742-2.295 2.13l-5.778 2.442v3.73l5.818 2.153c1.132.416 2.099 1.484 2.406 2.65l.619 2.37c.249.952.142 2.196-.268 3.092l-2.113 4.643 2.79 2.54 5.513-2.482c.98-.443 2.316-.476 3.319-.073l2.167.867c.978.388 1.925 1.303 2.352 2.274l2.664 6.1zm4.415 4.486H29.14c-1.365 0-2.701-.871-3.25-2.12l-2.912-6.67-2.069-.773-5.889 2.738c-1.242.556-2.822.315-3.837-.607l-3.835-3.491c-1.064-.973-1.403-2.624-.808-3.932l2.44-5.36c-.002 0-.002.002-.002.002-.009 0 .001-.116-.004-.168l-.523-1.99-6.187-2.288C.953 45.605 0 44.237 0 42.838v-5.08c0-1.375.887-2.711 2.156-3.246l6.364-2.69.818-1.548-2.82-6.427c-.577-1.308-.22-2.956.85-3.914l4.124-3.667c1.034-.917 2.624-1.14 3.87-.543l5.493 2.63 2.476-1.059 2.107-6.018c.48-1.315 1.848-2.271 3.252-2.271h5.183c1.397 0 2.735.904 3.252 2.2l2.362 5.896 2.153.961 5.975-2.56c1.219-.523 2.77-.285 3.775.578l3.76 3.229c1.098.94 1.482 2.589.911 3.918l-2.717 6.377 1.03 2.247 5.88 1.965c1.337.464 2.31 1.831 2.31 3.248v5.027c0 1.376-.886 2.712-2.155 3.247L54.343 47.9l-.905 2.695 2.643 4.908c.674 1.293.404 2.968-.64 3.987l-3.98 3.894c-1 .977-2.643 1.255-3.907.658L41.34 61.13l-1.557.778-2.358 6.565c-.483 1.318-1.85 2.273-3.252 2.273zm49.86-2.624a2.084 2.084 0 0 1-2.082-2.08 2.084 2.084 0 0 1 4.165 0c0 1.147-.934 2.08-2.083 2.08zm0-6.405a4.331 4.331 0 0 0-4.175 3.203h-3.096a4.99 4.99 0 0 1-4.987-4.981V45.377H69.53v14.562c0 3.984 3.245 7.224 7.233 7.224h3.096a4.332 4.332 0 0 0 4.175 3.202 4.332 4.332 0 0 0 4.329-4.323 4.332 4.332 0 0 0-4.329-4.325zm-31.372 32.04a2.084 2.084 0 0 1-2.082-2.081 2.084 2.084 0 0 1 4.165 0 2.084 2.084 0 0 1-2.083 2.08zm9.53-43.54v35.356a4.99 4.99 0 0 1-4.989 4.981h-.365a4.333 4.333 0 0 0-4.176-3.202 4.331 4.331 0 0 0-4.328 4.324A4.332 4.332 0 0 0 52.661 96a4.333 4.333 0 0 0 4.176-3.203h.365c3.99 0 7.235-3.24 7.235-7.224V50.218H62.19zm21.842 37.875a3.111 3.111 0 0 1-3.11-3.106 3.111 3.111 0 0 1 6.22 0 3.112 3.112 0 0 1-3.11 3.106zm0-8.455a5.361 5.361 0 0 0-5.235 4.228h-5.543a4.99 4.99 0 0 1-4.988-4.982V47.69H66.02v31.193c0 3.985 3.244 7.225 7.234 7.225h5.543a5.362 5.362 0 0 0 5.235 4.227 5.358 5.358 0 0 0 5.356-5.349 5.358 5.358 0 0 0-5.356-5.349zm-43.468.852a3.111 3.111 0 0 1-3.11-3.106 3.111 3.111 0 0 1 6.22 0 3.112 3.112 0 0 1-3.11 3.106zm18.118-28.296v19.241a4.992 4.992 0 0 1-4.988 4.983H45.83a5.359 5.359 0 0 0-5.265-4.383 5.358 5.358 0 0 0-5.355 5.35c0 2.95 2.403 5.348 5.355 5.348a5.359 5.359 0 0 0 5.196-4.072h7.934c3.989 0 7.234-3.242 7.234-7.226v-19.24h-2.246zM75.74 16.244A3.744 3.744 0 0 0 72 19.981a3.743 3.743 0 0 0 3.74 3.737 3.743 3.743 0 0 0 3.74-3.737 3.743 3.743 0 0 0-3.74-3.737zm0 11.96c-4.54 0-8.232-3.689-8.232-8.223 0-4.534 3.693-8.223 8.232-8.223s8.232 3.689 8.232 8.223c0 4.534-3.693 8.223-8.232 8.223zm-44.619 4.39c-4.001 0-7.257 3.25-7.257 7.247 0 3.998 3.256 7.249 7.257 7.249 4.001 0 7.257-3.25 7.257-7.249 0-3.997-3.256-7.247-7.257-7.247zm0 18.982c-6.478 0-11.748-5.264-11.748-11.735 0-6.47 5.27-11.734 11.748-11.734S42.87 33.371 42.87 39.841c0 6.471-5.27 11.735-11.748 11.735z"/></symbol>

    <symbol id="icon-biz-content" viewBox="0 0 86 90"><path d="M81.655 79.258c0 3.52-2.86 6.387-6.375 6.387H10.72c-3.514 0-6.374-2.866-6.374-6.387v-58.22c0-3.52 2.86-6.387 6.374-6.387h7.275v2.403h-2.18c-4.822 0-8.744 3.932-8.744 8.765v40.094c0 4.83 3.922 8.762 8.743 8.762h54.373c4.823 0 8.745-3.931 8.745-8.762V25.819c0-4.833-3.922-8.765-8.745-8.765H46.204l-2.519-2.403H75.28c3.515 0 6.375 2.867 6.375 6.388v58.219zM22.34 6.4c0-1.12.127-1.716.22-2.003.23.065.63.219 1.261.593l19.344 15.296v47.64l-16.34-9.698c-.357-.31-.7-.6-1.028-.878a51.77 51.77 0 0 1-.838-.715l-.014-.011-.015-.015c-1.82-1.602-2.59-2.78-2.59-6.918V6.4zM38.67 70.32H15.813a4.409 4.409 0 0 1-4.399-4.407V25.819a4.409 4.409 0 0 1 4.4-4.41h2.18V49.69a29.743 29.743 0 0 0 .048 1.672c.01.16.022.318.034.472l.006.071c.325 3.779 1.54 5.663 3.403 7.439.465.443.97.88 1.512 1.337.351.297.722.61 1.109.95l14.565 8.689zm8.838-48.912h22.677c2.428 0 4.4 1.978 4.4 4.41v40.095a4.409 4.409 0 0 1-4.4 4.408H47.51V21.408zM75.28 10.296H37.545L26.402 1.484l-.22-.153c-.868-.528-3.51-2.13-5.8-.841-2.388 1.349-2.388 4.782-2.388 5.91v3.896h-7.275C4.809 10.296 0 15.114 0 21.04v58.219C0 85.182 4.808 90 10.719 90H75.28C81.19 90 86 85.182 86 79.258v-58.22c0-5.924-4.81-10.742-10.72-10.742zM43 82.37a2.113 2.113 0 0 1 0-4.226 2.112 2.112 0 0 1 0 4.226zm0-6.403a4.29 4.29 0 0 0 0 8.58 4.29 4.29 0 0 0 0-8.58z"/></symbol>

    <symbol id="icon-biz-impact" viewBox="0 0 85 86"><path d="M61.268 45.346l-3.735-1.91c-3.51 6.911-8.412 10.27-14.984 10.27-6.069 0-10.69-3.14-14.545-9.885l-3.637 2.094c4.615 8.074 10.562 12 18.182 12 8.185 0 14.484-4.23 18.719-12.57m10.8 7.835l-3.576-2.195c-4.566 7.497-12.774 16.433-25.943 16.433-13.72 0-21.847-8.98-26.25-16.515l-3.616 2.128C19.69 65.022 30.296 71.626 42.55 71.626c15.112 0 24.394-10.031 29.52-18.446m-4.453 25.707c7.02-4.428 12.87-10.67 17.384-18.553l-3.635-2.097c-8.698 15.19-22.483 23.555-38.816 23.555-16.411 0-30.228-8.42-38.906-23.71L0 60.164C9.319 76.583 24.827 86 42.549 86c9.148 0 17.582-2.394 25.067-7.113m-24.33-71.19c-3.768 6.055-8.355 14.481-8.355 17.707 0 4.615 3.748 8.37 8.355 8.37s8.355-3.755 8.355-8.37c0-3.226-4.587-11.652-8.355-17.707m0 30.285c-6.918 0-12.547-5.643-12.547-12.578 0-6.24 9.695-21.088 10.8-22.761L43.286 0l1.747 2.643c1.105 1.673 10.8 16.522 10.8 22.76 0 6.936-5.629 12.579-12.547 12.579"/></symbol>


    <symbol id="icon-biz-research" viewBox="0 0 76 75"><path d="M8.504 66.034h33.774V61.81H8.504v4.223zm0-8.5h25.14v-4.222H8.504v4.223zm0-8.71H25.39V44.6H8.504v4.223zm39.682 21.953H6.655a2.472 2.472 0 0 1-2.46-2.477V6.7a2.472 2.472 0 0 1 2.46-2.478h27.301l-.107 14.2.073.277c.927 3.492 4.445 5.605 7.915 4.802l8.81-.475v2.12a15.628 15.628 0 0 0-6.17-1.263c-8.718 0-15.811 7.142-15.811 15.92 0 8.779 7.093 15.92 15.812 15.92 2.187 0 4.272-.45 6.168-1.262V68.3a2.472 2.472 0 0 1-2.46 2.477zm1.357-51.92l-8.346.45-.21.057c-.63.169-1.293.079-1.865-.254a2.458 2.458 0 0 1-1.074-1.27l.088-11.766 11.407 12.783zm6.553 20.946c0 6.45-5.212 11.698-11.618 11.698-6.406 0-11.619-5.248-11.619-11.698s5.213-11.697 11.619-11.697 11.618 5.248 11.618 11.697zm18.71 25.826L57.723 48.482a15.898 15.898 0 0 0 2.566-8.679c0-4.789-2.114-9.088-5.449-12.009v-8.925l.194-.176L38.36.006l-.18.162.002-.168H6.655C2.985 0 0 3.006 0 6.7v61.6C0 71.994 2.985 75 6.655 75h41.531c3.67 0 6.655-3.006 6.655-6.7V54.792c4.982 5.138 14.344 14.762 15.555 15.786.802.679 1.653.964 2.44.964a3.16 3.16 0 0 0 2.322-1.005c1.066-1.155 1.295-3.205-.353-4.908zM10.6 30.48V14.007c0-.656.53-1.19 1.18-1.19h13.385c.65 0 1.18.534 1.18 1.19V30.48c0 .655-.53 1.188-1.18 1.188H11.78c-.65 0-1.18-.533-1.18-1.188zm14.565 5.411c2.963 0 5.374-2.427 5.374-5.41V14.006c0-2.984-2.41-5.412-5.374-5.412H11.78c-2.963 0-5.374 2.428-5.374 5.412V30.48c0 2.984 2.41 5.411 5.374 5.411h13.385z"/></symbol>

    <symbol id="icon-biz-education" viewBox="0 0 85 88"><path d="M65.588 63.74v-.07H19.35v.094l-15.051.117-.143-3.891h72.129l4.231.007c.025.012.11.092.202.29l.126 3.453H65.588zm1.326 19.878c-.23.077-.592.149-1.062-.106-.554-.306-.915-.884-1.041-1.362l-4.765-14.16h3.962L68.3 81.247c.193.972-.441 1.986-1.386 2.37zm-46.796-1.2c-.143.727-1.369 1.315-2.288 1.132-.408-.082-.852-.451-1.1-.918a1.347 1.347 0 0 1-.093-1.14l4.36-13.502h3.786l-4.665 14.427zM57.9 55.67h11.763v-2.232H57.901v2.232zM10.176 11.58H39.85l.546-6.066c.457-1.015.91-1.196 1.905-1.196 1.071 0 1.78.599 1.873.86l.584 6.401H74.42c.907 0 1.865.755 1.865 1.47v42.62h-2.322v-6.55h-20.36v6.55H8.312V13.05c0-.715.957-1.47 1.863-1.47zm74.715 47.587c-.706-2.141-2.31-3.438-4.308-3.495V13.05c0-3.138-2.82-5.79-6.163-5.79H48.67L48.4 4.459C47.74 1.833 45.235 0 42.3 0c-2.922 0-4.891 1.366-6.012 4.18l-.37 3.08H10.176c-3.341 0-6.162 2.652-6.162 5.79v42.623C1.679 55.74 0 57.474 0 59.847v4.034c0 2.422 1.747 4.178 4.156 4.178h12.3L12.6 80.024c-.588 1.467-.458 3.17.348 4.665.865 1.602 2.372 2.759 4.039 3.096 3.308.679 6.734-1.456 7.284-4.275l5.033-15.52h26.209l5.177 15.376c.398 1.593 1.582 3.098 3.098 3.934.835.46 1.742.7 2.682.7.63 0 1.276-.11 1.923-.33 2.985-1.197 4.719-4.255 4.06-7.512L68.542 68.06h12.3c2.41 0 4.157-1.756 4.157-4.178v-4.034l-.11-.68z"/></symbol>

    <symbol id="icon-biz-creatives" viewBox="0 0 90 93"><path d="M66.176 45.171c0-11.72-9.5-21.257-21.176-21.257-11.677 0-21.177 9.536-21.177 21.257 0 7.545 4.058 14.59 10.591 18.39a2.654 2.654 0 0 1 1.321 2.299v5.883h18.53V65.86c0-.949.503-1.824 1.32-2.298 6.533-3.8 10.591-10.846 10.591-18.39m5.295 0c0 8.914-4.528 17.27-11.912 22.168v7.06a2.653 2.653 0 0 1-2.647 2.657H33.088a2.653 2.653 0 0 1-2.647-2.657v-7.06C23.057 62.442 18.53 54.086 18.53 45.171 18.53 30.52 30.404 18.6 45 18.6c14.597 0 26.472 11.92 26.472 26.571m6.286-31.55a2.64 2.64 0 0 0-3.743 0L68.4 19.255a2.664 2.664 0 0 0 0 3.758 2.638 2.638 0 0 0 3.742 0l5.616-5.636a2.663 2.663 0 0 0 0-3.758m-22.17 66.094H34.413a2.653 2.653 0 0 0-2.647 2.658 2.653 2.653 0 0 0 2.647 2.656h21.176a2.653 2.653 0 0 0 2.647-2.656 2.653 2.653 0 0 0-2.647-2.658m31.765-37.2h-7.941a2.653 2.653 0 0 0-2.647 2.657 2.653 2.653 0 0 0 2.647 2.657h7.94A2.653 2.653 0 0 0 90 45.171a2.653 2.653 0 0 0-2.647-2.657M45 13.285a2.653 2.653 0 0 0 2.647-2.657V2.657A2.653 2.653 0 0 0 45 0a2.653 2.653 0 0 0-2.647 2.657v7.971A2.653 2.653 0 0 0 45 13.285m-34.412 29.23h-7.94A2.652 2.652 0 0 0 0 45.17a2.653 2.653 0 0 0 2.647 2.657h7.941a2.653 2.653 0 0 0 2.647-2.657 2.653 2.653 0 0 0-2.647-2.657m42.648 45.172H36.764a2.653 2.653 0 0 0-2.648 2.657A2.653 2.653 0 0 0 36.764 93h16.47a2.653 2.653 0 0 0 2.65-2.657 2.653 2.653 0 0 0-2.648-2.657M17.86 23.014l-5.615-5.636a2.664 2.664 0 0 1 0-3.758 2.64 2.64 0 0 1 3.743-.001l5.616 5.637a2.663 2.663 0 0 1-.001 3.758 2.64 2.64 0 0 1-3.743 0"/></symbol>

</svg>


{% endspaceless %}

{# Information on page #}

{% set pageinfo = {
    '1' : {
        'title' : 'Personal Stories',
        'teaser' : 'Participants share 600 personal stories with Europeana Migration',
        'image' : 'icon-biz-people',
        'articlelink' : '/page/pagename'
        },
    '2' : {
        'title' : 'WW1 transcribed',
        'teaser' : 'Public transcribes 2,800 First World War handwritten documents',
        'image' : 'icon-biz-transcribe',
        'articlelink' : '/page/pagename'
        },
    '3' : {
        'title' : 'Ingestion transformed',
        'teaser' : 'New aggregation workflow transforms data ingestion process',
        'image' : 'icon-biz-ingestion',
        'articlelink' : '/page/pagename'
        },
    '4' : {
        'title' : 'Specialist communities',
        'teaser' : 'Europeana Network Associtation launches six specialist communities',
        'image' : 'icon-biz-communities',
        'articlelink' : '/page/pagename'
        },
    '5' : {
        'title' : 'Future of digital',
        'teaser' : 'EuropeanaTech inspires innovators to forge the future of digital',
        'image' : 'icon-biz-future',
        'articlelink' : '/page/pagename'
        },
    '6' : {
        'title' : 'Discoverable content',
        'teaser' : 'Europeana Collections updates make content more discoverable',
        'image' : 'icon-biz-content',
        'articlelink' : '/page/pagename'
        },
    '7' : {
        'title' : 'Impact Playbook',
        'teaser' : 'Evidence of transformative cultral heritage shapes Impact Playbook',
        'image' : 'icon-biz-impact',
        'articlelink' : '/page/pagename'
        },
    '8' : {
        'title' : 'Scholars research WW1',
        'teaser' : 'Scholars harness digital cultural heritage in the First World War research projects',
        'image' : 'icon-biz-research',
        'articlelink' : '/page/pagename'
        },
    '9' : {
        'title' : 'Europeana MOOC',
        'teaser' : '2,000 teachers upskill with \'europeana in the classroom\' MOOC',
        'image' : 'icon-biz-education',
        'articlelink' : '/page/pagename'
        },
    '10' : {
        'title' : 'Playful creatives',
        'teaser' : 'Creatives get playful with digital culture',
        'image' : 'icon-biz-creatives',
        'articlelink' : '/page/pagename'
        }

    }
%}



<header id="header" class="">
    <div class="mainlogo">
        <a href="/">
            <img src="{{ asset( 'images/splash_bizplan2019/logo_10thanniversary.svg','theme') }}" alt="Europeana - 10th anniversary" />
        </a>
    </div>

    <nav>
        <ul>
            <li><a href="#perspectives">Annual Report 2018</a></li>
            <li><a href="#report-highlights">Report Highlights</a></li>
        </ul>
        <a class="button outline" href="/">Download pdf</a>
    </nav>


</header>



<main>
    <section class="wheel-section group" id="perspectives">
        <h2 class="sr-only">Explore the insights</h2>
        <img class="poly" src="{{ asset('images/splash_bizplan2019/EU_annualreport_herobanner_1200px_square.jpg', 'theme') }}" width='557' height='557' />

        <div class="wheel-container">
            <div class="wheel">
                <div class="center">
                    <h1>Annual Report 2018</h1>
                    <p class="slogan">A decade of democratising culture</p>
                </div>



                {# {% for person in persons %} #}
                {% for item in pageinfo %}
                    {# {% set personstyle = pageinfo[person.id] %} #}

                <article class="article-{{ loop.index }}">
                    <div class="handle handle-{{ loop.index }}">

                        </svg>
                    </div>

                    <div class="center">
                        <svg class="icon">
                            <use xlink:href="#{{ item.image }}"></use>
                        </svg>
                        <h3 class="title">{{ item.title }} ({{ loop.index }})</h3>
                        <p class="teaser">{{ item.teaser }}</p>
                        <p class="cta">Call to action</p>
                    </div>

                </article>
                {% endfor %}

            </div>{# /wheel #}
        </div>
    </section>

    <section class="report-highlights group module" id="report-highlights">
        <div class="inner-wrap">
            <h2>Report Highlights</h2>
            <div class="items-container">

                {% set orderedpages = [1,2,3,4,5,6,7,8,9,10] %}
                {% for orderid in orderedpages %}

                {% set page = pageinfo[orderid] %}
                <article class="column fifth thumblink-fivecol thumblink-persons">
                    <a href="{{ page.articlelink }}">
                        <svg class="icon icon-folder">
                            <use xlink:href="#{{ page.image }}"></use>
                        </svg>

                    <h3>{{ page.title }}</h3>
                    <p class="teaser">{{ page.teaser }}</p>
                    </a>
                </article>

                {% endfor %}

            </div>
        </div>
    </section>

    {# TODO Include / inline alternative footer #}
    {{ include('partials/_footer_splashpage.twig') }}

</main>
