{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="teaser teaser-posts group">
    <div class="img-container">
        <img src="{{ item.teaser_image|default('notfound')|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        <div class="info-block">
            <span class="info-type">Blog</span>
            <span class="info-date">Created: {{ item.datepublish|localedatetime("%A %B %e, %Y") }}</span>

            {% if item.author is not empty %}
                {% for aut in item.author %}
                    {% setcontent author = 'persons' where { id : aut } returnsingle %}
                    {% if author is not empty %}
                    <span class="info-author">
                        {{ author.first_name }} {{ author.last_name }}
                    </span>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>

    </div>

    <h2><a href="{{ item.link() }}">{{ item.title }}</a></h2>

    {% include 'partials/_tags.twig' %}


    {% if item.teaser %}
    {{ item.teaser }}
    {% elseif item.intro %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

    <div class="actions-footer">
        {% include 'partials/_readtime.twig' %}
        <a class="button-link" href="{{ item.link() }}" >
            Read more
        </a>

    </div>

</article>