
<article class="teaser teaser-dataset group">
        <div class="img-container">
        <img src="{{ item.image|default('notfound')|thumbnail(600,400,'c')}}" alt="alt"/>

        <div class="info-block">
            <span class="info-type">Dataset</span>
            <span class="info-date">Updated: {{ item.datechanged|localedatetime("%A %B %e, %Y") }}</span>

            {% if item.contact_record %}
            <span class="info-author">
                {% setcontent author = 'persons' where { id : item.contact_record } returnsingle %}
                By <a href="{{ author.link() }}">{{ author.first_name }} {{ author.last_name }}</a>
            </span>
            {% endif %}

        </div>

    </div>

    <h2>{{ item.title }}</h2>

    {% include 'partials/_tags.twig' %}

    {% if item.teaser %}
        {{ item.teaser }}
    {% elseif item.intro %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

    <div class="actions-footer">
       <span class="read-time">10 minutes to read</span>
        <a class="button-link" href="{{ item.link() }}">
            View dataset
        </a>

    </div>

</article>