{% if item is not defined %}
    {% set item = record %}
{% endif %}

<section class="author-big column group">
    <div class="img-container">
        {% if item.values.image.file|default is not empty or imte.values.image|is_string %}
            <img class="round" src="{{ item.values.image|thumbnail(144, 144, 'c') }}" alt=""/>
        {% elseif item.values.image.oembed|default is not empty %}
            <div class="img-container round is-overflow-hidden is-fixed-center">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 144, height: 144} %}
            </div>
        {% else %}
            <img class="round" src="{{ 'web_assets/default.png'|thumbnail(144, 144, 'c') }}" alt=""/>
        {% endif %}
        <span class="letter-overlay">{{ item.contact_name|first }}</span>
    </div>
    <div class="txt-container">
        <p class="name">{{ item.contact_name }}</p>

        <div class="contact">

        {% if item.contact_email is not empty %}
            <a href="mailto:{{ item.contact_email }}" class="email">{{ item.contact_email }}</a>
        {% endif %}

        {% if item.contact_website is not empty %}
            <a href="{{ item.contact_website }}" class="url">{{ item.contact_website }}</a>
        {% endif %}
        </div>
    </div>
</section>
