{% if item is not defined %}
    {% set item = record %}
{% endif %}

{# {{ dump(item) }} #}

{# Als speaker is set to true, the speaker_teaser is shown in this teaser, instead of the introduction
#}

{% set filterpersons = (module.get('filter_persons'))|default('') %}

<article class="teaser teaser-persons group">
    <div class="img-container">
        <img src="{{ item.values.image|default('notfound')|thumbnail(172,172,'c')}}" alt="Portrait of {{ item.first_name }} {{ item.last_name }}"/>

        <h3><a href="{{ item.link() }}">{{ item.first_name }} {{ item.last_name }}</a></h3>

        <div class="socials">
            {% if item.twitter is not empty %}
            <a href="{{ item.twitter }}" class="tw">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"></use>
                </svg><span class="sr-only">{{ item.twitter }}</span>
            </a>
            {% endif %}
            {% if item.linkedin is not empty %}
            <a href="{{ item.linkedin }}" class="li">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg><span class="sr-only">{{ item.linkedin }}</span>
            </a>
            {% endif %}
        </div>

    </div>
    <div class="txt-container">

            {% if item.company %}
                <p class="function">{{ item.company }}</p>
            {% endif %}

            {% if item.job_title %}
                <p class="company">{{ item.job_title }}</p>
            {% endif %}

            {% if item.network_participation %}
                <p class="networklevel">
                    {% for netw in item.network_participation %}
                    {{ netw }}{% if loop.last == false %} / {% endif %}
                    {% endfor %}
                </p>
            {% endif %}


        {% if filterpersons == 'MC Election Candidate' %}
            {# Als de listing van de kandidaten is, toon dan de candidacy teaser #}
            {% if item.candidacy_teaser is defined and item.candidacy_teaser is not empty %}
                {{ item.candidacy_teaser }}
            {% endif %}

        {% else %}

            {% if short is not defined or short == false %}
                {% if speaker|default(false) %}
                    {{ item.speaker_teaser }}
                {% elseif item.teaser %}
                    {{ item.teaser }}
                {% elseif item.introduction %}
                   {{ item.introduction|excerpt(300) }}
                {% else %}
                    <p>{{ item.excerpt(300, false, search|default('')) }}</p>
                {% endif %}
            {% endif %}

        {% endif %}

        <div class="contact">
            {% if item.email is not empty %}
            <a href="mailto:{{ item.email }}" class="email">{{ item.email }}</a>
            {% endif %}

            {% if short is not defined or short == false %}
                {% if item.phone is not empty %}
                <a href="tel:{{ item.phone }}" class="phone">{{ item.phone }}</a>
                {% endif %}
            {% endif %}

            {% if short is defined and short == true %}
                <br />
            {% endif %}

            {% if item.twitter is not empty %}
            <a href="{{ item.twitter }}" class="tw">
                <svg class="icon icon-twitter">
                    <use xlink:href="#icon-twitter"></use>
                </svg><span class="sr-only">{{ item.twitter }}</span>
            </a>
            {% endif %}
            {% if item.linkedin is not empty %}
            <a href="{{ item.linkedin }}" class="li">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg><span class="sr-only">{{ item.linkedin }}</span>
            </a>
            {% endif %}
        </div>
    </div>
</article>
