{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="teaser teaser-events group {% if record.featured == true %}featured{% endif %}">
    <div class="img-container">

        {% if item.teaser_image is defined and item.teaser_image.file|default is not empty %}
            <img src="{{ item.teaser_image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.teaser_image is defined and item.teaser_image.oembed|default is not empty %}
            <div class="is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.teaser_image.oembed, width: 600, height: 400} %}
            </div>
        {% elseif item.values.image is defined and item.values.image.file|default is not empty %}
            <img src="{{ item.values.image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image.oembed|default is not empty %}
            <div class="is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 600, height: 400} %}
            </div>
        {% else %}
            <img src="{{ 'web_assets/default.png'|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% endif %}

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}

        <div class="info-block">
            {% include 'partials/_event-datetime.twig' %}

            {% if item.location_name is not empty %}
                <span class="event-location">
                <svg class="icon icon-location">
                    <use xlink:href="#icon-location"></use>
                </svg>
                {{ item.location_name }}
            </span>
            {% endif %}
        </div>
    </div>

    <h2><a href="{{ item.link() }}">{{ item.title }}</a></h2>

    {% include 'partials/_tags.twig' %}

    {% if item.teaser is defined and item.teaser is not empty %}
        {{ item.teaser }}
    {% elseif item.intro is defined and item.intro is not empty %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

    <div class="actions-footer">
        {% include 'partials/_add-to-calendar.twig' %}

        <a class="button-link" href="{{ item.link() }}">
            View event
        </a>

        {% if record.featured == true %}
            <span class="featured-label">
                <svg class="icon icon-star">
                    <use xlink:href="#icon-star"></use>
                </svg>
                featured
            </span>
        {% endif %}

    </div>

</article>
