{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="teaser teaser-pages group">
    <div class="img-container">

        {% if item.teaser_image is defined and item.teaser_image is not empty %}
            <img src="{{ item.teaser_image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image is defined and item.values.image is not empty %}
            <img src="{{ item.values.image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% else %}
            <img src="{{ 'web_assets/default.png'|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% endif %}

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}

        <div class="info-block">
            <span class="info-type">Job</span>
            <span class="info-date">Deadline: {{ item.deadline|localedatetime("%e %B  %Y") }}</span>

            {% if item.contact_record is not empty %}
                {% set contacts = item.contact_record %}
                {% if contacts is not iterable %}
                    {# fix iterable ids if the content is json in a textfield #}
                    {% set contacts = record.contact_record|json_decode() %}
                {% endif %}
                {% if contacts is iterable %}
                    {% for contact_id in contacts %}
                        {% setcontent author = 'persons' where { id : contact_id } returnsingle %}
                        {% if author is not empty %}
                        <span class="info-author">
                            {{ author.first_name }} {{ author.last_name }}
                        </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>

    <h2><a href="{{ item.link() }}">{{ item.title }}</a></h2>

    {% if item.department is not empty %}
    <span class="svg-link" href="#">
        <svg class="icon icon-users">
            <use xlink:href="#icon-users"></use>
        </svg>
        <span class="team">{{ item.department }}</span>
    </span>
    {% endif %}

    {% if record.position_type is not empty %}
        <p>Position type: {{ record.position_type }}</p>
    {% endif %}

    {% if item.teaser is defined and item.teaser is not empty %}
        {{ item.teaser }}
    {% elseif item.intro is defined and item.intro is not empty %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

    <div class="actions-footer">
        <a class="readmore" href="{{ item.link() }}">
            Read more
        </a>

    </div>

</article>
