{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="teaser teaser-posts group">
    <div class="img-container">

        {% if item.teaser_image is defined and item.teaser_image is not empty %}
            <img src="{{ item.teaser_image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.image is defined and item.image is not empty %}
            <img src="{{ item.image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% else %}
            <img src="/theme/europeana-cope/images/default.png" width="600" height="400" style="height:400px;" alt=""/>
        {% endif %}

        <div class="info-block">
            <span class="info-type">
                {% if item.posttype == 'blog' %}
                Blog
                {% elseif item.posttype == 'pressrelease' %}
                Pressrelease
                {% elseif item.posttype == 'publication' %}
                Publication
                {% else %}
                News
                {% endif %}
            </span>
            <span class="info-date">Created: {{ item.datepublish|localedatetime("%e %B  %Y") }}</span>

            {% if item.author is not empty %}
                {% for aut in item.author %}
                    {% setcontent author = 'persons' where { id : aut } returnsingle %}
                    {% if author is not empty %}
                    <span class="info-author">
                        {{ author.first_name }} {{ author.last_name }}
                    </span>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>

    </div>

    <h2><a href="{{ item.link() }}">{{ item.title }}</a></h2>

    {% include 'partials/_tags.twig' %}


    {% if item.teaser %}
    {{ item.teaser }}
    {% elseif item.intro %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

    <div class="actions-footer">
        {% include 'partials/_readtime.twig' %}
        <a class="button-link" href="{{ item.link() }}" >
            Read more
        </a>

    </div>

</article>
