{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="teaser teaser-posts group {% if record.featured == true %}featured{% endif %}">
    <div class="img-container">

        {% if item.teaser_image is defined and item.teaser_image.file|default is not empty %}
            <img src="{{ item.teaser_image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% else if item.teaser_image is defined and aitem.teaser_image.oembed|default is not empty %}
            <div class="img-container is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.teaser_image.oembed, width: 600, height: 400} %}
            </div>
        {% elseif item.values.image is defined and item.values.image.file|default is not empty %}
            <img src="{{ item.values.image|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image.oembed|default is not empty %}
            <div class="img-container is-overflow-hidden">
                {% include 'partials/_oembed_resize.twig' with { oembed: item.values.image.oembed, width: 600, height: 400} %}
            </div>
        {% else %}
             <img src="{{ 'web_assets/default.png'|thumbnail(600,400,'c')}}" alt="{{ item.title }}"/>
        {% endif %}

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}

        <div class="info-block">
            <span class="info-type">
                {{ item.posttype|default('News') }}
            </span>
            {% if item.shoulddatepublish|default() %}
            <span class="info-date">Created: {{ item.datepublish|localedatetime("%e %B  %Y") }}</span>
            {% endif %}

            {% if item.author is not empty %}
                {% set contacts = item.author %}
                {% if contacts is not iterable %}
                    {# fix iterable ids if the content is json in a textfield #}
                    {% set contacts = record.author|json_decode() %}
                {% endif %}
                {% if contacts is iterable %}
                    {% for contact_id in contacts %}
                        {% setcontent author = 'persons' where { id : contact_id } returnsingle %}
                        {% if author is not empty %}
                        <span class="info-author">
                            {{ author.first_name }} {{ author.last_name }}
                        </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>

    </div>

    <h2><a href="{{ item.link() }}">{{ item.title }}</a></h2>

    {% include 'partials/_tags.twig' %}


    {% if item.teaser is defined and item.teaser is not empty %}
        {{ item.teaser }}
    {% elseif item.intro is defined and item.intro is not empty %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(150, false, search|default('')) }}</p>
    {% endif %}

    <div class="actions-footer">
        {% include 'partials/_readtime.twig' %}
        <a class="button-link" href="{{ item.link() }}" >
            Read more
        </a>

    </div>

</article>
