<section class="author-big column group">
    <div class="img-container">
        {% if record.image %}
        <img class="round" src="{{ record.image|thumbnail(144, 144, 'c') }}" alt=""/>
        {% else %}
        <img class="round" src="{{ 'web_assets/default.png'|thumbnail(144, 144, 'c') }}" alt=""/>
        {% endif %}
        <span class="letter-overlay">{{ record.contact_name|first }}</span>
    </div>
    <div class="txt-container">
        <p class="name">{{ record.contact_name }}</p>

        <div class="contact">

        {% if record.contact_email is not empty %}
            <a href="mailto:{{ record.contact_email }}" class="email">{{ record.contact_email }}</a>
        {% endif %}

        {% if record.contact_website is not empty %}
            <a href="{{ record.contact_website }}" class="url">{{ record.contact_website }}</a>
        {% endif %}
        </div>
    </div>
</section>