{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="column catstream-threecol teaserstreamer-{{ record.contenttype.slug }}">
    <div class="img-container">
        {% if item.teaser_image is defined and item.teaser_image is not empty %}
            <img src="{{ item.teaser_image|thumbnail(768,435,'c')}}" alt="{{ item.title }}"/>
        {% elseif item.values.image is defined and item.values.image is not empty %}
            <img src="{{ item.values.image|thumbnail(768,435,'c')}}" alt="{{ item.title }}"/>
        {% else %}
            <img src="{{ 'web_assets/default.png'|thumbnail(768,435,'c')}}" alt="{{ item.title }}"/>
        {% endif %}

        {% include 'partials/_image_attribution.twig' with { parentitem: 'teaser' } %}
    </div>

    <h3>{{ item.title }}</h3>

    {% if item.teaser is defined and item.teaser is not empty %}
        {{ item.teaser }}
    {% elseif item.intro is defined and item.intro is not empty %}
        {{ item.intro }}
    {% else %}
        <p>{{ item.excerpt(130, false, search|default('')) }}</p>
    {% endif %}

    <p class="meta">

        {% if item.author is defined and item.author is not empty %}
            {% for aut in item.author %}
                {% setcontent author = 'persons' where { id : aut } returnsingle %}
                {% if author is not empty %}
                <span class="author">By:
                    <a href="{{ author.link() }}">{{ author.first_name }} {{ author.last_name }}</a>
                </span>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if item.shoulddatepublish|default() %}
        <span class="caldate">
            <svg class="icon icon-calendar">
                <use xlink:href="#icon-calendar"></use>
            </svg>
            {{ item.datepublish|localedatetime("%e %B  %Y") }}
        </span>
        {% endif %}

    </p>
</article>


