{% if item is not defined %}
    {% set item = record %}
{% endif %}

<article class="tile {% if item.htmllink is not empty %}tile-pointer{% endif %}"
    {% if item.values.image is defined and item.values.image is not empty %}
        style="background-image: url({{ image(item.image, 600, 400) }})"
    {% else %}
        style="background-image: url(web_assets/default.png)"
    {% endif %}>

    <div class="tile-front">

        <div class="icon">
            {# ICON - IMAGE #}
            {% if item.icon is not empty %}
                <img src="/files/{{ item.icon }}" alt=""/>
             {% endif %}
        </div>

        <a href="{{ item.htmllink }}"><h3>{{ item.title }}</h3></a>
    </div>

    <div class="tile-back" {% if item.htmllink is not empty %}data-url="{{ item.htmllink }}"{% endif %}>

        <div class="intro">

           {% if item.icon is not empty %}
            <div class="icon">
                {# ICON - IMAGE #}
                {# <img src="{{ asset('images/icons/test-icon.svg', 'theme') }}" alt=""/> #}
                <img src="/files/{{item.icon}}" alt=""/>
            </div>
            {% endif %}

            <p>{{ item.title }}</p>
        </div>
        {{item.body}}
    </div>

</article>
