<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
            {{ app.config.get('general/sitename') -}}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&subset=latin,greek,cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/screen.css', 'theme') }}">

    {% block headincludes %}
    {% endblock headincludes %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
    {{ include('partials/_svg_library.twig') }}

    {% block header %}
        {{ include('partials/_header.twig') }}
    {% endblock header %}

    {% block navigation %}
        {{ include('partials/_navigation.twig') }}
    {% endblock navigation %}

    <div class="canvas"> {# contains all items next to navigation #}
        {% block contentheader %}
            {{ include('partials/_contentheader.twig') }}
        {% endblock contentheader %}

        {% block body %}
            <main>
                {% block main %}
                {% endblock main %}
            </main>

        {% endblock body %}

        {% block footer %}
            {{ include('partials/_footer.twig') }}
        {% endblock footer %}
    </div>

    {% block bottomincludes %}
    {% endblock bottomincludes %}
</body>
</html>
