{% spaceless %}
    {# This file might seem a little complex, because of the high density of tags.
       It uses Twig macros and ternary selectors. Read up on them, if required:
       macros: http://twig.sensiolabs.org/doc/templates.html#macros
       ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
    #}

    {# Make sure the setting for the submenus is defined. #}
    {% if withsubmenus is not defined %}
        {% set withsubmenus = true %}
    {% endif %}

    {# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
       invokes itself to insert the items of the submenus. #}
    {% macro display_menu_item(item, loop, withsubmenus, level) %}
        {% from _self import display_menu_item %}
        {% spaceless %}
            <li class="index-{{ loop.index -}}
                {{ item.path|default('') == 'homepage' ? '' -}}
                {{ ' ' ~ item.class|default('') -}}
                {{ loop.first ? ' first' -}}
                {{ loop.last ? ' last' -}}
                {{ (level > 0) ? ' level-' ~ level -}}
                {{ (item.submenu|default(false) and withsubmenus) ? ' is-parent' -}}
                {{ item|current ? ' active' }}">

                <a href="{{ item.link }}" title='{{ item.title|default('')|escape }}'>
                    {{- item.label|default('-') -}}
                </a>

                {% if item.submenu is defined and withsubmenus %}
                    <ul class="sub-menu" data-submenu>
                        {% set sublevel = level+1 %}
                        {% for submenu in item.submenu %}
                            {{ display_menu_item(submenu, loop, withsubmenus, sublevel) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endspaceless %}
    {% endmacro %}

    {# Make the macro available for use #}
    {% from _self import display_menu_item %}

    {# The main menu loop: Iterates over the items, calling `display_menu_item` #}
    {# we need all these classes for the jquery interactivity #}
    <ul class="play-menu main-menu">
        {% for item in menu %}
            {% if item.label is defined %}
                {{ display_menu_item(item, loop, withsubmenus, 0) }}
            {% endif %}
        {% endfor %}
    </ul>

{% endspaceless %}

<style>
    /* main menu item colours */
    ul.play-menu .home       { border-color: #555; background-color: #444; }
    ul.play-menu .home a     { color: #eee; }
    ul.play-menu .mission    { border-color: #add; background-color: #acc; }
    ul.play-menu .wwd        { border-color: #dad; background-color: #cac; }
    ul.play-menu .network    { border-color: #dbb; background-color: #daa; }
    ul.play-menu .services   { border-color: #bbd; background-color: #aad; }
    ul.play-menu .resources  { border-color: #cc3; background-color: #bb3; }
    ul.play-menu .news       { border-color: #77f; background-color: #66f; }
    ul.play-menu .jobs       { border-color: #4f4; background-color: #3f3; }
    /* menu structure */
    ul.play-menu a           { display: block; }
    ul.play-menu li          { padding-left: 10px; border-left: 15px solid; }
    ul.play-menu li > .sub-menu
                             { margin: 10px 0 -12px -10px; border-left: none; }
    ul.play-menu li > .sub-menu .sub-menu
                             { margin-right: -5px; }
    ul.play-menu .sub-menu li
                             { padding-left: 10px; border-left: none; }
    ul.play-menu .sub-menu .sub-menu
                             { padding-bottom: 10px; }
    ul.play-menu .sub-menu .sub-menu li
                             { padding: 2px 10px; border-bottom: none; }
    ul.play-menu li.level-2 a
                             { font-size: 90%; }
    /* mouseover thingies */
    ul.play-menu a:hover
                             { font-weight: bold; letter-spacing: -0.5px; }
    .active > a              { font-weight: bold; letter-spacing: -0.5px; background: rgba(255,180,0,0.4);  }

</style>
