{% spaceless %}
    {# This file might seem a little complex, because of the high density of tags.
       It uses Twig macros and ternary selectors. Read up on them, if required:
       macros: http://twig.sensiolabs.org/doc/templates.html#macros
       ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
    #}

    {# Make sure the setting for the submenus is defined. #}
    {% if withsubmenus is not defined %}
        {% set withsubmenus = true %}
    {% endif %}

    {# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
       invokes itself to insert the items of the submenus. #}
    {% macro display_menu_item(item, loop, withsubmenus, level) %}
        {% from _self import display_menu_item %}
        {% spaceless %}
            <li class="index-{{ loop.index -}}
                {{ item.path|default('') == 'homepage' ? '' -}}
                {{ ' ' ~ item.class|default('') -}}
                {{ loop.first ? ' first' -}}
                {{ loop.last ? ' last' -}}
                {{ (level > 0) ? ' level-' ~ level -}}
                {{ (item.submenu|default(false) and withsubmenus) ? ' is-parent' -}}
                {{ item|current ? ' active' }}">

                <a href="{{ item.link }}" title='{{ item.title|default('')|escape }}'>
                    {{- item.label|default('-') -}}
                </a>

                {% if item.submenu is defined and withsubmenus %}
                    <ul class="sub-menu" data-submenu>
                        {% set sublevel = level+1 %}
                        {% for submenu in item.submenu %}
                            {{ display_menu_item(submenu, loop, withsubmenus, sublevel) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endspaceless %}
    {% endmacro %}

    {# Make the macro available for use #}
    {% from _self import display_menu_item %}

    {# The main menu loop: Iterates over the items, calling `display_menu_item` #}
    <ul class="secondary-menu">
        {% for item in menu %}
            {% if item.label is defined %}
                {{ display_menu_item(item, loop, withsubmenus, 0) }}
            {% endif %}
        {% endfor %}
    </ul>

{% endspaceless %}
