{#
    This include automagically loads the correct module from the modules folder.
    This should not be edited.
#}
{% spaceless %}
{% set modulestatus = module.get('enabled') %}
{% if modulestatus == 'enabled' %}
    {% set title = module.get('title') %}
    {% set subtitle = module.get('subtitle') %}
    {% set anchortitle = module.get('anchortitle') %}
    {% set anchorslug = anchortitle|slugify() %}
    {% set body = module.get('body') %}
    {% set template = module.get('templates') %}
    {% set icon = module.get('icon') %}
    {% set templatefile = 'modules/_' ~ template ~ '.twig' %}
    {% set ordering = module.get('ordering') %}
    {% set sources = module.get('sources') %}
    {% set sourcetemplatefile =  'modules/_' ~ template ~ '_' ~ sources ~ '.twig' %}
    {% set override_amount = module.get('override_amount') %}
    {% set allow_pager = false %}
    {% set modulemorelink = module.get('modulemorelink')|default('') %}
    {% set modulemorelabel = module.get('modulemorelabel')|default('') %}
    {% set modulemoretext = module.get('modulemoretext')|default('') %}
    {% if override_amount == '' or override_amount == 0 %}
        {% set override_amount = 100 %}
    {% endif %}

    {#
    {{ dump(app.request, 'subtype:' ~ app.request.attributes.get('subtype', ''), 'taxonomyname:' ~ app.request.attributes.get('taxonomyname', '') , 'taxonomyterm:' ~ app.request.attributes.get('taxonomyterm', '')) }}
    #}

    {% set subtypesslugs = [] %}
    {% set allcontenttypes = app.config.get('contenttypes') %}
    {% set subtypes = []|merge(allcontenttypes.pages.fields.pagetype.values)
        |merge(allcontenttypes.posts.fields.posttype.values)
        |merge(allcontenttypes.persons.fields.network_participation.values)
        |merge(allcontenttypes.projects.fields.projecttype.values)
    %}
    {% for type, label in subtypes %}
        {% set subtypesslugs = subtypesslugs|merge({ ((type)|slugify): type }) %}
    {% endfor %}
    {#{{ dump(subtypes, subtypesslugs) }}#}

    {% set subtype = app.request.attributes.get('subtype', '') %}

    {% if subtypesslugs[subtype] is defined %}
        {% set subtype = subtypesslugs[subtype] %}
    {% endif %}

    {% set taxonomyname = app.request.attributes.get('taxonomyname', '') %}
    {% set taxonomyterm = app.request.attributes.get('taxonomyterm', '') %}
    {% if taxonomyterm is empty or taxonomyname is empty %}
        {% set taxonomyterm = 1 %}
        {% set taxonomyname = 1 %}
        {# TODO: if taxonomy term does not exist in taxonomy name #}
        {# TODO: if taxonomy term does not exist #}
    {% endif %}

    {# set default filtervalue and filtername #}
    {% set filtername = 1 %}
    {% set filtervalue = 1 %}

    {% set selected_records = [] %}
    {% if template != 'body' and ordering == 'specified' %}
        {% set field = 'selected_' ~ sources %}
        {% set ids = module.get(field) %}
        {% if ids is not iterable %}
            {# fix iterable ids if the content is json in a textfield #}
            {% set ids = ids|json_decode() %}
        {% endif %}
        {% if ids is iterable %}
            {% for id in ids %}
                {% set contentquery = sources ~ '/' ~ id %}
                {% setcontent record = contentquery returnsingle %}
                {% set selected_records = selected_records|merge([record]) %}
            {% endfor %}
            {% set allow_pager = false %}
        {% endif %}
    {% elseif template != 'body' and ordering == 'random' %}
        {% set contentquery = sources ~ '/' ~ ordering ~ '/' ~ override_amount|default(10) %}
        {% setcontent selected_records = contentquery %}
        {% set allow_pager = false %}
    {% elseif template != 'body' %}
        {% set allow_pager = true %}

        {% set filtername = 1 %}
        {% set filtervalue = 1 %}
        {% set featuredfilter = false %}
        {% set featuredtype = 0 %}
        {% if sources == 'persons'  %}
            {% if subtype is not empty or module.get('filter_persons') is not empty %}
                {% set filtername = 'network_participation' %}
                {% set filtervalue = subtype|default(module.get('filter_persons')) %}
            {% endif %}
        {% elseif sources == 'posts' %}
            {% if subtype is not empty or module.get('filter_posts') is not empty %}
                {% set filtername = 'posttype' %}
                {% set filtervalue = subtype|default(module.get('filter_posts')) %}
            {% endif %}
            {% set featuredfilter = true %}
            {% set featuredtype = 'posts' %}
        {% elseif sources == 'data' %}
            {% if subtype is not empty or module.get('filter_data') is not empty %}
                {% set filtername = 'datatype' %}
                {% set filtervalue = subtype|default(module.get('filter_data')) %}
            {% endif %}
        {% elseif sources == 'projects' %}
            {% if subtype is not empty or module.get('filter_projects') is not empty %}
                {% set filtername = 'projecttype' %}
                {% set filtervalue = subtype|default(module.get('filter_projects')) %}
            {% endif %}
        {% elseif sources == 'events' %}
            {% set featuredfilter = true %}
            {% set featuredtype = 'events' %}
        {% endif %}
        {#
        {{ dump( 'filtername: ' ~ filtername,
                  'filtervalue: ' ~ filtervalue,
                  'taxonomyname: ' ~ taxonomyname,
                  'taxonomyterm: ' ~ taxonomyterm) }}
        #}

        {% if ordering == 'latest' %}
            {% if featuredfilter == true %}
                {% setcontent featured_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    'featured': '>= 1'
                } orderby '-datepublish' limit override_amount|default(10) allowpaging %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    'featured': false
                } orderby '-datepublish' limit override_amount|default(10) allowpaging %}
                {% set selected_records = featured_records|merge(selected_records) %}
            {% else %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm)
                } orderby '-datepublish' limit override_amount|default(10) allowpaging %}
            {% endif %}
        {% elseif ordering == 'latest_unpaged' %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm)
            } orderby '-datepublish' limit override_amount|default(10) %}
            {% set allow_pager = false %}
        {% elseif ordering == 'oldest' %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm)
            } orderby 'datepublish' limit override_amount|default(10) allowpaging %}
        {% elseif ordering == 'oldest_unpaged' %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm)
            } orderby 'datepublish' limit override_amount|default(10) %}
            {% set allow_pager = false %}
        {% elseif ordering == 'alphabetical' %}
            {% if sources != 'persons' %}
                {% setcontent selected_records = sources where {
                    (filtername): '%' ~ (filtervalue) ~'%',
                    (taxonomyname): (taxonomyterm)
                } orderby 'title' limit override_amount|default(10) allowpaging %}
            {% else %}
                {% setcontent selected_records = sources where {
                    (filtername): '%' ~ (filtervalue) ~'%',
                    (taxonomyname): (taxonomyterm)
                } orderby 'last_name' limit override_amount|default(10) allowpaging %}
            {% endif %}
        {% elseif ordering == 'tag' %}
            {% set basetag = module.get('basetag') %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                tags: basetag
            } orderby '-datepublish' limit override_amount|default(10) allowpaging %}
        {% elseif ordering == 'tag_unpaged' %}
            {% set basetag = module.get('basetag') %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                tags: basetag
            } orderby '-datepublish' limit override_amount|default(10) %}
            {% set allow_pager = false %}
        {% elseif ordering == 'category' %}
            {% set basecategory = module.get('basecategory') %}
            {% if basecategory|default() is not empty %}
                {% if basecategory in app.config.get('taxonomy')['categories']['options']|keys %}
                    {% set basetaxonomyname = 'categories' %}
                {% elseif basecategory in app.config.get('taxonomy')['categories']['options'] %}
                    {% set basetaxonomyname = 'categories' %}
                {% elseif basecategory in app.config.get('taxonomy')['communities']['options']|keys %}
                    {% set basetaxonomyname = 'communities' %}
                {% elseif basecategory in app.config.get('taxonomy')['communities']['options'] %}
                    {% set basetaxonomyname = 'communities' %}
                {% elseif basecategory in app.config.get('taxonomy')['markets']['options']|keys %}
                    {% set basetaxonomyname = 'markets' %}
                {% elseif basecategory in app.config.get('taxonomy')['markets']['options'] %}
                    {% set basetaxonomyname = 'markets' %}
                {% else %}
                    {% set basetaxonomyname = 'categories' %}
                {% endif %}
            {% endif %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (basetaxonomyname): (basecategory)
            } orderby '-datepublish' limit override_amount|default(10) allowpaging %}
        {% elseif ordering == 'category_unpaged' %}
            {% set basecategory = module.get('basecategory') %}
            {# filter taxonomies #}
            {% if basecategory|default() is not empty %}
                {% if basecategory in app.config.get('taxonomy')['categories']['options']|keys %}
                    {% set basetaxonomyname = 'categories' %}
                {% elseif basecategory in app.config.get('taxonomy')['categories']['options'] %}
                    {% set basetaxonomyname = 'categories' %}
                {% elseif basecategory in app.config.get('taxonomy')['communities']['options']|keys %}
                    {% set basetaxonomyname = 'communities' %}
                {% elseif basecategory in app.config.get('taxonomy')['communities']['options'] %}
                    {% set basetaxonomyname = 'communities' %}
                {% elseif basecategory in app.config.get('taxonomy')['markets']['options']|keys %}
                    {% set basetaxonomyname = 'markets' %}
                {% elseif basecategory in app.config.get('taxonomy')['markets']['options'] %}
                    {% set basetaxonomyname = 'markets' %}
                {% else %}
                    {% set basetaxonomyname = 'categories' %}
                {% endif %}
            {% endif %}
            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (basetaxonomyname): (basecategory)
            } orderby '-datepublish' limit override_amount|default(10) %}
            {% set allow_pager = false %}
        {% elseif ordering == 'market' %}
            {% set basemarket = module.get('basemarket') %}

            {% if basemarket in app.config.get('taxonomy')['markets']['options']|keys %}
                {% set basetaxonomyname = 'markets' %}
            {% elseif basemarket in app.config.get('taxonomy')['markets']['options'] %}
                {% set basetaxonomyname = 'markets' %}
            {% else %}
                {% set basetaxonomyname = 'markets' %}
            {% endif %}

            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (basetaxonomyname): (basemarket)
            } orderby '-datepublish' limit override_amount|default(10) allowpaging %}
        {% elseif ordering == 'market_unpaged' %}
            {% set basemarket = module.get('basemarket') %}

            {% if basemarket in app.config.get('taxonomy')['markets']['options']|keys %}
                {% set basetaxonomyname = 'markets' %}
            {% elseif basemarket in app.config.get('taxonomy')['markets']['options'] %}
                {% set basetaxonomyname = 'markets' %}
            {% else %}
                {% set basetaxonomyname = 'markets' %}
            {% endif %}

            {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (basetaxonomyname): (basemarket)
            } orderby '-datepublish' limit override_amount|default(10) %}
            {% set allow_pager = false %}
        {% elseif ordering == 'calendar' and sources in ['events', 'projects'] %}
            {% set basecategory = module.get('basecategory')|default('') %}
            {% set basetag = module.get('basetag')|default('') %}
            {% set basemarket = module.get('basemarket')|default('') %}
            {% if basecategory != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    categories: basecategory
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basemarket != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    markets: basemarket
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basetag != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    tags: basetag
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% else %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm)
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% endif %}
            {% set allow_pager = true %}
        {% elseif ordering == 'calendar_active' and sources in ['events', 'projects'] %}
            {% set basecategory = module.get('basecategory')|default('') %}
            {% set basetag = module.get('basetag')|default('') %}
            {% set basemarket = module.get('basemarket')|default('') %}
            {% if basecategory != '' %}
                {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm),
                categories: basecategory,
                'end_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basemarket != '' %}
                {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm),
                markets: basemarket,
                'end_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basetag != '' %}
                {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm),
                tags: basetag,
                'end_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% else %}
                {% setcontent selected_records = sources where {
                (filtername): (filtervalue),
                (taxonomyname): (taxonomyterm),
                'end_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% endif %}
            {% set allow_pager = true %}
        {% elseif ordering == 'calendar_upcoming' and sources in ['events', 'projects'] %}
            {% set basecategory = module.get('basecategory')|default('') %}
            {% set basetag = module.get('basetag')|default('') %}
            {% set basemarket = module.get('basemarket')|default('') %}
            {% if basecategory != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    categories: basecategory,
                    'start_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basemarket != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    markets: basemarket,
                    'start_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basetag != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    tags: basetag,
                    'start_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% else %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    'start_event': '> yesterday'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% endif %}
            {% set allow_pager = true %}
        {% elseif ordering == 'calendar_archive' and sources in ['events', 'projects'] %}
            {% set basecategory = module.get('basecategory')|default('') %}
            {% set basetag = module.get('basetag')|default('') %}
            {% set basemarket = module.get('basemarket')|default('') %}
            {% if basecategory != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    categories: basecategory,
                    'end_event': '< tomorrow'
                } orderby '-start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basemarket != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    markets: basemarket,
                    'end_event': '< tomorrow'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% elseif basetag != '' %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    tags: basetag,
                    'end_event': '< tomorrow'
                } orderby 'start_event' limit override_amount|default(10) allowpaging %}
            {% else %}
                {% setcontent selected_records = sources where {
                    (filtername): (filtervalue),
                    (taxonomyname): (taxonomyterm),
                    'end_event': '< tomorrow'
                } orderby '-start_event' limit override_amount|default(10) allowpaging %}
            {% endif %}
            {% set allow_pager = true %}
        {% else %}
            {# {{ dump(module, template, ordering, override_amount) }} #}
        {% endif %}
    {% else %}
        {% set allow_pager = false %}
    {% endif %}
    <!-- loading templatefile for module: '{{ sourcetemplatefile }}' or {{ templatefile }}' or 'modules/_default.twig' -->
    {# automatically load module template #}
    {%- if anchortitle is not empty %}<a class="in-page-anchor" name="{{ anchorslug }}" data-anchor-title="{{ anchortitle }}"></a>{% endif -%}
    {% include [sourcetemplatefile, templatefile, 'modules/_default.twig'] with {
        'module': module,
        'title': title,
        'body': body,
        'icon': icon,
        'records': selected_records,
        'allow_pager': allow_pager
    } %}
{% endif %}
{% endspaceless %}

