{# DOWNLOAD MODULE #}

<section class="download-module">
    <ul>
        {% for item in record.attachments %}
        <li>
            {% set fileinfo = imageinfo(item.filename) %}
            <a href="/files/{{ item.filename }}" download="{{ fileinfo.filename }}">
                <svg class="icon icon-download">
                    <use xlink:href="#icon-download"></use>
                </svg>
                    {{ item.title }}
                <div class="meta">
                    <span class="filesize">{{ fileinfo.getSizeFormatted() }}</span>
                    <span class="date-added">Added {{ fileinfo.carbon|localedatetime("%Y-%m-%d") }}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
