{# EVENT MAP #}

{% if record.values.image is defined and record.values.image is not empty %}
<figure class="event-figure{% if record.author|length > 1 %} non-wide{% endif %}">

    <div class="add-calendar-wrapper">
        {% include 'partials/_add-to-calendar.twig'%}
    </div>

    {% if record.geolocation is not empty %}
        <div class="map">
            {# HERE BE MAP #}

            {% if record.geolocation is not empty and record.geolocation.address|default is not empty %}
                <img width="640" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?key={{ app.config.get('general/google_api_key') -}}&center={{ record.geolocation.latitude }},{{ record.geolocation.longitude - 0.15}}&zoom=11&scale=2&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{ record.geolocation.address }}" alt="Google Map of {{ record.geolocation.address }}">
            {% else %}
            {# Right now, this is not reachable. See {% if record.geolocation is not empty %} a few lines above. #}
            {# <img width="640" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?key={{ app.config.get('general/google_api_key') -}}&center=München&zoom=4&scale=2&size=640x400&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of Europa">#}
            {% endif %}

            {% include 'partials/_event_mainimage.twig' %}
        </div>
    {% else %}
        {% include 'partials/_event_mainimage.twig' with { 'width': 1200, 'height': 600 } %}
    {% endif %}

    {% if record.values.image.title is defined %}
    <figcaption>
        {{ record.values.image.title }}
    </figcaption>
    {% endif %}

</figure>
{% endif %}
