{# EVENT MAP #}

<figure class="event-figure">
    <div class="map">

        {# HERE BE MAP #}
        <img width="640" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?center={{ record.geolocation.latitude }},{{ record.geolocation.longitude - 0.03}}&zoom=13&scale=2&size=640x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{ record.geolocation.address }}" alt="Google Map of {{ record.geolocation.address }}">

        <div class="img-container">
            <img class="event-img" src="{{ record.image|default('notfound')|thumbnail(700, 510, 'c') }}" alt="{{ record.title }}" />

            <div class="info-block">
                {% include 'partials/_event-datetime.twig' %}
                <span class="event-location">
                    <svg class="icon icon-location">
                        <use xlink:href="#icon-location"></use>
                    </svg>
                    {{ record.geolocation.address }}
                </span>
            </div>
        </div>

    </div>

    <figcaption>
        {{ record.values.image.title }}
    </figcaption>
</figure>

