<!-- Start Footer -->

<a class="button floating backtotop" id="backtotop" href="#header">
    {% spaceless %}
    <svg class="icon icon-facet_up">
        <use xlink:href="#icon-facet_up"></use>
    </svg><span class="sr-only">top</span>
    {% endspaceless %}
</a>

<footer>
    <div class="inner-wrap">

        <div class="group">
            <div class="footer-block footer-block-address h-card">
                <img class="logo-small u-logo" src="{{ paths.theme }}images/europeana_logo_footer_white.png" alt="Europeana"/>
                <address>
                    <span class="p-name">Europeana Foundation</span>
                    <br /><span class="p-street-address">Prins Willem-Alexanderhof 5</span>
                    <br /><span class="p-postal-code">2595 BE</span> <span class="p-locality">Den Haag</span>
                    <br /><span class="p-country-name">Netherlands</span>
                </address>
            </div>

            {% setcontent footermission = 'resources/footer-mission' %}
            <div class="footer-block footer-block-mission">
                {% if footermission is not empty %}
                    <h4>{{ footermission.title }}</h4>
                    {{ footermission.body }}
                {% else %}
                    <h4>Our mission</h4>
                    <p>
                        We transform the world with culture! We want to build on Europe’s rich heritage and make it easier for people to use, whether for work, for learning or just for fun.
                    </p>
                {% endif %}
            </div>

            <div class="footer-block footer-block-socials">
                <h4>Find us elsewhere</h4>
                <div class="socials">
                    <a href="https://twitter.com/EuropeanaEU" class="tw">
                        <svg class="icon icon-twitter">
                            <use xlink:href="#icon-twitter"> </use>
                        </svg> <span class="sr-only">twitter</span>
                    </a>
                    <a href="https://www.facebook.com/Europeana" class="fb">
                         <svg class="icon icon-facebook">
                            <use xlink:href="#icon-facebook"> </use>
                        </svg> <span class="sr-only">facebook</span>
                    </a>
                    <a href="https://plus.google.com/+europeana/posts" class="gp">
                         <svg class="icon icon-googleplus">
                            <use xlink:href="#icon-googleplus"> </use>
                        </svg> <span class="sr-only">Google Plus</span>
                    </a>
                    <a href="https://www.linkedin.com/groups/Europeana-134927/about" class="li">
                         <svg class="icon icon-linkedin">
                            <use xlink:href="#icon-linkedin"> </use>
                        </svg> <span class="sr-only">Linked In</span>
                    </a>
                    <a href="https://github.com/europeana" class="gh">
                         <svg class="icon icon-github">
                            <use xlink:href="#icon-github"> </use>
                        </svg> <span class="sr-only">Github</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="sub-footer">

            {{ menu('footer', 'partials/_menu_footer.twig') }}

            <p class="copyright">
                <img src="{{paths.theme}}images/flag_european_union.svg" width='40' />
                Co-funded by the European Union.</p>
            {% setcontent footerinfo = 'resources/footer-info' %}
            {% if footerinfo is not empty %}
                {{ footerinfo.body }}
            {% endif %}
        </div>

    </div>
</footer>
{% block editlink %}
    {{ include('partials/_editlink.twig') }}
{% endblock editlink %}
