<header id="header">

    <button class="toggle menu-toggle">
        <svg class="icon icon-menu">
            <use xlink:href="#icon-menu"></use>
        </svg>
        <svg class="icon icon-delete">
            <use xlink:href="#icon-delete"></use>
        </svg>
    </button>

    <button class="toggle search-toggle">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>



    <div class="mainlogo">
        {% if app.request.get('_route') == 'homepage' %}
        <h1 class="">
            <img src="{{ paths.theme }}images/europeana_logo.svg" alt="Europeana" />
        </h1>
        {% else %}

        <a class="home-link" href="/">
            <img src="{{ paths.theme }}images/europeana_logo.svg" alt="Europeana" />
        </a>

        {% endif %}

        <div class="version-flag">
            beta
        </div>
    </div>

    <p class="payoff">{{ app.config.get('general/payoff') }}</p>

    <form method="get" action="{{ path('search') }}" class="searchform" enctype="text/plain">
        <input type="search" value="{% if q is defined %}{{ q|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="q"><button type="submit" class="button">
            <svg class="icon icon-calendar">
                <use xlink:href="#icon-search"></use>
            </svg>
            <span class="sr-only">search</span>
        </button>
    </form>

</header>
