{% if item is not defined %}
    {% set item = record %}
{% endif %}


{% if parentitem == 'banner' or parentitem == 'mainimage' %}

{#
- banners / blocks
    - image_attribution_title
    - image_attribution_date
    - image_attribution_creator
    - image_attribution_holder
    - image_attribution_country
    - image_attribution_link
    - imagelicense

- mainimage
    - image_attribution_title
    - image_attribution_date
    - image_attribution_creator
    - image_attribution_holder
    - image_attribution_country
    - image_attribution_link
    - image_attribution_license
#}

    {% set attribution_title     = item.image_attribution_title|default('') %}
    {% set attribution_date      = item.image_attribution_date|default('') %}
    {% set attribution_creator   = item.image_attribution_creator|default('') %}
    {% set attribution_holder    = item.image_attribution_holder|default('') %}
    {% set attribution_country   = item.image_attribution_country|default('') %}
    {% set attribution_link      = item.image_attribution_link|default('') %}
    {% if item.imagelicense is defined %}
        {% set attribution_license = item.imagelicense|default('') %}
    {% else %}
        {% set attribution_license = item.image_attribution_license|default('') %}
    {% endif %}

{% elseif parentitem == 'teaser' %}

    {#
- teasers
    - teaser_attribution_title
    - teaser_attribution_date
    - teaser_attribution_creator
    - teaser_attribution_holder
    - teaser_attribution_country
    - teaser_attribution_link
    - teaser_attribution_license
#}
    {% set attribution_title     = item.teaser_attribution_title|default('') %}
    {% set attribution_date      = item.teaser_attribution_date|default('') %}
    {% set attribution_creator   = item.teaser_attribution_creator|default('') %}
    {% set attribution_holder    = item.teaser_attribution_holder|default('') %}
    {% set attribution_country   = item.teaser_attribution_country|default('') %}
    {% set attribution_link      = item.teaser_attribution_link|default('') %}
    {% set attribution_license   = item.teaser_attribution_license|default('') %}


{% elseif parentitem == 'module' %}
    {#
- repeaters
    - attribution_title
    - attribution_date
    - attribution_creator
    - attribution_holder
    - attribution_country
    - attribution_link
    - attribution_license
#}

    {% set attribution_title     = module.get('attribution_title')|default('') %}
    {% set attribution_date      = module.get('attribution_date')|default('') %}
    {% set attribution_creator   = module.get('attribution_creator')|default('') %}
    {% set attribution_holder    = module.get('attribution_holder')|default('') %}
    {% set attribution_country   = module.get('attribution_country')|default('') %}
    {% set attribution_link      = module.get('attribution_link')|default('') %}
    {% set attribution_license   = module.get('attribution_license')|default('') %}
{% endif %}

{% if (attribution_license is defined and attribution_license is not empty)
       or (attribution_title is defined and attribution_title is not empty) %}

    <div class="license-attribution">
        <button class="image-info">
            {# <span><span>c</span></span> #}

            <svg class="icon icon-copyright">
                <use xlink:href="#icon-copyright"></use>
            </svg>
        </button>

        <article>
            <p>{{ attribution_title }} - {{ attribution_creator }}</p>
            <p>{{ attribution_date }}</p>
            <p>{{ attribution_holder }}</p>
            <p>{{ attribution_country }}</p>
            {% if attribution_link %}
                {# <p><a href="{{ attribution_link }}">Source</a></p> BREAKS LAYOUT, BECAUSE a in a #}
            {% endif %}

            {% if (attribution_license is defined and attribution_license is not empty) %}

                {# Showing the correct icons #}

                {% if attribution_license == 'Public-Domain' %}
                    <svg class="icon icon-cc_publicdomain">
                        <use xlink:href="#icon-cc_publicdomain"></use>
                    </svg>
                {% elseif attribution_license == 'CC0' %}
                    <svg class="icon icon-cc">
                        <use xlink:href="#icon-cc_zero"></use>
                    </svg>
                {% else %}
                    <svg class="icon icon-cc">
                        <use xlink:href="#icon-cc"></use>
                    </svg>

                    {% if 'BY' in attribution_license %}
                        <svg class="icon icon-cc_by">
                            <use xlink:href="#icon-cc_by"></use>
                        </svg>
                    {% endif %}

                    {% if 'NC' in attribution_license %}
                        <svg class="icon icon-cc_nc">
                            <use xlink:href="#icon-cc_nc"></use>
                        </svg>
                    {% endif %}

                    {% if 'SA' in attribution_license %}
                        <svg class="icon icon-cc_sa">
                            <use xlink:href="#icon-cc_sa"></use>
                        </svg>
                    {% endif %}

                {% endif %}

                {% set labels = config.get('contenttypes/pages/fields/image_attribution_license/values') %}

                <span class="image-license">{{ labels[attribution_license] }}</span>

            {% endif %}

        </article>
    </div>
    {% endif %}