{% if item is not defined %}
    {% set item = record %}
{% endif %}

{% if parentitem is not defined %}
    {% set parentitem = '' %}
{% endif %}

{# expanded = true in include: Attribution always open #}

{% if expanded is not defined %}
    {% set expanded = false %}
{% endif %}


{% if parentitem == 'banner' or parentitem == 'mainimage' %}

{#
- banners / blocks
    - image_attribution_title
    - image_attribution_date
    - image_attribution_creator
    - image_attribution_holder
    - image_attribution_country
    - image_attribution_link
    - imagelicense

- mainimage
    - image_attribution_title
    - image_attribution_date
    - image_attribution_creator
    - image_attribution_holder
    - image_attribution_country
    - image_attribution_link
    - image_attribution_license
#}

    {% set attribution_title     = item.image_attribution_title|default('') %}
    {% set attribution_date      = item.image_attribution_date|default('') %}
    {% set attribution_creator   = item.image_attribution_creator|default('') %}
    {% set attribution_holder    = item.image_attribution_holder|default('') %}
    {% set attribution_country   = item.image_attribution_country|default('') %}
    {% set attribution_link      = item.image_attribution_link|default('') %}
    {% if item.imagelicense is defined and item.imagelicense is not empty %}
        {% set attribution_license = item.imagelicense|default('') %}
    {% else %}
        {% set attribution_license = item.image_attribution_license|default('') %}
    {% endif %}

{% elseif parentitem == 'teaser' %}

    {#
- teasers
    - teaser_attribution_title
    - teaser_attribution_date
    - teaser_attribution_creator
    - teaser_attribution_holder
    - teaser_attribution_country
    - teaser_attribution_link
    - teaser_attribution_license
#}
    {% set attribution_title     = item.teaser_attribution_title|default('') %}
    {% set attribution_date      = item.teaser_attribution_date|default('') %}
    {% set attribution_creator   = item.teaser_attribution_creator|default('') %}
    {% set attribution_holder    = item.teaser_attribution_holder|default('') %}
    {% set attribution_country   = item.teaser_attribution_country|default('') %}
    {% set attribution_link      = item.teaser_attribution_link|default('') %}
    {% set attribution_license   = item.teaser_attribution_license|default('') %}


{% elseif parentitem == 'module' %}
    {#
- repeaters
    - attribution_title
    - attribution_date
    - attribution_creator
    - attribution_holder
    - attribution_country
    - attribution_link
    - attribution_license
#}

    {% set attribution_title     = module.attribution_title|default('') %}
    {% set attribution_date      = module.attribution_date|default('') %}
    {% set attribution_creator   = module.attribution_creator|default('') %}
    {% set attribution_holder    = module.attribution_holder|default('') %}
    {% set attribution_country   = module.attribution_country|default('') %}
    {% set attribution_link      = module.attribution_link|default('') %}
    {% set attribution_license   = module.attribution_license|default('') %}
{% endif %}

{% if (attribution_license is defined and attribution_license is not empty)
       or (attribution_title is defined and attribution_title is not empty) %}


        <div class="license-attribution{% if expanded == true %} always-expanded{% endif %}">

        <button class="image-info" aria-label="{{ attribution_title }} attribution">
            <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
            </svg>
        </button>

        <dl>
            <dd>
            {% if attribution_link  is not empty %}
                    <a class='sourcelink' href="{{ attribution_link }}">
            {% endif %}

            <span class="def">Title:</span> {{ attribution_title }}

            {% if attribution_link  is not empty %}
                </a>
            {% endif %}
            </dd>

            {% if attribution_creator is not empty %}
                <dd><span class="def">Creator:</span> {{ attribution_creator }}</dd>
            {% endif %}

            {% if attribution_date is not empty %}
                <dd><span class="def">Date:</span> {{ attribution_date }}</dd>
            {% endif %}

            {% if attribution_holder is not empty %}
                <dd><span class="def">Institution:</span> {{ attribution_holder }}</dd>
            {% endif %}

            {% if attribution_country is not empty %}
                <dd><span class="def">Country:</span> {{ attribution_country }}</dd>
            {% endif %}

            {% if (attribution_license is defined and attribution_license is not empty) %}

                {# Showing the correct icons + link #}
                {% set iconlinks = {
                    'Public-Domain' : 'https://creativecommons.org/publicdomain/mark/1.0/',
                    'CC0' : 'https://creativecommons.org/publicdomain/zero/1.0/',
                    'CC-BY' : 'https://creativecommons.org/licenses/by/1.0/',
                    'CC-BY-SA' : 'https://creativecommons.org/licenses/by-sa/1.0/',
                    'CC-BY-NC' : 'https://creativecommons.org/licenses/by-nc/1.0/',
                    'CC-BY-NC-SA' : 'https://creativecommons.org/licenses/by-nc-sa/1.0/'
                    }
                %}


                <a class="attributionlink" href="{{ iconlinks[attribution_license] }}" target="_blank">

                {% if attribution_license == 'Public-Domain' %}
                    <svg class="icon icon-cc_publicdomain">
                        <use xlink:href="#icon-cc_publicdomain"></use>
                    </svg>
                {% elseif attribution_license == 'CC0' %}
                    <svg class="icon icon-cc">
                        <use xlink:href="#icon-cc_zero"></use>
                    </svg>
                {% else %}
                    <svg class="icon icon-cc">
                        <use xlink:href="#icon-cc"></use>
                    </svg>

                    {% if 'BY' in attribution_license %}
                        <svg class="icon icon-cc_by">
                            <use xlink:href="#icon-cc_by"></use>
                        </svg>
                    {% endif %}

                    {% if 'NC' in attribution_license %}
                        <svg class="icon icon-cc_nc">
                            <use xlink:href="#icon-cc_nc"></use>
                        </svg>
                    {% endif %}

                    {% if 'SA' in attribution_license %}
                        <svg class="icon icon-cc_sa">
                            <use xlink:href="#icon-cc_sa"></use>
                        </svg>
                    {% endif %}

                {% endif %}

                {% set labels = config.get('contenttypes/pages/fields/image_attribution_license/values') %}

                <span class="image-license">{{ labels[attribution_license] }}</span>

                </a>

            {% endif %}

        </dl>
    </div>
    {% endif %}
