{% spaceless %}
    {# This file might seem a little complex, because of the high density of tags.
       It uses Twig macros and ternary selectors. Read up on them, if required:
       macros: http://twig.sensiolabs.org/doc/templates.html#macros
       ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
    #}

    {# Make sure the setting for the submenus is defined. #}
    {% if withsubmenus is not defined %}
        {% set withsubmenus = true %}
    {% endif %}

    {# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
       invokes itself to insert the items of the submenus. #}
    {% macro display_menu_item(item, loop, withsubmenus, level, parentLinks) %}
        {% from _self import display_menu_item %}
        {% from _self import is_current_url %}
        {% set active = item|current or item.link in parentLinks %}

        {% spaceless %}
            <li class="index-{{ loop.index -}}
                {{ item.path|default('') == 'homepage' ? '' -}}
                {{ ' ' ~ item.class|default('') -}}
                {{ loop.first ? ' first' -}}
                {{ loop.last ? ' last' -}}
                {{ ' level-' ~ level -}}
                {{ (item.submenu|default(false) and withsubmenus) ? ' is-parent' -}}
                {{ active ? ' active' -}}
                {{ is_current_url(item) -}}">

                <a href="{{ item.link }}" title='{{ item.title|default('')|escape }}'>
                    {{- item.label|default('-') -}}
                </a>

                {% if item.submenu is defined and withsubmenus and active and level == 0 %}
                    <ul class="sub-menu" data-submenu>
                        {% set sublevel = level+1 %}
                        {% for submenu in item.submenu %}
                            {{ display_menu_item(submenu, loop, withsubmenus, sublevel, parentLinks) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endspaceless %}
    {% endmacro %}

    {% macro is_current_url(item) %}
        {% spaceless %}
            {% set currentfullpath = '/'~app.request.get('slug') %}
            {% if item.path|default(false) == currentfullpath %}
                active
            {% elseif item.link|default(false) == currentfullpath %}
                active
            {% endif %}
        {% endspaceless %}
    {% endmacro %}

    {# Make the macros available for use #}
    {% from _self import is_current_url %}
    {% from _self import display_menu_item %}

    {% set parentLinks = [] %}

    {% if record is defined %}
        {% set parents = getParents(record) %}

        {% for parent in parents %}
            {% set parentLinks = parentLinks|merge([ parent.link ]) %}
        {% endfor %}

        {% set parentLinks = parentLinks|merge([ record.link ]) %}
    {% endif %}


    {# The main menu loop: Iterates over the items, calling `display_menu_item` #}
    {# we need all these classes for the jquery interactivity #}
    <ul class="primary-menu" id="primary-menu">
        {% for item in menu %}
            {% if item.label is defined %}
                {{ display_menu_item(item, loop, withsubmenus, 0, parentLinks) }}
            {% endif %}
        {% endfor %}
    </ul>

{% endspaceless %}

{# All you inline styles are belong to us -> moves to source/scss/modules/_navigation.scss #}
