{# SIDE-INFO #}

{% set centerclass = '' %}
{% if
    (record.deadline is not empty) or
    (record.start_event is not empty and record.contenttype.slug in ['projects']) %}

    {% set centerclass='centered-info' %}

{% endif %}


<div class="side-info {{ centerclass }}">
    {% if record.pagetype is defined
        and not (record.pagetype == 'listing' or record.pagetype == 'landingpage' or record.pagetype == 'landingpage-nohighlight')
    %}
        <p class="meta">

            {% if record.contenttype.slug in ['posts'] %}
            {% include 'partials/_readtime.twig' %}
            {% endif %}

            <span class="date">Posted on {{ record.datepublish|localedatetime("%A %B %e, %Y") }}</span>
        </p>
    {% endif %}

    {% include 'partials/_tags.twig' %}

    {% if record.team is not empty %}
        {% set team = record.team %}
    {% elseif record.department is not empty %}
        {% set team = record.department %}
    {% endif %}

    {% if team is defined and team is not empty %}

    <span class="svg-link teamname" href="#">
        <svg class="icon icon-users">
            <use xlink:href="#icon-users"></use>
        </svg>
        {{ team }}
    </span>
    {% endif %}

    {% if record.deadline is not empty %}
    {# <br /> #} {#dirty hack, Anke, works! #}
    <div class="deadline-block">
        <div class="date-block">
            <span class="date-txt">Deadline</span>
            <span class="date">{{ record.deadline|localedatetime("%e %B %Y") }}</span>
        </div>

        {% include 'partials/_add-to-calendar.twig' with { singledate : record.deadline } %}

        </div>
    {% endif %}

    {% if record.start_event is not empty and record.contenttype.slug in ['projects'] %}
    <br />{# dirty hack, Anke, works! #}
    <div class="deadline-block">
        <div class="date-block">
            <span class="date">{{ record.start_event|localedatetime("%e %B %Y") }}</span>
            <span class="date-txt">to</span>
            <span class="date">{{ record.end_event|localedatetime("%e %B %Y") }}</span>
        </div>

        {% include 'partials/_add-to-calendar.twig' %}

        </div>
    {% endif %}


</div>
