<span class="subsite {{ record.subsite }}">
    Source:
    {% if record.subsite == 'pro' %}
        <a href="http://pro.europeana.eu{{ record.link }}" target="_blank">Pro</a>
    {% elseif record.subsite == 'zoho' %}
        <a href="http://pro.europeana.eu{{ record.link|replace({'person': 'network'}) }}" target="_blank">Pro (ZOHO)</a>
    {% elseif record.subsite == 'labs' %}
        {% if record.contenttype.slug == 'documentation' %}
            <a href="http://labs.europeana.eu{{ record.link|replace({'documentation': 'api'}) }}" target="_blank">Labs</a>
        {% else %}
            <a href="http://labs.europeana.eu{{ record.link }}" target="_blank">Labs</a>
        {% endif %}
    {% elseif record.subsite == 'research' %}
        <a href="http://research.europeana.eu{{ record.link }}" target="_blank">Research</a>
    {% elseif record.subsite == 'him' %}
        <a href="http://heritageinmotion.eu{{ record.link }}" target="_blank">Heritage in Motion</a>
    {% else %}
        <a href="http://pro.europeana.eu{{ record.link }}" target="_blank">{{ record.subsite|default('Pro (Default)') }}</a>
    {% endif %}
</span>
