{% if item is not defined %}
    {% set item = record %}
{% endif %}

<div class="tags">
{% if item.taxonomy.categories is defined %}
    {% for cat, catname in item.taxonomy.categories %}
    {# <a class="label" href="{{ cat }}">{{ catname }}</a> #}
    <a class="tag" href="{{ cat }}">{{ catname }}</a>
    {% endfor %}
{% endif %}


{% if item.taxonomy.markets is defined %}
    {% for market, marketname in item.taxonomy.markets %}
    {# <a class="label label-markets" href="{{ market }}">{{ marketname }}</a> #}
    <a class="tag" href="{{ market }}">{{ marketname }}</a>
    {% endfor %}
{% endif %}


{% if item.taxonomy.tags is defined %}
    {% for tag, tagname in item.taxonomy.tags %}
    <a class="tag" href="{{ tag }}">{{ tagname }}</a>
    {% endfor %}
{% endif %}


{# Data and app specific taxonomies, display as tags for now #}

{% for taxslug in ['apptypes','appmarkets','itemtype','languagecoverage','subjects', 'spatialcoverage', 'country', 'timecoverage','educationallevel'] %}

    {% if attribute(item.taxonomy, taxslug) is defined %}
        {% for tag, tagname in attribute(item.taxonomy, taxslug) %}
        <a class="tag" href="{{ tag }}">{{ tagname }}</a>
        {% endfor %}
    {% endif %}

{% endfor %}


</div>
