{% if item is not defined %}
    {% set item = record %}
{% endif %}

{% if item.taxonomy.categories is defined %}
    {% for cat, catname in item.taxonomy.categories %}
    <a class="label" href="{{ cat }}">{{ catname }}</a>
    {% endfor %}
{% endif %}


{% if item.taxonomy.markets is defined %}
    {% for market, marketname in item.taxonomy.markets %}
    <a class="label label-markets" href="{{ market }}">{{ marketname }}</a>
    {% endfor %}
{% endif %}


{% if item.taxonomy.tags is defined %}
    {% for tag, tagname in item.taxonomy.tags %}
    <a class="tag" href="{{ tag }}">{{ tagname }}</a>
    {% endfor %}
{% endif %}
