<section class="topbar">

    <button class="toggle menu-toggle">
        <svg class="icon icon-menu">
            <use xlink:href="#icon-menu"></use>
        </svg>
    </button>

    <button class="toggle search-toggle">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
    </button>

    <div class="mainlogo">
        {% if app.request.get('_route') == 'homepage' %}
        <h1 class="">
            <img src="{{ paths.theme }}images/europeana_logo.svg" alt="Europeana" />
        </h1>
        {% else %}
        <div class="alpha">
            <a href="/">
                <img src="{{ paths.theme }}images/europeana_logo.svg" alt="Europeana" />
            </a>
        </div>
        {% endif %}

        <div class="version-flag">
            beta
        </div>
    </div>

    <p class="payoff">{{ app.config.get('general/payoff') }}</p>

    <form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain">
        <input type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search">
        <button type="submit" class="button secondary">
            <svg class="icon icon-calendar">
                <use xlink:href="#icon-search"></use>
            </svg>
            <span class="sr-only">search</span>
        </button>
    </form>

</section>
