<article>
    <h2>
        <a href="{{ record.link }}">
            <img src="{{ image(record.image, 300, 300) }}" title="{{ (record.first_name ~ ' ' ~ record.last_name)|default(record.title|default('title unknown')) }}" />
        </a>
    </h2>

    <div>
        {# display something introduction-like.. #}
        {% if record.introduction %}
            {{ record.introduction }}
        {% elseif record.teaser %}
            {{ record.teaser }}
        {% else %}
            <p>{{ record.excerpt(300, false, search|default('')) }}</p>
        {% endif %}
    </div>
    <div>
        <a href="{{ record.link }}">{{ (record.first_name ~ ' ' ~ record.last_name)|default(record.title|default('title unknown')) }}</a>
    </div>
</article>
