<article class="column third catstream-threecol record-{{ record.contenttype.slug }}">
    {% include('partials/_image_snippet.twig') with { record: record, width: 700, height: 435 } %}

    <h3>{{ record.title }}</h3>

    {# display something introduction-like.. #}
    {% if record.introduction %}
        {{ record.introduction }}
    {% elseif record.teaser %}
        {{ record.teaser }}
    {% else %}
        <p>{{ record.excerpt(300, false, search|default('')) }}</p>
    {% endif %}
    <p class="meta">
        <span class="author">By: <a href="#">Joris Pekel</a></span>
        <span class="readtime">7 mins to read</span>
        <span class="caldate">
            <svg class="icon icon-calendar">
                <use xlink:href="#icon-calendar"></use>
            </svg>
            2 September 2016
        </span>
    </p>
</article>
