<article class="snippet-listing-persons record-{{ record.contenttype.slug  }}">
    <a href="{{ record.link }}">
        <img src="{{ thumbnail(record.image, 300, 300) }}" />
    </a>
    <h2>
        <a href="{{ record.link }}">{{ record.title }}</a>
    </h2>
</article>
