<article class="column third icon-threecol record-{{ record.contenttype.slug  }}">
    <h3>{{ record.title|default('title unknown') }}</h3>
    {% include('partials/_image_snippet.twig') with { record: record, width: 250, height: 250, class: 'round' } %}
    {% if record.teaser %}
        {{ record.teaser }}
    {% elseif record.intro %}
        {{ record.intro }}
    {% else %}
        <p>{{ record.excerpt(300, false, search|default('')) }}</p>
    {% endif %}
</article>
