<section class="snippet-listing-streamers record-{{ record.contenttype.slug  }}">
    <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>

    {{ popup(record.image, 1200, 500) }}

    {# display something introduction-like.. #}
    {% if record.introduction %}
        {{ record.introduction }}
    {% elseif record.teaser %}
        {{ record.teaser }}
    {% else %}
        <p>{{ record.excerpt(300, false, search|default('')) }}</p>
    {% endif %}


    <ul>
        <li>
            <article>
                <h2>A listing of subitems should be here</h2>
                <p>Quid ei reliquisti, nisi te, quoquo modo loqueretur, intellegere, quid diceret? Nonne igitur tibi videntur, inquit, mala?</p>
            </article>
        </li>
        <li>
            <article>
                <h2>Qui enim existimabit posse se miserum esse beatus non erit</h2>
                <p>Tu quidem reddes; Sint ista Graecorum; Prave, nequiter, turpiter cenabat; Ac tamen hic mallet non dolere. Quae duo sunt, unum facit. Hoc est non dividere, sed frangere.</p>
            </article>
        </li>
        <li>
            <article>
                <h2>Tu quidem reddes; Sint ista Graecorum;</h2>
                <p>Quippe: habes enim a rhetoribus; Quod quidem iam fit etiam in Academia. Egone non intellego, quid sit don Graece, Latine voluptas? Si verbum sequimur, primum longius verbum praepositum quam bonum. </p>
            </article>
        </li>
    </ul>
</section>
