<div class="author-small group">
    <img class="round" src="{{ item.image|default('notfound')|thumbnail(72, 72, 'c') }}" alt="portrait of {{ item.first_name }} {{ item.last_name }}"/>
    <p class="name">{{ item.first_name }} {{ item.last_name }}</p>
    <p class="function">{{ item.job_title }}
        {% if item.company is not empty %}, {{ item.company }} {% endif %}
    </p>
</div>