<!-- Sidebar -->

<aside class="large-{{ aside_width }} columns">

    {% if haswidgets('aside_top') %}

        {{ widgets('aside_top') }}

    {% endif %}

    {% if haswidgets('aside_bottom') %}

        {{ widgets('aside_bottom') }}

    {% else %}

        {# This part is only shown if there are no widgets in the 'aside_bottom' widgets slot. #}


        {% for ct in app.config.get('contenttypes') if not ct.viewless|default(false) %}

            {% setcontent records = ct.slug ~ "/latest/3" %}

            <h5>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h5>
            <ul>
                {% for record in records %}
                    <li><a href="{{ record.link }}">{{ record.title|default(record.slug) }}</a> <div class="subsite">{{ record.subsite }}</div></li>
                {% else %}
                    <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
                {% endfor %}
            </ul>
            <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>


        {% endfor %}

    {% endif %}

</aside>

<!-- End Sidebar -->
