{% spaceless %}
<div class="subsite">
    <a {% if record.subsite == 'labs' and record.contenttype.name == 'Documentation' %}
            href="http://labs.europeana.eu/api/{{ record.slug }}"
        {% elseif record.subsite == 'labs' and record.contenttype.name == 'Apps' %}
            href="http://labs.europeana.eu/apps/{{ record.slug }}"
        {% elseif record.subsite == 'zoho' %}
            href="http://pro.europeana.eu/network/{{ record.slug }}"
        {% else %}
            href="http://{{ record.subsite }}.europeana.eu{{ record.link }}"
        {% endif %} target="{{ record.subsite }}" title="View '{{ record.title|excerpt(25) }}' on {{ record.subsite }}">{{ record.subsite }}</a>
</div>
{% endspaceless %}
