{% extends 'partials/_master.twig' %}

{% block body %}
    <main>
        {{ widgets('main_top') }}
        <section>
            <h2>Contenttypes</h2>
            {{ dump(app.config.get('contenttypes')) }}
        </section>
        {%- for ct in app.config.get('contenttypes') if not ct.viewless|default(false) -%}
            <section>
                {%- setcontent records = ct.slug ~ "/latest/5" -%}
                <h2>{{ ct.name }}</h2>
                <ul>{% for record in records %}
                        <li><a href="{{ record.link }}">{{ record.title }}</a></li>
                    {% else -%}
                        <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
                    {% endfor %}</ul>
                <p><a href="{{ path('contentlisting', {'contenttypeslug': ct.slug}) }}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>
                {{ dump(ct) }}
            </section>
        {%- endfor -%}
        {{ widgets('main_bottom') }}
    </main>
{% endblock body %}
