{% extends 'partials/_master.twig' %}

{% block body %}
    <main>
        {{ widgets('main_top') }}
        <section>
            {%- for ct in app.config.get('contenttypes') if not ct.viewless|default(false) -%}
                {%- setcontent records = ct.slug ~ "/latest/3" -%}
                <h2>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h2>
                <ul>{% for record in records %}
                        <li><a href="{{ record.link }}">{{ record.title }}</a></li>
                    {% else -%}
                        <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
                    {% endfor %}</ul>
                <p><a href="{{ path('contentlisting', {'contenttypeslug': ct.slug}) }}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>
            {%- endfor -%}
        </section>
        {{ widgets('main_bottom') }}
    </main>
{% endblock body %}
