{% extends 'partials/_master.twig' %}

{% block bodyclass 'listingpage' %}

{% block main %}


<section>
    <div class="inner-wrap">

        <div class="column">


            {# If used for listing a taxonomy, we add a heading.: #}
            {% if taxonomytype is defined %}
                <h1>
                    {{ __('general.phrase.overview-for') }}
                    {% if taxonomy.options[slug] is defined %}
                        {{ taxonomy.options[slug] }}
                    {% else %}
                        {{ slug }}
                    {% endif %}
                </h1>
                {# Taxonomies are fetched unordered by design except if 'has_sortorder'
                   is set to true. This way we keep 'grouping' intact in the listing. #}
                {% if not taxonomy.has_sortorder %}
                    {# If we specified an order in config.yml, sort them here, accordingly: #}
                    {% set records = records|order(app.config.get('general/listing_sort')) %}
                {% endif %}
            {% elseif contenttype is defined %}
                {# this assumes the first record has the same contenttype as all the others #}
                <h1>{{ contenttype.name|default('List') }}</h1>
            {% endif %}

            <ul class="teaser-list">

            {# Lodewijk needs to do magic here  - FEATURED #}
            {# {% for record in records if record.featured == true %}
                {% set template =  'views/_teaser_' ~ record.contenttype.slug ~ '.twig' %}
                <!-- loading listing templatefile for view: '{{ template }}' or 'views/_teasers.twig' or 'views/_fallback.twig' -->

                {% include [template, 'views/_teaser.twig', 'views/_fallback.twig'] with { item : record } %}
            {% endfor %} #}


            {% for record in records %}
                {% set template =  'views/_teaser_' ~ record.contenttype.slug ~ '.twig' %}
                <!-- loading listing templatefile for view: '{{ template }}' or 'views/_teasers.twig' or 'views/_fallback.twig' -->

                {% include [template, 'views/_teaser.twig', 'views/_fallback.twig'] with { item : record } %}
            {% else %}
                <article>
                    <h2>{{ __('general.phrase.no-content-found') }}</h2>
                    <p>
                        {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                    </p>
                </article>
            {% endfor %}
            </ul>

            {# If there are more records than will fit on one page, the pager is shown. #}
            {{ pager(template = 'partials/_pager.twig') }}

        </div> {# /column #}

    </div>
</section>






{% endblock main %}
