{% extends 'partials/_master.twig' %}

{% block bodyclass 'listingpage' %}

{% block main %}

<section>
    <div class="inner-wrap">

        <div class="column">

            <h1>
                {% if search is not empty %}
                    {{ searchresult.no_of_results }} search results for "{{ search }}"
                {% else %}
                    {{ __('general.phrase.search') }}
                {% endif %}
            </h1>

            <ul class="teaser-list">
            {% for record in records %}
                <li>
                {% set template =  'views/_teaser_' ~ record.contenttype.slug ~ '.twig' %}
                <!-- loading search listing templatefile for view: '{{ template }}' or 'views/_teasers.twig' or 'views/_fallback.twig' -->
                {% include [template, 'views/_teasers.twig', 'views/_fallback.twig'] with {item:record} %}
                </li>
            {% else %}
                <li>
                    <article>
                        <p>
                            {{ __('general.phrase.no-result-for-search-term', { '%SEARCHTERM%': search|escape }) }}
                        </p>
                    </article>
                </li>
            {% endfor %}
            </ul>

            {# If there are more records than will fit on one page, the pager is shown. #}
            {{ pager(template = 'partials/_pager.twig') }}

        </div> {# /column #}

    </div>
</section>

{% endblock main %}
