{% extends 'partials/_master.twig' %}

{% block body %}
    <main>
        <section>
            <h2>Contenttypes</h2>
            {#{{ dump(app.config.get('contenttypes')) }}#}
        </section>
        {%- for ct in app.config.get('contenttypes') if not ct.viewless|default(false) -%}
            <section>
                {%- setcontent records = ct.slug ~ "/random/5" -%}
                <h2>{{ ct.name }}</h2>
                <ul>{% for record in records %}
                        <li>
                            {% include 'partials/_view_title.twig' with {record: record} %}
                        </li>
                    {% else -%}
                        <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
                    {% endfor %}</ul>
                <p><a href="{{ path('contentlisting', {'contenttypeslug': ct.slug}) }}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>
                {#{{ dump(ct) }}#}
            </section>
        {%- endfor -%}
    </main>
{% endblock body %}
